
/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US

    ========================================================  */
/*==============================================
    GENERAL  STYLES
    =============================================*/
@font-face {
    font-family: 'Roboto-Condensed';
    src: url('../fonts/Roboto-Condensed.ttf');
}
body {
    font-family: Roboto-Light;
    background:#ebecf2;
}

 #wrapper {
    width: 100%;
    background:#ebecf2;
    /*min-height: 500px;*/
    /*margin:0 auto;*/
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#ebecf2;

}
.borderStyle{
  margin-top: 10px;
  padding-bottom: 20px;
  padding-top: 10px;
  /*box-shadow: 2px 2px 10px #CCCC99;*/
    background-color: #fff;
}
#page-inner {
    width: 96%;
    /*margin: 4px 20px 10px 0px;*/
    /*background-color: #fff!important;*/
    padding: 20px;
    min-height: 600px;
    margin: 14px 40px;

}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
h2 {
    color: #f00;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent;
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
/*==============================================
   DASHBOARD STYLES
    =============================================*/
.panel-back {
    background-color:#F8F8F8;

}
   .noti-box {
min-height: 100px;
padding: 20px;
}

    .noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
    .bg-color-green {
background-color: #00CE6F;
color: #fff;
}
 .bg-color-blue {
background-color: #A95DF0;
color: #fff;
}
  .bg-color-red {
background-color: #DB0630;
color: #fff;
}
  .bg-color-brown {
background-color: #B94A00;
color: #fff;
}


 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

 .main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
      -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
    .back-dash p {
        padding-top:16px;
        font-size:13px;
        color:#fff;
        line-height:25px;
        text-align:justify;
    }
    .back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}
     .back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}
     .color-bottom-txt {
   color: #000;
font-size: 16px;
line-height: 30px;
}
     /*CHAT PANEL*/
 .chat-panel .panel-body {
height: 450px;
overflow-y: scroll;
}
 .chat-box {
margin: 0;
padding: 0;
list-style: none;
}
 .chat-box li {
margin-bottom: 15px;
padding-bottom: 5px;
border-bottom: 1px dotted #808080;
}
 .chat-box li.left .chat-body {
margin-left: 90px;
}
 .chat-box li .chat-body p {
margin: 0;
color: #8d8888;
}
.chat-img>img {
    margin-left:20px;
}

/*==============================================
    MENU STYLES
    =============================================*/


.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:170px;
max-width:170px;
}

.navbar-cls-top .navbar-brand {
	color: #fff;
/*background: #C90000;*/
/*width: 260px;*/
text-align: center;
height: 60px;
font-size: 30px;
font-weight: 700;
}
.active-menu {
    background-color:#C90000!important;
}

/*.plus {*/
    /*float: right;*/
/*}*/

/*.fa.plus:before {*/
    /*content: "\f104";*/
/*}*/

/*.active > a > .fa.plus:before {*/
    /*content: "\f107";*/
/*}*/

ul.nav.nav-second-level.collapse.in{
    background-color: #f2f9ff !important;
}
.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#000;
	/*background:#fff;*/
	text-shadow:none;

}
.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus,
.sidebar-collapse .nav > li > a.active {

	background:#f2f9ff;
	outline:0;
    color: #f79646;
    font-family: Roboto-Light;
    font-size: 16px;
}

.bg {
  background:#f2f9ff;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    color: #fff;
    width: 100%;
    border: 5px solid #ccc;
    box-shadow: 1px 1px #ccc;
    padding-left: 10px;
    background-color: #ccc;
}



/*.nav-second-level > li > a:before ,*/
/*.nav-third-level > li > a:before {*/
	/*content:"";*/
	/*display:block;*/
	/*position:absolute;*/
	/*left:20px;*/
	/*width:15px;*/
	/*height:1px;*/
	/*background:#ff0000;*/
	/*top:20px;*/
/*}*/
/*.nav-second-level > li > a:after,*/
/*.nav-third-level > li > a:after {*/
	/*content:"";*/
	/*display:block;*/
	/*position:absolute;*/
	/*left:20px;*/
	/*width:1px;*/
	/*height:100%;*/
	/*background:#ff0000;*/
	/*top:0px;*/
	/*z-index:10;*/
/*}*/
/*.nav-second-level  > li:last-child > a:after,*/
/*.nav-third-level  > li:last-child > a:after {*/
	/*height:50%;*/
/*}*/
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
	left:40px;
}
.navbar-side {
	border:none;
    min-height: 600px;
	/*background-color: #202020;*/

}
.navbar-cls-top {
	/*background:#013888;*/
	border-bottom:none;

}
.navbar-cls-top .navbar-brand:hover {

background: #C90000;
color:#fff;

}

.navbar-default {
/*border:0px solid #013888;*/

}
.navbar-header {
    background: transparent;
    margin: 10px
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #B40101;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}
/*==============================================
    UI ELEMENTS STYLES
    =============================================*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/*==============================================
    MEDIA QUERIES
    =============================================*/

 @media(min-width:768px) {
     #page-wrapper{
               margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 500px;

    }


    .navbar-side {
        /*z-index: 1;*/
        /*position: absolute;*/
        /*width: 260px;*/
    }

   .navbar {
 border-radius: 0px;
}

}


input[readonly="readonly"]{
    background-color: #f9f9f9;
}
a#un_pre, a#deux_pre, a#un_pre_bas, a#deux_pre_bas {
    color: #013888;
}

#fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

/*.legend {
    width: 10em;
    border: 1px solid black;
}*/

.legend .title {
    display: block;
    margin-bottom: 0.5em;
    line-height: 1.2em;
    padding: 0 0.3em;
}

.legend .color-sample {
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    border: 2px solid; /* Comment out if you don't want to show the fillColor */
    border-radius: 0.5em; /* Comment out if you prefer squarish samples */
    margin-right: 0.5em;
}
.dataTables_wrapper .dataTables_filter {
    margin-right: 10px
}
.loading {
    background-image: url("../img/loading.gif");
    width: 43px;
    height: 11px;

}

.loader {
    background-image: url("../img/loader.gif");
    width: 100px;
    height: 100px;

}
a.lien_menu, .lien_menu {
    color: #66672C;
    font-weight: bold;
    font-size: 16px
}

.navbar-default .navbar-nav > li > a {
    color: #66672C;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #FFF;
    background-color: #F26722;
    border-color: #F26722;
}

.btn-primary {
    color: #FFF;
    background-color: #cccc99;
    border-color: #cccc99;
    font-family: Roboto-Light;
    font-size: 28px;
    padding: 0 10px;
}

h3, .h3 {
    font-size: 18px;
}

legend {
    display: block;
    width: 100%;
    padding: 0px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: inherit;
    color: #333;
    border-width: 0px 0px 1px;
    border-style: none none solid;
    border-color: #66672C;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}

.nav > li > a {
    position: relative;
    display: block;
    /*padding: 10px 10px;*/
}
.stl_show {
    font-family: Roboto-Light !important;
}

.chosen-container-single .chosen-single{
   font-family: Roboto-Light !important;
}