/*   
 * Template Name: devAid - Responsive Website Template for developers
 * Version: 1.0
 * Author: Xiaoying Riley at 3rd Wave Media
 * Website: http://themes.3rdwavemedia.com/
 * Twitter: @3rdwave_themes
*/
/* Default */
/* ======= Base ======= */




@font-face {
  font-family: 'Roboto-BlackItalic';
  src: url('../fonts/Roboto-BlackItalic.ttf');
}

@font-face {
  font-family: 'Roboto-BoldCondensed';
  src: url('../fonts/Roboto-BoldCondensed.ttf');
}

@font-face {
  font-family: 'Roboto-Condensed';
  src: url('../fonts/Roboto-Condensed.ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-CondensedItalic';
  src: url('../fonts/Roboto-CondensedItalic.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.ttf');
}

body {
/*  font-family: 'Lato', arial, sans-serif;
  color: #444444;
  font-size: 16px;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #17baef;
}*/
a {
  color: #FFF;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #0e98c5;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-family: 'Roboto-Light',Montserrat, arial, sans-serif;
  /*padding: 8px 16px;*/
  font-weight: bold;
}
.btn .fa,
a.btn .fa {
  margin-right: 5px;
}
.btn:focus,
a.btn:focus {
  color: #fff;
}
a.btn-cta-primary,
.btn-cta-primary {
  background: #074f66;
  border: 1px solid #074f66;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: #053c4e;
  border: 1px solid #053c4e;
  color: #fff;
}
a.btn-cta-secondary,
.btn-cta-secondary {
  background: #eebf3f;
  border: 1px solid #eebf3f;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
a.btn-cta-secondary:hover,
.btn-cta-secondary:hover {
  background: #ecb728;
  border: 1px solid #ecb728;
  color: #fff;
}
.text-highlight {
  color: #074f66;
}
.offset-header {
  padding-top: 110px;
}
pre code {
  font-size: 16px;
}
/* ======= Header ======= */
.header {
  padding: 10px 0;
  background: #013888;
  color: #fff;
  position: fixed;
  width: 100%;
  height: 120px
}
.header.navbar-fixed-top {
  background: #fff;
  z-index: 9999;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.header.navbar-fixed-top .logo a {
  color: #17baef;
}
.header.navbar-fixed-top .main-nav .nav .nav-item a {
  color: #666666;
}
.header .logo {
  margin: 0;
  font-size: 26px;
  padding-top: 10px;
}
.header .logo a {
  color: #fff;
}
.header .logo a:hover {
  text-decoration: none;
}
.header .main-nav button {
  background: #074f66;
  color: #fff !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header .main-nav button:focus {
  outline: none;
}
.header .main-nav button .icon-bar {
  background-color: #fff;
}
.header .main-nav .navbar-collapse {
  padding: 0;
}
.header .main-nav .nav .nav-item {
  font-weight: normal;
  margin-right: 30px;
  font-family: 'Roboto-Light',Montserrat, sans-serif;
}
.header .main-nav .nav .nav-item.active a {
  color: #17baef;
  font-weight: bold;
  background: none;
}
.header .main-nav .nav .nav-item a {
  /*color: #0a7396;*/
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  font-size: 14px;
  padding: 15px 10px;
  font-weight: bold
}
.header .main-nav .nav .nav-item a:hover {
  color: #BE9D56;
  background: none;
  font-weight: bold
}
.header .main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item.active {
  color: #17baef;
}
.header .main-nav .nav .nav-item.last {
  margin-right: 0;
}
/* ======= Promo Section ======= */
.promo {
  background: #013888;
  color: #fff;
  padding-top: 10px;
}
.promo .title {
  font-size: 30px;
  color: #FFF;
  margin-top: 80px;
}
.promo .title .highlight {
  color: #eebf3f;
}
.promo .intro {
  font-size: 28px;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.promo .btns .btn {
  margin-right: 15px;
  font-size: 18px;
  padding: 8px 30px;
}
.promo .meta {
  margin-top: 120px;
  margin-bottom: 30px;
  color: #0a7396;
}
.promo .meta li {
  margin-right: 15px;
}
.promo .meta a {
  color: #0a7396;
}
.promo .meta a:hover {
  color: #074f66;
}
.promo .social-media {
  background: #0c86ae;
  padding: 10px 0;
  margin: 0 auto;
}
.promo .social-media li {
  margin-top: 15px;
}
.promo .social-media li.facebook-like {
  margin-top: 0;
  position: relative;
  top: -5px;
}
/* ======= About Section ======= */
.about {
  padding: 80px 0;
  background: #f5f5f5;
}
.about .title {
  color: #074f66;
  margin-top: 0;
  margin-bottom: 60px;
}
.about .intro {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.about .item {
  position: relative;
  margin-bottom: 30px;
}
.about .item .icon-holder {
  position: absolute;
  left: 30px;
  top: 0;
}
.about .item .icon-holder .fa {
  font-size: 24px;
  color: #074f66;
}
.about .item .content {
  padding-left: 60px;
}
.about .item .content .sub-title {
  margin-top: 0;
  color: #074f66;
  font-size: 18px;
}
/* ======= Features Section ======= */
.features {
  padding: 10px 0;
  background: rgba(0,0,0,0.01);
  color: #000;
}
.features .title {
  color: #074f66;
  margin-top: 80px;
  margin-bottom: 30px;
}
.features a {
  color: #074f66;
}
.features a:hover {
  color: #042a36;
}
.features .feature-list li {
  margin-bottom: 10px;
  color: #074f66;
}
.features .feature-list li .fa {
  margin-right: 5px;
  color: #fff;
}
/* ======= Docs Section ======= */
.docs {
  padding: 80px 0;
  background: #f5f5f5;
}
.docs .title {
  color: #074f66;
  margin-top: 0;
  margin-bottom: 30px;
}
.docs .docs-inner {
  max-width: 800px;
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 auto;
}
.docs .block {
  margin-bottom: 60px;
}
.docs .code-block {
  margin: 30px;
}
.docs .code-block pre[class*="language-"] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* ======= License Section ======= */
.license {
  padding: 80px 0;
  background: #f5f5f5;
}
.license .title {
  margin-top: 0;
  margin-bottom: 60px;
  color: #074f66;
}
.license .license-inner {
  max-width: 800px;
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 auto;
}
.license .info {
  max-width: 760px;
  margin: 0 auto;
}
.license .cta-container {
  max-width: 540px;
  margin: 0 auto;
  margin-top: 60px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.license .cta-container .speech-bubble {
  background: #d6f3fc;
  color: #074f66;
  padding: 30px;
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.license .cta-container .speech-bubble:after {
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #d6f3fc;
}
.license .cta-container .icon-holder {
  margin-bottom: 15px;
}
.license .cta-container .icon-holder .fa {
  font-size: 56px;
}
.license .cta-container .intro {
  margin-bottom: 30px;
}
/* ======= Contact Section ======= */
.contact {
  padding: 80px 0;
  background: #013888;
  color: #fff;
}
.contact .contact-inner {
  max-width: 760px;
  margin: 0 auto;
}
.contact .title {
  color: #FFF;
  margin-top: 0;
  margin-bottom: 30px;
}
.contact .intro {
  margin-bottom: 60px;
}
.contact a {
  color: #074f66;
}
.contact a:hover {
  color: #042a36;
}
.contact .author-message {
  position: relative;
  margin-bottom: 60px;
}
.contact .author-message .profile {
  position: absolute;
  left: 30px;
  top: 15px;
  width: 100px;
  height: 100px;
}
.contact .author-message .profile img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.contact .author-message .speech-bubble {
  margin-left: 155px;
  background: #10b2e7;
  color: #074f66;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
}
.contact .author-message .speech-bubble .sub-title {
  color: #074f66;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 30px;
}
.contact .author-message .speech-bubble a {
  color: #fff;
}
.contact .author-message .speech-bubble:after {
  position: absolute;
  left: -10px;
  top: 60px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #10b2e7;
}
.contact .author-message .speech-bubble .source {
  margin-top: 30px;
}
.contact .author-message .speech-bubble .source a {
  color: #074f66;
}
.contact .author-message .speech-bubble .source .title {
  color: #0c86ae;
}
.contact .info .sub-title {
  color: #0e98c5;
  margin-bottom: 30px;
  margin-top: 0;
}
.contact .social-icons {
  list-style: none;
  padding: 10px 0;
  margin-bottom: 0;
  display: inline-block;
  margin: 0 auto;
}
.contact .social-icons li {
  float: left;
}
.contact .social-icons li.last {
  margin-right: 0;
}
.contact .social-icons a {
  display: inline-block;
  background: #0c86ae;
  width: 48px;
  height: 48px;
  text-align: center;
  padding-top: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: 8px;
  float: left;
}
.contact .social-icons a:hover {
  background: #e6ad14;
}
.contact .social-icons a .fa {
  color: #fff;
}
.contact .social-icons a .fa:before {
  font-size: 26px;
  text-align: center;
  padding: 0;
}
/* ======= Footer ======= */
.footer {
  padding: 15px 0;
  background: #fff;
  color: #042a36;
}
.footer .copyright {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.footer .fa-heart {
  color: #fb866a;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .header .main-nav button {
    margin-right: 0;
  }
  .header .main-nav .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }
  .promo .btns .btn {
    margin-right: 0;
    clear: both;
    display: block;
    margin-bottom: 30px;
  }
  .promo .title {
    font-size: 66px;
  }
  .promo .meta {
    margin-top: 60px;
  }
  .promo .meta li {
    float: none;
    display: block;
    margin-bottom: 5px;
  }
  .contact .author-message {
    text-align: center;
  }
  .contact .author-message .profile {
    position: static;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .contact .author-message .speech-bubble {
    margin-left: 0;
  }
  .contact .author-message .speech-bubble:after {
    display: none;
  }
  .contact .social-icons a {
    width: 36px;
    height: 36px;
    padding-top: 7px;
    margin-right: 2px;
  }
  .contact .social-icons a .fa:before {
    font-size: 18px;
  }
}
.dropdown-header {
  font-size: 16px;
}
li.debord  a {

  padding: 3px 48px;

}

.plainte_login {
font-size: 30px;
  font-family: Roboto-Light;
}
h3.btn-titre{
  background-color: #f79646;
  color: #fff;
  font-size: 23px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 2px 2px 5px #ccc
}
.form-control {
  display: block;
  width: 100%;
  height: 32px;
  padding: 0 0 0 8px;
  line-height: 32px;
  font-family: Roboto-Light;
  font-size: 18px;
  line-height: 1.42857143;
  color: #444;
  background-color: #f6f6f6;
  background-image: none;
  border: 1px solid #f6f6f6;
  border-radius: 4px;
  text-decoration: none;
  white-space: nowrap;
  background-clip: padding-box;
  overflow: hidden;
  /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
  /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
  /*-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;*/
  /*-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
  /*transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}
.form-group > label {
  margin-top:15px;
  font-family: Roboto-Light;
  font-size: 18px;
}

#fos_user_registration_form_plainPassword_second,#fos_user_registration_form_plainPassword_first {
  display: block;
  width: 100%;
  height: 32px;
  padding: 0 0 0 8px;
  line-height: 32px;
  font-family: Roboto-Light;
  font-size: 18px;
  line-height: 1.42857143;
  color: #444;
  background-color: #f6f6f6;
  background-image: none;
  border: 1px solid #f6f6f6;
  border-radius: 4px;
  text-decoration: none;
  white-space: nowrap;
  background-clip: padding-box;
  overflow: hidden;
}

label[for="fos_user_registration_form_plainPassword_second"]{
  margin-top:15px
}
input.pers {
  border-top: none;
  border-bottom: 2px solid #000;
  border-left: none;
  border-right: none;
  margin: 0 10px;
}
thead {
  background-color: #cccc99;
}
thead > tr >th {
  font-family: Roboto-Light;
  font-size: 14px;
}
.dataTables_paginate.paging_simple_numbers{
  margin-right: 50%;
  margin-top: 20px;
}
.dataTables_paginate.paging_simple_numbers > a.previous, .dataTables_paginate.paging_simple_numbers > a.next{
  display: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
background-color: #cccc99;
  font-family: Roboto-Light;
  font-size: 20px;
  /*padding: 0.5em 1em;*/

}
table.dataTable.no-footer {
  border-bottom: 1px solid #e7e8ee;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  /* box-sizing: border-box; */
  display: inline-block;
  /*min-width: 1.5em;*/
  /*padding: 0.5em 0.5em;*/
  margin-left: 6px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
   color: #000 !important;
  font-size: 16px;
  background-color: #cccc99;
  font-family: Roboto-Light;
  /* border: 1px solid transparent; */
}

.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
  display: none;
}
.dataTables_length {
  display: none;
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
.d_color {
    color: #e6ad14; font-weight: bold;
}
.row {
    margin-left: 0px
}
.table-hover>tbody>tr:hover {
  background-color: rgb(247, 150, 70)/*#70706b*/;
  color: #FFF;

}
.iconlist {
  color: #000;
}
label[for='gplainte_gplaintebundle_affecter2_dateAffectation'],#gplainte_gplaintebundle_affecter2_dateAffectation,
#gplainte_gplaintebundle_affecter2_action_prevention,label[for='gplainte_gplaintebundle_affecter2_action_prevention'] {
  margin-left: 15%;
}
label[for='gplainte_gplaintebundle_affecter2_action_observation'],#gplainte_gplaintebundle_affecter2_action_observation{
  margin-left: 0.5%
}
label[for='gplainte_gplaintebundle_notification_date'],#gplainte_gplaintebundle_notification_date,#gplainte_gplaintebundle_niveau_choix,
label[for='gplainte_gplaintebundle_niveau_choix'],#gplainte_gplaintebundle_client_telephone1,label[for='gplainte_gplaintebundle_client_telephone1']{
  margin-left:85px
}
label[for='gplainte_gplaintebundle_notification_agent'],#gplainte_gplaintebundle_notification_agent,#gplainte_gplaintebundle_agent_prenom,
label[for='gplainte_gplaintebundle_agent_prenom'],#gplainte_gplaintebundle_agent_sexe,label[for='gplainte_gplaintebundle_agent_sexe'],
#gplainte_gplaintebundle_agent_email,label[for='gplainte_gplaintebundle_agent_email'],
#gplainte_gplaintebundle_niveau_typeniveau,label[for='gplainte_gplaintebundle_niveau_typeniveau'],
#gplainte_gplaintebundle_agent_file, label[for='gplainte_gplaintebundle_agent_file']
{
  margin-left: 45px;
}
label[for='gplainte_gplaintebundle_affecter2_service'],#gplainte_gplaintebundle_affecter2_service,
#gplainte_gplaintebundle_affecter2_action_solution,label[for='gplainte_gplaintebundle_affecter2_action_solution']
{
  margin-left: -2%;
  
}

label[for='gplainte_gplaintebundle_agent_email']+ul > li.alert-danger.erreurMessage,
label[for='gplainte_gplaintebundle_agent_prenom']+ul > li.alert-danger.erreurMessage
{
    margin-left: 0px;
    width: 110%
}

label[for='gplainte_gplaintebundle_client_telephone1']+ul > li.alert-danger.erreurMessage {
    margin-left: 45px;
    width: 110%
}

.stl_form {
  margin-top: 15px;
  font-family: Roboto-Light;
  font-size: 20px;
}
.stl_show {
  text-transform: uppercase;
  color: #000;
  font-family: Roboto-Light;
  font-size: 24px;
  margin-left: -15px;
}
.table-hover>tbody>tr>td>a>.iconlist:hover {
  color: #FFF !important;
}
.loader {
  display: none;

}

.panel-default {
  /*border-color: transparent;*/
}

.panel-default>.panel-heading {
  color: #FFF;
  background-color: #f79646;
  border-color: #f79646;
}
.panel-title {
  margin-top: -8px;
  margin-bottom: 0;
  font-size: 20px;
  color: inherit;
}
.panel-title > a:hover {
  text-decoration: none;
  color: #FFF;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
   border-top-color: transparent;
  color: #484848;
  background-color: #f5f6f9;
}

.erreurMessage {
    font-size: 16px;
    list-style: none;
    padding: 10px;
    margin-left: -40px;
}
#align {
    margin-left:40px
}
input#inputSvg, input#inputSvg2, input#etat, input#periode, input#bureau, input#motif_retard2, input#motif_retard3, input#motif_synthese_generale2, input#motif_synthese_generale3 {
  display: none !important;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: #555;
  text-align: center;
   background-color: transparent;
  border: 0px solid #cccc99;
  border-radius: 4px;
}

.table-responsive {
  min-height: .01%;
  overflow-x: initial;
}
.dashboard {
  font-size: 1.8em;
}

.dashboardValeur {
  font-size: 1.6em;
  color: green;
  font-weight: bold;
}