{% extends "GplainteBundle::layout2.html.twig" %}

{% block corps %}

<div class="col-md-10 col-md-offset-1" style="top: 70px">
    <h2 style="">Erreur "{{ status_code }}"</h2>

    <div style="font-size: 3.8em;">
        Désolé, vous n'êtes pas autorisé à accéder à cette page
    </div>
</div>


{% endblock%}