{% extends "GplainteBundle::layout2.html.twig" %}

{% block corps %}

<div class="col-md-10 col-md-offset-1" style="top: 70px">
    <h2 style="">{{ 'Error' | trans }} "{{ status_code }}"</h2>

    <div style="font-size: 3.8em;">
        {{ 'Sorry, you are not authorized to access this page' | trans }}
    </div>
</div>


{% endblock%}