{% extends "GplainteBundle::layout2.html.twig" %}

{% block corps %}

    <div class="col-md-10 col-md-offset-1" style="top: 70px">
        <h2 style="">{{ 'Error' | trans }} "{{ status_code }}"</h2>
        <div style="font-size: 3.8em;">
            {{ 'Sorry, you are wrong URL' | trans }}
        </div>
        <div style="font-size: 20px; margin-top: 30px; font-family: verdana; float: right"><a style="color: #000;" href="{{ app.request.baseUrl }}/accueil">{{ 'Return to menu' | trans }}</a></div>
    </div>


{% endblock%}