{% extends "factSheetBundle::layout2.html.twig" %}

{% block corps %}


     <h1 style="font-size: 2em;">{{ 'Error' | trans }} "{{ status_code }}"</h1>
     <div style="font-size: 4em;">
         {{ 'Sorry, you are wrong URL' | trans }}
     </div>
     <div style="font-size: 20px; margin-top: 30px; font-family: verdana;"><a href="/web">{{ 'Return to the site' | trans }}</a></div>

{% endblock%}