{% extends "GplainteBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="col-md-12 borderStyle">

    <div class="row">
           <div class="stl_show" style="padding-left: 15px; padding-bottom: 20px">{{ 'List accounts' | trans }}</div>

        <div class="table-responsive" style="margin: 0 10px 0 0">

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>{{ 'Username' | trans }}</th>

                    <th>{{ 'Last name' | trans }}</th>
                 
                    <th>{{ 'First name' | trans }}</th>
                    <th>{{ 'Email address' | trans }}</th>
                    <th>{{ 'Profile' | trans }}</th>
                    <th>{{ 'Modify' | trans }}</th>
                    <th>{{ 'Active' | trans }}</th>
                </tr>

                </thead>
                <tbody>
                {% for list in list %}
                    
                        <tr>
                        <td>{{ list.username }}</td>
                        <td>
                            {% if list.agent is not null %}
                                {{ list.agent.nom }}
                            {% endif %}
                        <td>
                                {% if list.agent is not null %}
                            {{ list.agent.prenom }}
                                {% endif %}
                        </td>
                
                        <td>{{ list.email }}</td>
                        <td>
                            {%  if list.roles[0]=='ROLE_ADMIN' %}
                                {{ 'Administrator' | trans }}
                            {% endif %}
                            {%  if list.roles[0]=='ROLE_REDACTEUR' %}
                                {{ 'Editor' | trans }}
                            {% endif %}
                            {%  if list.roles[0]=='ROLE_VERIFICATEUR' %}
                                {{ 'Supervisor' | trans }}
                            {% endif %}
                            {%  if list.roles[0]=='ROLE_ANALYSTE' %}
                                {{ 'Analyst' | trans }}
                            {% endif %}
                            {%  if list.roles[0]=='ROLE_PILOTE' %}
                                {{ 'Process manager' | trans }}
                            {% endif %}
                            {%  if list.roles[0]=='ROLE_PERSONNEL' %}
                                {{ 'Personnel' | trans }}
                            {% endif %}
                            {%  if list.roles[0]=='ROLE_DE' %}
                                {{ 'Executif' | trans }}
                            {% endif %}
                            {%  if list.roles[0]=='ROLE_RH' %}
                                {{ 'Respo RH' | trans }}
                            {% endif %}
                        </td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td style="padding-left: 30px"><a style="color:#000" href="{{ path('user_modiif', {'id': list.id}) }}"><span class="zmdi zmdi-eye iconlist"></span></a></td>
                            <td>{% if list.enabled==1 %}<a style="color:#000" href="{{ path('user_desable', {'id': list.id}) }}"> <img src="{{ asset('assets/img/non.png') }}" class="" style="width:50px" title=""></a>{% elseif list.enabled==0 %}<a style="color:#000" href="{{ path('user_active', {'id': list.id}) }}"><img src="{{ asset('assets/img/oui.png') }}" class="" style="width:50px" title=""></a>{% endif %}</td>{% endif %}

                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    {% include "UserBundle:Registration:register_content.html.twig" %}

{% endblock fos_user_content %}
