{% trans_default_domain 'FOSUserBundle' %}

{#{% form_theme form 'GPlainteBundle::fields_errors.html.twig' %}#}
<div class="col-md-12" style="margin-top: 40px; margin-left: -25px">



<form action="{% if id is defined and id!=0 %}{{ path('user_modiif', {'id': id}) }}{% else %}{{ path('fos_user_registration_register') }}{% endif %}" {{ form_enctype(form) }} method="POST" class="form-horizontal" style="margin-top: 5px; margin-left: 1%">
    {#{{ form_widget(form) }}#}
    <div class="col-md-12" style="margin-left: -15px">
        <div class="row">
            <div class="col-md-3" style="background-color: #fff; text-transform: uppercase; color: #000; font-family: Roboto-Light; font-size: 26px">
                {{ 'Creating profiles' | trans }}
            </div>
        </div>

        <div class="row" style="font-size: 30px;">
            {% if app.request.query.get("msg")==2 %}
                <div class="alert-warning" style="width: 100%; padding-top: 10px">
                    {{ 'Modification completed successfully' | trans }}
                </div>
            {% endif %}
            {% if app.request.query.get("msg")==1 %}
                <div class="alert-success" style="width: 100%; padding-top: 10px">
                    {{ 'Adding completed successfully' | trans }}
                </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-12" style="background-color: #fff; padding-top: 30px; padding-bottom: 20px; color: #000; font-family: Roboto-Light">
                <div class="col-md-5">
                    <div class="form-group">
                        {{form_label(form.username,"Pseudo (*):" | trans)}}
                        <div class="alert-danger"><strong>{{ form_errors(form.username) }}</strong></div>
                        {{form_widget(form.username,{'attr':{'class':'form-control'}})}}
{#                        {{form_row(form.username,{'attr':{'class':'form-control'}})}}#}
                    </div>
                    <div class="form-group">
                  {#    {{form_label(form.plainPassword,"Mot de passe (*):" | trans)}}
                        {{form_widget(form.plainPassword,{'attr':{'class':'form-control'}})}}#}
                       {{form_row(form.plainPassword,{'attr':{'class':'form-control'}})}}


                    </div>

                </div>

                <div class="col-md-5 col-md-offset-1">

                    <div class="form-group">
                        {{ form_label(form.email,"Email (*):" | trans)}}
                        <div class="alert-danger"><strong>{{ form_errors(form.email,{'attr':{'class':'label-error'}}) }}</strong></div>
                        {{form_widget(form.email,{'attr':{'class':'form-control'}})}}
                        <!--{{form_row(form.email,{'attr':{'class':'form-control'}})}}-->
                    </div>

                    <div class="form-group">
                        {{ form_label(form.agent,"Fullname (*)" | trans)}}
                        {{form_widget(form.agent,{'attr':{'class':'form-control'}})}}
                        <!--{{form_row(form.agent,{'attr':{'class':'form-control'}})}}-->
                    </div>

                    <div class="form-group">
                        {{ form_label(form.rol,"Profil (*):" | trans)}}
                        {{form_widget(form.rol,{'attr':{'class':'form-control'}})}}
                       <!-- {{form_row(form.rol,{'attr':{'class':'form-control'}})}}-->
                    </div>

                    {{form_rest(form)}}
                    <div class="row">
                        <div class="col-md-4" style="margin-left: -10px; margin-top: 10px">
                            <span style="font-weight: bold">(*) </span>{{ 'Champs requis'| trans }}
                        </div>
                    </div>

                </div>
                <div class="col-md-2" style="float: right">
                    <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary" style="margin-top: 10px;" />
                </div>
            </div>
        </div>
    </div>

</form>

</div>

  
        