{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Configuration'| trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block corps %}
    <div class="col-md-12 borderStyle" style="">
        <div class="row">
            <h1>{{ 'Configuration' | trans }}</h1>
            {% for feedback in app.session.flashbag.get('feedback') %}
                {% if feedback == '1' %}
                    {#center-block container#}
                    <div class="bg-success" style="padding-top: 15px;padding-bottom: 15px;">{{ 'Configuration saved successfully'| trans }}</div>
                {% endif %}
            {%  endfor %}
            <form action="{{ path('g_plainte_notification_config') }}" method="post">
            <div class="col-md-12 col-xs-12">

                <hgroup>
                    <h3>{{ 'Durée maximale des plaintes'|trans }}</h3>
                    <input type="hidden" name="_indicateur_dm" value="{{ 'Délai de traitement'|trans}}">
                    <h5>{{ 'Il s\'agit de la durée maximale d\'une plainte dans le systeme sans être traitée'|trans }}</h5>
                </hgroup>
                    {#<input type="number" name="_duremax" id="dureMax" class="form-control" value="{% if flag==1 %} {% endif %}{% if flag==0 %}{{ params.dm }}{% endif %}" required>#}
                {% for subject in subjects %}
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <div class="col-md-9 col-xs-9">
                            {{ subject.libelle }}
                            <input type="hidden" name="_indicateur_objet_{{ loop.index0 }}" value="{{ subject.libelle }}">
                            <input type="hidden" name="_count" value="{{ loop.length }}">

                        </div>
                        <div class="col-md-3 col-xs-3">
                            <input type="number" name="_duremax_{{ loop.index0 }}" id="dureMax" class="form-control" value="{% if flag==1 %} {% endif %}{% if flag==0 %}{{ dms[loop.index]}}{% endif %}" required>
                        </div>
                        <div class="col-md-12 col-xs-12" style="padding:10px;visibility: hidden;"></div>
                    </div>
                </div>

                {% endfor %}
                {#{% for subject in subjects_l %}
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <div class="col-md-9 col-xs-9">{{ subject.libelle }}</div> <div class="col-md-3 col-xs-3"><input type="number" name="_duremax" id="dureMax" class="form-control" value="{% if flag==1 %} {% endif %}{% if flag==0 %}{{ params.dm }}{% endif %}" required></div>
                    </div>
                </div>

                {% endfor %}#}
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                <hgroup>
                    <h3>{{ 'Periode de recurrence'|trans }}</h3>
                    <h5>{{ 'Il s\'agit de la période au cours de laquelle la récurrence des plaintes est observée'|trans }}</h5>
                </hgroup>
                <input type="number" name="_perrec" id="perRec" class="form-control" value="{% if flag==1 %}{% endif %}{% if flag==0 %}{{ params.pr }}{% endif %}" required>

                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                <hgroup>
                    <h3>{{ 'Seuil de recurrence'|trans }}</h3>
                    <h5>{{ 'Il s\'agit du seuil au dela duquel un objet de plainte est considéré récurrent'|trans }}</h5>
                </hgroup>
                <input type="number" name="_seuilrec" id="seuilRec" value="{% if flag==1 %} {% endif %}{% if flag==0 %}{{ params.sr }}{% endif %}" class="form-control" required>
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="form-group">
                    <hgroup>
                        <h3>{{ 'Responsable des notifications'|trans }}</h3>
                        <h5>{{ 'Il s\'agit de celui ou ceux qui ont accès aux notifications. Ce paramètre est defini en fonction des adresses électroniques'|trans}}</h5>
                    </hgroup>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            {#<input type="radio" name="_param" id="paramMail" value="{{ 'Mail'|trans}}"  required checked>#} {{ 'Mail'|trans}} <br>
                        </div>
                        <input class="form-control" required name="_mail" id="mails" PLACEHOLDER="{{ 'Adresse électronique'|trans}}" value="{% if flag==1 %} {% endif %}{% if flag==0 %}{{ params.mail }}{% endif %}">
                            {#<textarea name="_mails" id="mails" cols="60" rows="8"  PLACEHOLDER="Entrer les adresses electroniques separees par ;. ex: fightclub@donalic.com;sigma6@gmail.de">{% if flag==1 %} {% endif %}{% if flag==0 %}{% for mail in params.mails %}{{ mail }}{% endfor %}{% endif %}
                        </textarea>#}
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            {#<input type="radio" name="_param" id="paramPhone" value="{{ 'Phone'|trans }}"  required checked>#} {{ 'Phone'|trans }} <br>
                        </div>
                        <input class="form-control" required name="_phone" id="phone" PLACEHOLDER="{{ 'Phone'|trans}}" value="{% if flag==1 %} {% endif %}{% if flag==0 %}{{ params.tel }}{% endif %}">
                        {#<textarea name="_mails" id="mails" cols="60" rows="8"  PLACEHOLDER="Entrer les adresses electroniques separees par ;. ex: fightclub@donalic.com;sigma6@gmail.de">{% if flag==1 %} {% endif %}{% if flag==0 %}{% for mail in params.mails %}{{ mail }}{% endfor %}{% endif %}
                    </textarea>#}
                    </div>
                    <!--<div class="col-md-6 col-xs-12" id="profils">
                        <div class="form-group">
                            <input type="radio" name="_param" value="Profil" id="paramProfil"> Profil <br>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" value="Editeur" name="_profils[]" id="editeur"/>
                            Editeur

                        </div>
                        <div class="form-group">
                            <input type="checkbox" value="Analyste" name="_profils[]" id="analyste"/>
                            Analyste

                        </div>
                        <div class="form-group">
                            <input type="checkbox" value="Superviseur" name="_profils[]" id="superviseur"/>
                            Superviseur

                        </div>
                        <div class="form-group">
                            <input type="checkbox" value="Pilote" name="_profils[]" id="pilote"/>
                            Pilote

                        </div>
                        <div class="form-group">
                            <input type="checkbox" value="Administrateur" name="_profils[]" id="administrateur"/>
                            Administrateur
                        </div>
                        <!--<input type="checkbox" value="Respo RH" name="_resporh" id="resporh"/>
                        <input type="checkbox" value="Executif" name="_executif" id="executif"/>
                    </div>-->


                </div>
            </div>


                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <hgroup>
                            <h3>{{ 'Mode d\'alerte lors des affectations de plaintes aux services '|trans }}</h3>
                            {#<h5>{{ 'Il s\'agit de celui ou ceux qui ont accès aux notifications. Ce paramètre est defini en fonction des adresses électroniques'|trans}}</h5>#}
                        </hgroup>
                        <div class="col-md-2 col-xs-4">
                            <div class="form-group">
                                <input type="checkbox" name="_param_alerte_affectation_mail" id="param_alerte_affectation_mail" value="1" {% if flag==0 and params.param_alerte_affectation_mail != null %}checked{% endif %}> {{ 'Mail'|trans}} <br>
                            </div>

                        </div>
                        <div class="col-md-2 col-xs-4">
                            <div class="form-group">
                                <input type="checkbox" name="_param_alerte_affectation_sms" id="param_alerte_affectation_sms" value="1" {% if flag==0 and params.param_alerte_affectation_sms != null %}checked{% endif %}> {{ 'SMS'|trans}} <br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <hgroup>
                            <h3>{{ 'Codification téléphonique du pays'|trans }}</h3>
                            {#<h5>{{ 'Il s\'agit de celui ou ceux qui ont accès aux notifications. Ce paramètre est defini en fonction des adresses électroniques'|trans}}</h5>#}
                        </hgroup>
                        <div class="col-md-4 col-xs-8">
                            <div class="form-group">
                                <input class="form-control" required name="_codetel" id="codetel" PLACEHOLDER="{{ 'Entrez le code'|trans}}" value="{% if flag==1 %} {% endif %}{% if flag==0 %}{{ params.codetel }}{% endif %}">

                            </div>


                        </div>

                    </div>
                </div>

            <div class="col-md-12 col-xs-12" style="padding:10px;visibility: hidden;"></div>
            <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <input type="submit" name="_config" value="{{ 'Save'|trans }}" class="btn btn-primary pull-right">
            </div>
            </div>
            </form>





        </div>
        <script>
            //alert('oki');
            $(document).ready(function(){
                $('#profils').find('input:checkbox').prop('disabled',true);
            });
            /*$('input[type=radio][name=_param]').change(function(){
                if($(this).is(':checked') && $(this).val()=='Mail'){
                    $(this).prop('required',true);
                    $('#paramProfil').removeAttr('required');
                    $('#profils').find('input:checkbox').prop('disabled',true);
                    $('#mails').prop('disabled',false);
                    //alert('Mail');

                }
                else if($(this).is(':checked') && $(this).val()=='Profil'){
                    $(this).prop('required',true);
                    $('#paramMail').removeAttr('required');
                    //alert('Profil');
                    $('#mails').prop('disabled',true);
                    $('#profils').find('input:checkbox').prop('disabled',false);

                }
                //alert($(this).val());
            });*/

        </script>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
