{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Alertes'| trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block corps %}
    <div class="col-md-12 borderStyle" style="">
        <div class="row">
            <h1>{{ 'Alertes'| trans }}</h1>
            <div class="table-responsive">
                {% if msg is defined %}
                    <div class="success">
                        {% if msg == 1 %}
                            {{ 'Your complaint has been successfully saved.' | trans}}
                        {% endif %}
                    </div>
                {% endif %}
                <table class="table table-striped table-hover" id='listeplainte'>
                    <thead>
                    <tr>
                        <th>{{ 'Alertes'| trans }}</th>
                        <th>{{ 'Type'| trans }}</th>

                        <th>{{ 'Created at'| trans }}</th>
                        {# <th>{{ 'Status'| trans }}</th>
                        <th>{{ 'Actions'| trans }}</th>#}

                    </tr>

                    </thead>
                    <tbody>
                    {% for notification in notifications %}
                        <tr>

                            <td>{{notification.content}} </td>
                            <td> {% if notification.type=='recurrent'%}{{ 'recurrent'|trans }}{% else %}{{ 'late'|trans }}{% endif %}</td>
                            <td>{{notification.createdAt | date('d/m/Y')}}</td>

                            {#<td></td>
                            <td></td> #}



                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent()}}
{% endblock %}