{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Satisfactions registration' | trans }}{% endblock %}

{% block corps %}

<div class="row">
    <div class="col-md-6" style="margin-left: -15px">
        <h3 class="btn-titre"><i class="zmdi zmdi-plus-circle"></i><span style="padding-left: 10px">{{ 'Satisfactions registration' | trans }}</span></h3>
    </div>

</div>
<div class='col-md-12' style="background-color: #fff">
    <div class="row">
        {%if msg is defined and msg==2%}
            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                {{ 'Modification completed successfully' | trans }}
            </div>
        {% endif %}

        {%if msg is defined and msg==3%}
            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                {{ 'Successful deletion' | trans }}
            </div>
        {% endif %}

        {%if msg is defined and msg==1%}
            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                {{ 'Adding completed successfully' | trans }}
            </div>
        {% endif %}

    </div>


            <div class="row stl_form" style="margin-left: -15px; margin-bottom: 15px">
                <div class="col-md-4">{{ 'Folder number Complainant' | trans }}:</div>
                <div class="col-md-8">{{ plainte.client.numdossier }}</div>
            </div>

            <div class="row stl_form" style="margin-left: -15px; margin-bottom: 15px">
                <div class="col-md-4">{{ 'Complainant' | trans }}:</div>
                <div class="col-md-8">{{ plainte.client.nom }} {{ plainte.client.prenom }}</div>
            </div>

            <div class="row stl_form" style="margin-left: -15px; margin-bottom: 15px">
                <div class="col-md-4">{{ 'Complained' | trans }}:</div>
                <div class="col-md-8">{{ plainte.choix.libelle }}</div>
            </div>

            <div class="row stl_form" style="margin-left: -15px; margin-bottom: 15px">
                <div class="col-md-4">{{ 'Solution proposed' | trans }}:</div>
                <div class="col-md-8">{{ action.solution }}</div>
            </div>

            <form action="{{ path('gplainte_add_satisfaction',{val:'ajouter','notification':notification.id})}}" method="post" {{ form_enctype(satisfaction) }} class="form-horizontal" id="" >
                <div class='col-md-12'>

                    {#<div class="form-group">#}
                        {#{{form_label(notification.action,"Solution :")}}#}
                        {#{{form_widget(notification.action,{'attr':{'class':'form-control'}})}}#}
                    {#</div>#}

                    <div class="form-group">
                        {{form_label(satisfaction.libelle,"Appreciation (*):"| trans)}}
                        {{form_widget(satisfaction.libelle,{'attr':{'class':'form-control'}})}}
                    </div>

                    <div class="form-group">
                        {{form_label(satisfaction.rdv,"Appointment :"| trans)}}
                        {{form_widget(satisfaction.rdv,{'attr':{'class':'form-control'}})}}
                    </div>

                    <div class="form-group">
                        {{form_label(satisfaction.reformulation,"Reformulation :"| trans)}}
                        {{form_widget(satisfaction.reformulation,{'attr':{'class':'form-control','rows':5}})}}
                    </div>

                    <div class="form-group">
                        {{form_label(satisfaction.observation,"Observation :"| trans)}}
                        {{form_widget(satisfaction.observation,{'attr':{'class':'form-control','rows':5}})}}
                    </div>
                    
                </div>


                <div class="col-md-12 hidden" id="definfo">
                    {{ form_rest(satisfaction) }}
                    NB: {{ 'Cochez cette case, si le client n\'est pas satisfait à cause des dispositions internes de votre institution'|trans}}


                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 20px; margin-right: -10px;">{{ 'Go' | trans }}</button>
                </div>

            </form>
    <script>
        $('#gplainte_gplaintebundle_satisfaction_libelle').on('change',function(){
           if($(this).val()=='N') {
               $('#definfo').removeClass('hidden');
           }else{
               $('#definfo').addClass('hidden');
           }
        });
    </script>
    </div>

{% endblock %}
