{% extends "::base.html.twig" %}

{% block title %}Enregistrement des satisfactions{% endblock %}

{% block body %}


    <div class="row">
        {%if msg is defined and msg==2%}
            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                Modification effectuée avec succès
            </div>
        {% endif %}

        {%if msg is defined and msg==3%}
            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                Suppression effectuée avec succès
            </div>
        {% endif %}

        {%if msg is defined and msg==1%}
            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                Ajout effectué avec succès
            </div>
        {% endif %}

        {%if msgErr is defined and msgErr is defined%}
            <div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">
                {{msgErr}}
            </div>
        {% endif %}

        {%if msgException is defined and msgException==1%}
            <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                Cette satisfaction n'existe plus
            </div>
        {% endif %}
        {#{{app.request.query.get(msgException)}}#}
        {%if msgException is defined and msgException==2%}
            <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                Cette satisfaction est lié à d'autres opérations
            </div>
        {% endif %}
    </div>
    <div class='col-md-10 col-md-offset-1'>

        <fieldset>
            <legend>Enregistrement des satisfactions</legend>
            <form action="{{ path('gplainte_add_satisfaction',{val:'ajouter'})}}" method="post" {{ form_enctype(satisfaction) }} class="form-horizontal" id="" >
                <div class='col-md-3'>

                    <div class="form-group">
                        {{form_label(satisfaction.libelle,"Appréciation :")}}
                        {{form_widget(satisfaction.libelle,{'attr':{'class':'form-control'}})}}
                    </div>

                    <div class="form-group">
                        {{form_label(satisfaction.observation,"Observation :")}}
                        {{form_widget(satisfaction.observation,{'attr':{'class':'form-control'}})}}
                    </div>



                </div>


                <div class="col-md-12">
                    {{ form_rest(satisfaction) }}


                    <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 20px; margin-right: -10px;">Enregistrer</button>
                </div>

            </form>
        </fieldset>
    </div>
    <div class="col-md-12" style="min-height: 500px; margin-top: 20px">
        <fieldset><legend>Liste des satisfactions</legend></fieldset>
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id='table_list_membre'>
                        <thead>
                        <tr>
                            <th>Appréciation</th>
                            <th>Observation</th>
                            {#
                                <th></th>
                               <th></th>#}
                        </tr>

                        </thead>
                        <tbody>
                        {% for list in list %}
                            <tr>
                                <td>{{list.libelle}}</td>

                                <td>{{list.observation}}</td>




                                {#  {% if is_granted('ROLE_ADMIN') %}
                                 <td><a href="{{ path('ajout_institution', {val:'afficherForm','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/edit.png" title="Modifier"></a></td>
                                 <td><a href="{{ path('ajout_institution', {val:'supprimer','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/remove.png" title="Supprimer"></a></td>{% endif %}
          #}
                            </tr>

                        {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {#{% if (id!=0 and val=="supprimer") %}     
        {% include 'factSheetBundle:Institution:dialogue.html.twig' %}
    {% endif %}#}

{% endblock %}
