{#extends "GplainteBundle::layout.html.twig" #}


{% block title %}{{ 'Imagick demo'| trans }}{% endblock %}

{% block corps %}
    This is a demo of Imagick: <br>
    {{ image }}
    <svg></svg>{{ svg }}

{% endblock %}
