<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'Close' | trans }}</span></button>
          {{ 'Assignment of complaints' | trans }}
      </div>
        <div class="modal-body">

                <form action="{{ path('gplainte_add_affecter',{'val':"ajouter",'id':id})}}" method="post" {{ form_enctype(affecter) }} class="form-horizontal" id="" style="padding: 10px" >
                

                    <div class="form-group">
                        {{form_label(affecter.service,"Service technique :"|trans)}}
                        {{form_widget(affecter.service,{'attr':{'class':'form-control'}})}}
                    </div>

                    {{ form_rest(affecter) }}

                    <button type="submit" class="btn btn-primary" style="margin-bottom: 0px; margin-left: 75%;">{{ 'Go' | trans }}</button>
             

            </form>

    </div>
    </div></div></div>


