{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Handling complaint' | trans }}{% endblock %}

{% block corps %}

<div class="col-md-12" style="background-color: #fff; margin-top: 15px">
     {#<fieldset><legend style="width: 103%; margin-left: -1.5%">{{ 'Handling complaint' | trans }}</legend>#}
       
    <div class="row" style="margin: 15px">
        {%if msg is defined and msg==1%}
            <div class="col-md-12 alert-success" style="margin-left: -18px; width: 102%; font-size: 30px">
                {{ 'Treatment successfully completed' | trans }} <a style="color:#f79646;" href="{{ path('gplainte_show_affecter')}}">{{ 'Go back' | trans }}</a>

            </div>
        {% endif %}

         {%if msg is defined and msg==2%}
               <div class="col-md-12 alert-success" style="margin-left: -18px; width: 102%; font-size: 30px">
                   {{ 'Modification completed successfully' | trans }}
               </div>
           {% endif %}
        {%if msg is defined and msg==0%}
            <div class="col-md-12 alert-success" style="margin-left: -18px; width: 102%; font-size: 30px">
                {{ 'This complaint has already been processed' | trans }} <a style="color:#f79646;" href="{{ path('gplainte_show_affecter')}}">{{ 'Go back' | trans }}</a>
            </div>
        {% endif %}
         {#    {%if msg is defined and msg==3%}
               <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                   Suppression effectuée avec succès
               </div>
           {% endif %}#}
           {%if msgErr is defined and msgErr is defined%}
               <div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">
                   {{msgErr}}
               </div>
           {% endif %}

         {#  {%if msgException is defined and msgException==1%}
               <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                   Cette affectation n'existe plus
               </div>
           {% endif %}

           {%if msgException is defined and msgException==2%}
               <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                   Cette affectation est liée à d'autres opérations
               </div>
           {% endif %}#}
    </div>{#{{app.request.query.get(msgException)}}#}{##}
    {#<div class='col-md-6 col-md-offset-3'>

        <fieldset>
            <legend>Enregistrement affectation</legend>#}


         <div class="row">
             <div class="col-md-4" style="margin-left: -15px">
                 <h3 class="btn-titre"><i class="zmdi zmdi-plus-circle"></i><span style="padding-left: 10px">{{ 'Handling complaint' | trans }}</span></h3>
             </div>

         </div>

         <div class="col-md-12" style="">
             <form action="{{ path('gplainte_add_traiter',{'val':val,'id':id})}}" method="post" {{ form_enctype(traiter) }} class="form-horizontal" id="" >
                 {% if objetPlainte is defined %}
                     <div style="margin-left: -10px" class="col-md-4 stl_form">
                         <span>{{ 'Complained' | trans }}:</span><span style="color:#009B50;">
                            {{ objetPlainte.plainte.niveau.libelle }}
                        </span>
                     </div>


                     <div style="margin-left: -10px" class="col-md-4 stl_form">
                         <span>{{ 'Nom client' | trans }}:</span><span style="color:#009B50;">
                            {% if (objetPlainte.plainte.client!=null) %}
                                {{ objetPlainte.plainte.client.nomprenom }}
                            {% endif %}
                        </span>
                     </div>

                     <div style="margin-left: -10px" class="col-md-4 stl_form">
                         <span>{{ 'Téléphone client' | trans }}:</span><span style="color:#009B50;">
                            {% if (objetPlainte.plainte.client!=null) %}
                                {{ objetPlainte.plainte.client.telephone1 }}
                            {% endif %}
                        </span>
                     </div>


                     <div style="margin-left: -10px" class="col-md-4 stl_form">
                         <span>{{ 'Nom agent' | trans }}:</span><span style="color:#009B50;">
                            {#{{ objetPlainte.plainte.id }}#}
                            {% if (objetPlainte.plainte.agent!=null) %}
                             {{ objetPlainte.plainte.agent.nomprenom }}
                             {% endif %}
                        </span>
                     </div>
                     <div style="margin-left: -10px" class="col-md-4 stl_form">
                         <span>{{ 'Téléphone agent' | trans }}:</span><span style="color:#009B50;">
                            {% if (objetPlainte.plainte.agent!=null) %}
                                {{ objetPlainte.plainte.agent.telephone }}
                            {% endif %}
                        </span>
                     </div>

                     <div style="margin-left: -10px" class="col-md-4 stl_form">
                         <span>{{ 'Traité' | trans }}:</span><span style="color:#009B50;">
                            {% if (objetPlainte.nonapprouver==1) %}
                               {{ 'Oui'|trans}}
                                {% else %}
                                {{  'Non'|trans}}
                            {% endif %}
                        </span>
                     </div>

                 {% endif %}

                 <div class="form-group">
                     {{form_label(traiter.plainte,"complaint :" | trans)}}
                     {{form_widget(traiter.plainte,{'attr':{'class':'form-control'}})}}
                 </div>

                 <div class="col-md-6 form-group">
                     {{form_label(traiter.service,"Department of handling the complaint :" | trans)}}
                     {{form_widget(traiter.service,{'attr':{'class':'form-control'}})}}
                 </div>

                 <div class="col-md-6 form-group">
                     {{form_label(traiter.dateAffectation,"Date of assignment :"| trans)}}
                     {{form_widget(traiter.dateAffectation,{'attr':{'class':'form-control'}})}}
                 </div>

                 {#<div class="form-group">#}
                 {#{{form_label(traiter.recevable,"Recevabilité :")}}#}
                 {#{{form_widget(traiter.recevable,{'attr':{'class':'form-control'}})}}#}
                 {#</div>#}

                 <div class="col-md-6 form-group">
                     {{form_label(traiter.action.solution,"Solutions suggested  (*) :"|trans)}}
                     {{form_widget(traiter.action.solution,{'attr':{'class':'form-control'}})}}
                 </div>

                 <div class="col-md-6 form-group">
                     {{form_label(traiter.action.prevention,"Preventive actions / corrective actions (*) :"|trans)}}
                     {{form_widget(traiter.action.prevention,{'attr':{'class':'form-control'}})}}
                 </div>

                 {#<div class="form-group">#}
                 {#{{form_label(traiter.action.dateAction,"Date actions préventives (*):")}}#}
                 {#{{form_widget(traiter.action.dateAction,{'attr':{'class':'form-control'}})}}#}
                 {#</div>#}

                 {#<div class="form-group">#}
                 {#{{form_label(traiter.agent,"Name employees (*) :"|trans)}}#}
                 {#{{form_widget(traiter.agent,{'attr':{'class':'form-control'}})}}#}
                 {#</div>#}

                 <div class="form-group">
                     {{form_label(traiter.action.observation,"Observation :")}}
                     {{form_widget(traiter.action.observation,{'attr':{'class':'form-control','rows':5}})}}
                 </div>





                 {{ form_rest(traiter) }}

                 <div class="row">
                     <div class="col-md-3">
                         <span style="font-weight: bold">(*) {{ 'Require fields' | trans }}</span>
                     </div>
                     <div class="col-md-9">
                         <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 20px; margin-right: -12px;">{{ 'Go' | trans }}</button>
                     </div>
                 </div>
             </form>
         </div>

   
    </div>
    
    {#<div class="col-md-12" style="min-height: 500px; margin-top: 20px">
        <fieldset><legend>Liste des Services</legend></fieldset>
        
                    <table class="table table-striped table-hover" id='table_list_membre'>
                        <thead>
                        <tr>
                            <th>Nom service</th>
                            <th>Dénonomination sociale</th>
                         {#
                             <th></th>
                            <th></th>
                        </tr>

                        </thead>
                        <tbody>
                        {% for list in list %}
                            <tr>
                                <td>{{list.libelle}}</td>

                                <td>{{list.institution.denominationSociale}}</td>




                                {#  {% if is_granted('ROLE_ADMIN') %}
                                 <td><a href="{{ path('ajout_institution', {val:'afficherForm','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/edit.png" title="Modifier"></a></td>
                                 <td><a href="{{ path('ajout_institution', {val:'supprimer','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/remove.png" title="Supprimer"></a></td>{% endif %}
        
                            </tr>

                        {% endfor%}
                        </tbody>
                    </table>
                
    </div>#}
    {#{% if (id!=0 and val=="supprimer") %}     
        {% include 'GplainteBundle:Affecter:dialogue.html.twig' %}
    {% endif %}#}


<script>

    $("#gplainte_gplaintebundle_affecter2_service").attr('readonly','readonly');

    $("#gplainte_gplaintebundle_affecter2_dateAffectation").attr('readonly','readonly');


</script>

{% endblock %}
