{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'List complaints' | trans }}{% endblock %}

{% block corps %}

<div class="col-md-12 borderStyle" style="margin-top: 20px; margin-bottom: 40px;">

    <div class="row">
        <div class="col-md-4 stl_show" style="margin-left: 0px; margin-bottom: 20px">
            {{ 'Traitment detail'| trans }}
        </div>
    </div>

<div class="row" style="margin-bottom: 10px; font-size: 18px">
        <div class="col-md-4">{{ 'Action date' | trans }}: <span class="d_color">{{list.action.dateAction | date('d/m/Y')}}</span></div>
        <div class="col-md-4">{{ 'social reason' | trans }}: <span class="d_color">{{list.plainte.client.raisonSociale}}</span></div>
    <div class="col-md-4">{{ 'Complaint type' | trans }}: <span class="d_color">{{list.plainte.choix.libelle}}</span></div>


</div>
<div class="row" style="margin-bottom: 10px; font-size: 18px">
        <div class="col-md-4">{{ 'File number' | trans }}: <span class="d_color">{{list.plainte.client.numDossier}}</span></div>
        <div class="col-md-4">{{ 'Phone' | trans }}:<span class="d_color"> {{list.plainte.client.telephone1}}</span></div>
    <div class="col-md-4">{{ 'Complained' | trans }}:<span class="d_color"> {%if list.plainte.niveau.id is defined %}{{list.plainte.niveau.libelle}}{%else%}{%endif%}</span></div>

</div>

<div class="row" style="margin-bottom: 10px; font-size: 18px">
        <div class="col-md-4">{{ 'Last name complainant' | trans }}: <span class="d_color">{{list.plainte.client.nom}}</span></div>
        <div class="col-md-4">{{ 'District complainant' | trans }}:<span class="d_color"> {{list.plainte.client.quartier}}</span></div>
    <div class="col-md-4">{{ 'proposed solution' | trans }}: <span class="d_color">{{list.action.solution}}</span></div>


</div>

<div class="row" style="margin-bottom: 10px; font-size: 18px">
        <div class="col-md-4">{{ 'First name complainant' | trans }}:<span class="d_color"> {{list.plainte.client.prenom}}</span></div>
    <div class="col-md-4">{{ 'Desk of' | trans }}: <span class="d_color">{{list.plainte.bureau.libelle}}</span></div>

    {#<div class="col-md-4">{{ 'Branch of' | trans }}:<span class="d_color"> {{list.plainte.agence}}</span></div>#}
    <div class="col-md-4">{{ 'proposed prevention' | trans }}: <span class="d_color">{{list.action.prevention}}</span></div>


</div>

<div class="row" style="margin-bottom: 10px; font-size: 18px">
        <div class="col-md-4">{{ 'Email complainant' | trans }}:<span class="d_color"> {{list.plainte.client.email}}</span></div>
        <div class="col-md-4">{{ 'Solution suggested by' | trans }}: <span class="d_color">{{list.agent.nom}} {{list.agent.prenom}}</span></div>
</div>


<div class="row">
    <div class="col-md-2 col-md-offset-7"><a style="margin-top: 30px" href="{{path('gplainte_approuve_action',{'id':list.id,'val':2})}}" class="btn btn-primary btn-lg">{{ 'not approved' | trans }}</a> </div>

    <div class="col-md-2 col-md-offset-1"><a style="margin-top: 30px" href="{{path('gplainte_approuve_action',{'id':list.id,'val':1})}}" class="btn btn-primary btn-lg">{{ 'Approved'| trans }}</a> </div>
</div>



 </div>
{# {% if (id!=0 and val=="affecter") %}     
        {% include 'GplainteBundle:Affecter:addAffecter.html.twig' %}
    {% endif %}#}

{% endblock %}
