{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Complaints to be resolved' | trans }}{% endblock %}

{% block corps %}

<div class="col-md-12 borderStyle" style="">


    <div class="panel panel-default" style="border:0px solid transparent">
        <div class="panel-heading" role="tab" id="">
            <h4 class="panel-title" style="float: left; display: block;">
                <a style="display:block!important;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#41xx" aria-expanded="false" aria-controls="collapseTwo">
                    {{ 'Plaintes rejetées à la validation'| trans }}
                </a>
            </h4>
            <span style="margin-left: 30%;cursor: pointer;">
                {#<i id="caret" dt="41" class="zmdi zmdi-caret-down zmdi-hc-2x"></i>#}
            </span>
        </div>
        <div id="41xx" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
            <div class="panel-body" id="reponse" style="background-color: #fff; padding: 0px">

                <div class="table-responsive">
                    <table class="table table-striped table-hover" id='listeplainte00'>
                        <thead>
                        <tr>
                            <th>{{ 'Complaint date' | trans }}</th>
                            <th>{{ 'File number' | trans }}</th>
                            <th>{{ 'Last name' | trans }}</th>
                            <th>{{ 'First name' | trans }}</th>
                            <th>{{ 'Type' | trans }}</th>
                            <th>{{ 'Object' | trans }}</th>
                            <th>{{ 'Service' | trans }}</th>
                            <th>{{ 'Solutions' | trans }}</th>
                            {#<th></th>
                           <th></th>#}
                        </tr>

                        </thead>
                        <tbody>
                        {% for list in listRejet %}
                            <tr>

                                <td>{{list.dateAffectation | date('d/m/Y')}}</td>
                                <td>{{list.plainte.client.numDossier}}</td>
                                <td>{{list.plainte.client.nom}}</td>
                                <td>{{list.plainte.client.prenom}}</td>
                                <td>{{list.plainte.choix.libelle}}</td>
                                <td>{%if list.plainte.niveau.id is defined %}{{list.plainte.niveau.libelle}}{%else%}{%endif%}</td>
                                <td>{{list.service.libelle}}</td>

                                {#  {% if is_granted('ROLE_ADMIN') %}
                                 <td><a href="{{ path('ajout_institution', {val:'afficherForm','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/edit.png" title="Modifier"></a></td>
                                 <td><a href="{{ path('ajout_institution', {val:'supprimer','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/remove.png" title="Supprimer"></a></td>{% endif %}
                        #}
                                <td style="padding-left: 30px"><a href="{{path('gplainte_add_affecter',{'val':'traiter','id':list.plainte.id,'serviceid':list.service.id})}}" title="Solution" ><i class="zmdi zmdi-eye iconlist"></i></a></td>
                                {#   <td><a href="{{path('gplainte_show_plainte',{'val':'affecter','id':list.id})}}" class="btn btn-link">Affecter</a></td>
                        #}                    </tr>

                        {% endfor%}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-md-12 stl_show" style="">
            {{ 'Complaints to be resolved'| trans }}
        </div>
    </div>


<div class="table-responsive">
<table class="table table-striped table-hover" id='listeplainte'>
            <thead>
                <tr>
                    <th>{{ 'Complaint date' | trans }}</th>
                    <th>{{ 'File number' | trans }}</th>
                   <th>{{ 'Last name' | trans }}</th>
                    <th>{{ 'First name' | trans }}</th>
                    <th>{{ 'Type' | trans }}</th>
                    <th>{{ 'Object' | trans }}</th>
                   <th>{{ 'Service' | trans }}</th>
                     <th>{{ 'Solutions' | trans }}</th>
                    {#<th></th>
                   <th></th>#}
                </tr> 
                
            </thead>
            <tbody>
                    {% for list in list %}
                    <tr>
                       
                         <td>{{list.dateAffectation | date('d/m/Y')}}</td>
                        <td>{{list.plainte.client.numDossier}}</td>
                        <td>{{list.plainte.client.nom}}</td>
                        <td>{{list.plainte.client.prenom}}</td>
                        <td>{{list.plainte.choix.libelle}}</td>
                        <td>{%if list.plainte.niveau.id is defined %}{{list.plainte.niveau.libelle}}{%else%}{%endif%}</td>
                        <td>{{list.service.libelle}}</td>

                      {#  {% if is_granted('ROLE_ADMIN') %}
                       <td><a href="{{ path('ajout_institution', {val:'afficherForm','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/edit.png" title="Modifier"></a></td>
                       <td><a href="{{ path('ajout_institution', {val:'supprimer','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/remove.png" title="Supprimer"></a></td>{% endif %}
#}
                      <td style="padding-left: 30px"><a href="{{path('gplainte_add_affecter',{'val':'traiter','id':list.plainte.id,'serviceid':list.service.id})}}" title="Solution" ><i class="zmdi zmdi-eye iconlist"></i></a></td>
                   {#   <td><a href="{{path('gplainte_show_plainte',{'val':'affecter','id':list.id})}}" class="btn btn-link">Affecter</a></td>
#}                    </tr>
                
                {% endfor%}
            </tbody>
        </table>
                            </div>










</div>

{# {% if (id!=0 and val=="affecter") %}     
        {% include 'GplainteBundle:Affecter:addAffecter.html.twig' %}
    {% endif %}#}

{% endblock %}
