{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'List resolutions approved' | trans }}{% endblock %}

{% block corps %}



<div class="col-md-12 borderStyle" style=" margin-top: 20px; margin-bottom: 40px">

    {% if app.request.query.get("id")==1 %}
        <div class="alert-success" style="font-size: 40px">{{ 'Notification completed successfully' | trans }}</div>
    {% endif %}

    <div class="row">
        <div class="col-md-12 stl_show" style="">
            {{ 'Solutions à communiquer'| trans }}
        </div>
    </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover" id='listeplainte'>
                <thead>
                <tr>
                    <th>{{ 'Processing date' | trans }}</th>
                    <th>{{ 'File number' | trans }}</th>
                    <th>{{ 'Last name' | trans }}</th>
                    <th>{{ 'First name' | trans }}</th>
                    <th>{{ 'Type' | trans }}</th>
                    <th>{{ 'Object' | trans }}</th>
                    <th>{{ 'Solution suggested by' | trans }}</th>
                    <th>{{ 'Notification' | trans }}</th>
                    {#<th></th>#}

                    {#<th></th>
                   <th></th>#}
                </tr>

                </thead>
                <tbody>
                {% for list in list %}
                    <tr>

                        <td>{{list.action.dateAction | date('d/m/Y')}}</td>
                        <td>{{list.plainte.client.numDossier}}</td>
                        <td>{{list.plainte.client.nom}}</td>
                        <td>{{list.plainte.client.prenom}}</td>
                        <td>{{list.plainte.choix.libelle}}</td>
                        <td>{%if list.plainte.niveau.id is defined %}{{list.plainte.niveau.libelle}}{%else%}{%endif%}</td>
                        <td>{{list.agent.nom}} {{list.agent.prenom}}</td>

                        {#  {% if is_granted('ROLE_ADMIN') %}
                         <td><a href="{{ path('ajout_institution', {val:'afficherForm','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/edit.png" title="Modifier"></a></td>
                         <td><a href="{{ path('ajout_institution', {val:'supprimer','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/remove.png" title="Supprimer"></a></td>{% endif %}
  #}
                        <td style="padding-left: 30px"><a href="{{path('gplainte_add_notifier',{'val':'notifier','action':list.action.id,'plainte':list.plainte.id})}}" title="Notification" ><span class="zmdi zmdi-eye iconlist"></span></a></td>
                        {#    <td><a href="{{path('gplainte_show_plainte',{'val':'affecter','id':list.id})}}" class="btn btn-link">Affecter</a></td>
       #}                    </tr>

                {% endfor%}
                </tbody>
            </table>
        </div>

 </div>
    {#{% if (actiond!=0 and plainte!=0) %}#}
        {#{% include 'GplainteBundle:Notification:addNotification.html.twig' %}#}
    {#{% endif %}#}
{% endblock %}
