{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Resolutions to be check out' | trans }}{% endblock %}

{% block corps %}

<div class="col-md-12 borderStyle" style="">
    <div class="row">
        <div class="col-md-12 stl_show" style="">
            {{ 'Resolutions to be check out'| trans }}
        </div>
    </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover" id='listeplainte'>
                <thead>
                <tr>
                    <th>{{ 'Processing date' | trans }}</th>
                    <th>{{ 'Number folder' | trans }}</th>
                    <th>{{ 'Last name' | trans }}</th>
                    <th>{{ 'First name' | trans }}</th>
                    <th>{{ 'Type' | trans }}</th>
                    <th>{{ 'Object' | trans }}</th>
                    <th>{{ 'Solution suggested by' | trans }}</th>
                    <th>{{ 'Modify' | trans }}</th>

                    <th>{{ 'Detail' | trans }}</th>
                 {#  <th></th>#}
                </tr>

                </thead>
                <tbody>
                {% for list in list %}
                    <tr>

                        <td>{{list.action.dateAction | date('d/m/Y')}}</td>
                        <td>{{list.plainte.client.numDossier}}</td>
                        <td>{{list.plainte.client.nom}}</td>
                        <td>{{list.plainte.client.prenom}}</td>
                        <td>{{list.plainte.choix.libelle}}</td>
                        <td>{%if list.plainte.niveau.id is defined %}{{list.plainte.niveau.libelle}}{%else%}{%endif%}</td>
                        <td>{{list.agent.nom}} {{list.agent.prenom}}</td>

                         
                         <td style="padding-left: 30px">{% if not is_granted("ROLE_PILOTE") and is_granted('ROLE_ANALYSTE') %}
                             <a href="{{ path('gplainte_add_affecter', {val:'afficherForm','id': list.id,'serviceid':list.service.id}) }}" class="" ><i class="zmdi zmdi-edit iconlist"></i></a>{% endif %}</td>
             {#             <td><a href="{{ path('ajout_institution', {val:'supprimer','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/remove.png" title="Supprimer"></a></td>
  #}
                        <td style="padding-left: 30px"><a href="{{path('gplainte_detail_traiter',{'id':list.id})}}" class=""><i class="zmdi zmdi-eye iconlist"></i></a></td>
                        {#    <td><a href="{{path('gplainte_show_plainte',{'val':'affecter','id':list.id})}}" class="btn btn-link">Affecter</a></td>
       #}                    </tr>

                {% endfor%}
                </tbody>
            </table>
        </div>

 </div>
{# {% if (id!=0 and val=="affecter") %}     
        {% include 'GplainteBundle:Affecter:addAffecter.html.twig' %}
    {% endif %}#}

{% endblock %}
