{% extends "GplainteBundle::layout.html.twig" %}
{% form_theme Agence 'GplainteBundle::fields_errors.html.twig' %}

{% block title %}{{ 'Registration of agencies'| trans }}{% endblock %}

{% block corps %}


    <div class="col-md-12 borderStyle" style="margin-left: -15px">

        <div class="stl_show" style="padding-left: 15px; padding-bottom: 20px">{{ 'Agency List' | trans }}</div>


        <table class="table table-striped table-hover" id='table_list_membre'>
            <thead>
            <tr>
                <th>{{ 'Label'| trans }}</th>
                <th>{{ 'MFI'| trans }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th></th>
                <th></th>
                {% endif %}
            </tr>

            </thead>
            <tbody>
            {% for list in list %}
                <tr>
                    <td>{{list.libelle}}</td>
                    <td>{{list.institution.denominationSociale}}</td>

                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('gplainte_add_Agence', {val:'afficherForm','id': list.id}) }}"><img src="{{asset('assets/img/edit.png')}}" title="Modifier"></a></td>
                        <td><a href="{{ path('gplainte_add_Agence', {val:'supprimer','id': list.id}) }}"><img src="{{asset('assets/img/remove.png')}}" title="Supprimer"></a></td>{% endif %}

                </tr>
            {% endfor%}
            </tbody>
        </table>

    </div>


<div class="col-md-12" style="margin-top: 40px; margin-left: -25px">


    {#<div class='col-md-8 col-md-offset-2'>#}
    <div class="row">
        <div class="col-md-5" style="background-color: #fff; text-transform: uppercase; color: #000; font-family: Roboto-Light; font-size: 26px">
            {{ 'Registration of agencies' | trans }}
        </div>
    </div>

            <form action="{{ path('gplainte_add_Agence',{val:val,id:id})}}" method="post" {{ form_enctype(Agence) }} class="form-horizontal" id="" >

                <div class="col-md-7" style="background-color: #fff; padding-top: 30px; padding-bottom: 10px; color: #000; font-family: Roboto-Light">

                    <div class="row" style="font-size: 30px">
                        {%if msg is defined and msg==2%}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Modification completed successfully' | trans }}
                            </div>
                        {% endif %}

                        {%if app.request.query.get("msg")==3%}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Successful deletion' | trans }}
                            </div>
                        {% endif %}

                        {%if msg is defined and msg==1%}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Adding completed successfully' | trans }}
                            </div>
                        {% endif %}

                        {%if msgErr is defined and msgErr==1%}
                            <div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">
                                {{ 'This record already exists' | trans }}
                            </div>
                        {% endif %}

                        {%if app.request.query.get("msgException")==1%}
                            <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                                {{ 'This agency no longer exists' | trans }}

                            </div>
                        {% endif %}
                        {#{{app.request.query.get(msgException)}}#}
                        {%if app.request.query.get("msgException")==2%}
                            <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                                {{ 'This agency is related to other operations' | trans }}

                            </div>
                        {% endif %}
                    </div>
                <div class='col-md-12'>

                    <div class="form-group">
                        {{form_label(Agence.libelle,"Libellé (*):" | trans)}}
                        {{form_errors(Agence.libelle)}}
                        {{form_widget(Agence.libelle,{'attr':{'class':'form-control'}})}}
                    </div>

                   {# <div class="form-group">
                        {{form_label(Agence.institution,"MFI (*):" | trans)}}
                        {{form_widget(Agence.institution,{'attr':{'class':'form-control'}})}}
                    </div>#}

                </div>

                <div class="col-md-12">
                    <span>(*) {{ 'Require fields'| trans }}</span>
                </div>
                <div class="col-md-2" style="float: right">
                    {{ form_rest(Agence) }}
                    <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 20px; margin-right: -10px;">{{ 'Go'| trans }}</button>
                </div>
            </div>
            </form>

    </div>


    {% if (id!=0 and val=="supprimer") %}
        {% include 'GplainteBundle:Agence:dialogue.html.twig' %}
    {% endif %}

{% endblock %}
