{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Dashboard'| trans }}{% endblock %}

{% block corps %}

    <script type="text/javascript" src="{{asset('assets/js/mootools.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/js/mootoolsadapter.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/js/hightchart.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/js/exporting.js')}}"></script>

    {#<script src="https://code.highcharts.com/highcharts.js"></script>#}
    {#<script src="https://code.highcharts.com/modules/exporting.js"></script>#}


    <script type="text/javascript">
        {{ chart(graphe1, 'mootools') }}
        {{ chart(graphe2, 'mootools') }}
        {{ chart(graphe3, 'mootools') }}

    </script>


    <div class="col-md-12 borderStyle" style="">
    <div class="stl_show" style="padding-left: 15px; padding-bottom: 20px; font-weight: bold">{{ 'Dashboard' | trans }}</div>

        <div class="row">
            <div class="col-md-12" style="margin-top:10px;">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'Statistiques' | trans}}</div>
                    <div class="panel-body">
                        <div class="col-md-4">
                            <div class="col-md-12 dashboardValeur">
                                {% if plainteresolue is null %}
                                {% else %}
                                    {{ plainteresolue}}
                                {% endif %}
                            </div>
                            <div class="col-md-12">{{ 'plaintes resolues'|trans}}</div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12 dashboardValeur">
                                {% if plainteEnCoursTraitement is null %}
                                {% else %}
                                    {{ plainteEnCoursTraitement}}
                                {% endif %}
                            </div>
                            <div class="col-md-12">{{ 'plaintes en cours de traitement'|trans}}</div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12 dashboardValeur">
                                {% if tempsmoyen is null %}
                                {% else %}
                                    {{ tempsmoyen|abs}} {{ 'jour (s)'|trans}}
                                {% endif %}
                            </div>
                            <div class="col-md-12">{{ 'En moyenne pour traiter les plaintes'|trans}}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'Points de services'|trans}}</div>
                    <div class="panel-body">
                <div id="pie" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                        </div></div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'Objets de plaintes'|trans}}</div>
                    <div class="panel-body">
                <div id="pie0" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                        </div></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'Genre des plaintes'|trans}}</div>
                    <div class="panel-body">
                        <div id="pie1" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                    </div></div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'Journal des activités récentes'|trans}}
                    </div>
                                <div class="table-responsive">
                                     <table class="table table-striped table-hover" id=''>
                                        <thead>
                                            <tr>
                                                <th>{{ 'Pseudo' | trans }}</th>
                                                <th>{{ 'Date action' | trans }}</th>
                                                <th>{{ 'Action' | trans }}</th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                        {% for list in journal %}
                                            <tr>
                                                <td>{{list.user.username}}</td>
                                                <td>{{list.createdat | date('d/m/Y H:i:s')}}</td>
                                                <td>
                                                    {{list.dataevent.libelle}}
                                                </td>

                                            </tr>

                                        {% endfor%}
                                        </tbody>
                                    </table>
                                </div>

                </div>
                </div>
            </div>
        </div>











    </div>


{% endblock %}