{% extends "::base.html.twig" %}

{% block title %} {{ parent()}} |  {% endblock %}

{% block body %}
<div id="wrapper">
    
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ app.request.baseUrl }}/accueil"><img src="{{asset('assets/img/logo.png')}}" style=""/></a>
            </div>

        </nav>




    <div id="page-inner" >
               {# {% if not is_granted("ROLE_RESEAU") and is_granted("ROLE_INSTITUTION")%}
                <div class="col-md-2 col-md-offset-10" style="top:10px"><a href="{{path('cloture_exercice')}}" class="btn-lg btn-default" style="color: #000 !important;">Clôturer l'année</a></div>
               
                 {% endif%}#}
                {% block corps %}
                {%endblock%}
                {% block fos_user_content %}                
                {%endblock fos_user_content%}
                 <!-- /. ROW  -->           
    </div>
             <!-- /. PAGE INNER  -->
{#            </div>#}
         <!-- /. PAGE WRAPPER  -->
        </div>

         <div class="col-md-12" style="background: #CC9; border-top: #F26722 3px solid; height: 40px; line-height: 40px; margin-top:20px; color: #66672C; text-align: center; font-weight: bold">Copyright 2015 DMD</div>
 {% endblock %}