{% extends "::base.html.twig" %}

{% block title %} {{ parent()}} |  {% endblock %}

{% block body %}
<div id="wrapper">



    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0; height: 80px; padding-top: 10px">
        {#<div class="navbar-header">#}
            {#<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">#}
                {#<span class="sr-only">Toggle navigation</span>#}
                {#<span class="icon-bar"></span>#}
                {#<span class="icon-bar"></span>#}
                {#<span class="icon-bar"></span>#}
            {#</button>#}
        {#</div>#}
        <div class="col-md-2 col-md-offset-5">
            <img id="companyLogo" src="{{ asset('assets/img/logo.png') }}" class="" style="width:120px; height: 64px" title="">
        </div>
        <div class="col-md-2 col-md-offset-3" style="color: white;
        padding: 15px 50px 5px 50px;
       ">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{path('fos_user_security_logout') }}" class="btn btn-danger square-btn-adjust"><i class="zmdi zmdi-power"></i>
                {{ 'Disconnect'| trans }}</a>
    {%else%}
    {% endif %}
        </div>
    </nav>





<div class="col-md-2">
    <nav class="navbar-default navbar-side " role="navigation" style="margin-bottom: 0; margin-left: -15px">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="text-center" style="background-color: #ebecf2;">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if app.user.agent is not null  %}
                        {% if app.user.agent.webPath is not null  %}
                            <img src="{{ asset(app.user.agent.webPath) }}" class="" style="max-width: 210px; height: auto" title="">
                        {% endif %}
                        <span class="" style="color: #fff; padding-bottom: 20px; margin-top: -42px; display: block;
                        font-family: Roboto; font-size: 16px">{{ app.user.username }}  </span>

                        {%else%}
                        {% endif %}
                        {% endif %}
                        <span id="avatar_span" style="border-bottom: 8px solid #f79646; display: block;"></span>
                    </li>

                    <li class="{% if app.request.attributes.get("_route")=='gplainte_add_plainte'
                     or app.request.attributes.get("_route")=='gplainte_show_plainte'
                  or app.request.attributes.get("_route")=='gplainte_show_affecter'
                or app.request.attributes.get("_route")=='gplainte_show_traiter'
              or app.request.attributes.get("_route")=='gplainte_plainte_approuve'
            or app.request.attributes.get("_route")=='gplainte_list_satisfaction' %}active bg{%endif%}" id='processus'><a href="#"><i class="zmdi zmdi-format-clear-all" style=""></i>{{ 'Complaints management'| trans }}<span class="zmdi zmdi-plus zmdi-hc-lg" style="float:right; padding-top: 5px"></span></a>
                        <ul class="nav nav-second-level">

                            {% if is_granted("ROLE_REDACTEUR") %}
                                <li><a href="{{path('gplainte_add_plainte')}}" id="1" class="{% if app.request.attributes.get("_route")=='gplainte_add_plainte' %}active{%endif%}" >{{ 'Complaints registration'| trans }}</a></li>
                                <li><a href="{{path('gplainte_show_plainte')}}" id="2" class="{% if app.request.attributes.get("_route")=='gplainte_show_plainte' %}active{%endif%}" >{{ 'List of  assigned complaints'| trans }}</a></li>
                            {% endif %}
                            {% if is_granted("ROLE_ANALYSTE") %}
                                <li><a href="{{path('gplainte_show_affecter')}}" id="3" class="{% if app.request.attributes.get("_route")=='gplainte_show_affecter' %}active{%endif%}" >{{ 'List of resolved complaints'| trans }}</a></li>
                                <li><a href="{{path('gplainte_show_traiter')}}" id="4" class="{% if app.request.attributes.get("_route")=='gplainte_show_traiter' %}active{%endif%}" >{{ 'Valider solution'| trans }}</a></li>
                                <li><a href="{{path('gplainte_plainte_approuve')}}" id="5" class="{% if app.request.attributes.get("_route")=='gplainte_plainte_approuve' %}active{%endif%}" >{{ 'List of resolutions to be communicated'| trans }}</a></li>
                                {#<li><a href="{{path('gplainte_list_notifier')}}" id="6" class="" >{{ 'List of evaluated resolutions'| trans }}</a></li>#}
                            {% endif %}
                            {% if is_granted("ROLE_PILOTE") %}
                                <li><a href="{{path('gplainte_list_satisfaction')}}" id="7" class="{% if app.request.attributes.get("_route")=='gplainte_list_satisfaction' %}active{%endif%}" >{{ 'List to check satisfactions'| trans }}</a></li>

                            {% endif %}
                        </ul>
                    </li>

                    {% if is_granted("ROLE_PILOTE") %}
                        <li><a href="{{ path('gplainte_suivi_plainte') }}" id="8" class="{% if app.request.attributes.get("_route")=='gplainte_suivi_plainte' %}active{%endif%}"><i class="zmdi zmdi-apps" style=""></i>{{ 'Suivi'| trans }}</a></li>
                    {% endif %}

                    {% if is_granted("ROLE_ANALYSTE") %}
                        <li><a href="{{ path('gplainte_plainte_archive') }}" id="9" class="{% if app.request.attributes.get("_route")=='gplainte_plainte_archive' %}active{%endif%}"><i class="zmdi zmdi-format-color-text" style=""></i>{{ 'Archives'| trans }}</a></li>
                    {% endif %}
                    {% if is_granted("ROLE_REDACTEUR") %}
                        <li><a href="{{ path('gplainte_list_faq') }}" id="10" class="{% if app.request.attributes.get("_route")=='gplainte_list_faq' %}active{%endif%}"><i class="zmdi zmdi-border-color" style=""></i>{{ 'FAQ'| trans }}</a></li>
                    {% endif %}
                    {% if is_granted("ROLE_PILOTE") %}
                        <li class="{% if app.request.attributes.get("_route")=='gplainte_add_plainte'
                         or app.request.attributes.get("_route")=='gplainte_list_indicateur'
                        or app.request.attributes.get("_route")=='gplainte_list_parameters_rapport' %}active bg{%endif%}"><a href="#"><i class="zmdi zmdi-view-day" id="" style=""></i>{{ 'Analysis'| trans }} <span class="zmdi zmdi-plus" style="float: right"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="{{ path('gplainte_list_indicateur') }}" id="11" class="{% if app.request.attributes.get("_route")=='gplainte_list_indicateur' %}active{%endif%}">{{ 'Indicators'| trans }}</a></li>
                                <li><a href="{{ path('gplainte_list_parameters_rapport') }}" id="12" class="{% if app.request.attributes.get("_route")=='gplainte_list_parameters_rapport' %}active{%endif%}">{{ 'Report'| trans }}</a></li>

                            </ul>
                        </li>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <li><a href="{{path('fos_user_registration_register')}}"  class="{% if app.request.attributes.get("_route")=='fos_user_registration_register' %}active{%endif%}" ><i class="zmdi zmdi-view-dashboard" style=""></i>{{ 'Accounts management'| trans }}</a></li>
                    {% endif %}
                    <li class="{% if app.request.attributes.get("_route")=='gplainte_add_institution'
                     or app.request.attributes.get("_route")=='gplainte_add_Agence'
                  or app.request.attributes.get("_route")=='gplainte_add_Bureau'
                or app.request.attributes.get("_route")=='gplainte_add_service'
              or app.request.attributes.get("_route")=='gplainte_add_fonction'
            or app.request.attributes.get("_route")=='gplainte_add_agent'
            or app.request.attributes.get("_route")=='gplainte_add_client'
          or app.request.attributes.get("_route")=='gplainte_add_produit'
        or app.request.attributes.get("_route")=='gplainte_add_niveau'
      or app.request.attributes.get("_route")=='gplainte_add_import_plainte'
      or app.request.attributes.get("_route")=='gplainte_add_export_plainte'
    or app.request.attributes.get("_route")=='gplainte_add_import_client'
                    or app.request.attributes.get("_route")=='customizr_theme'
  or app.request.attributes.get("_route")=='gplainte_add_faq' %}active bg{%endif%}"><a href="#" ><i class="zmdi zmdi-tune" style=""></i>{{ 'Parameters'| trans }}<span class="zmdi zmdi-plus" style="float: right"></span></a>
                        <ul class="nav nav-second-level">
                            {% if is_granted("ROLE_PILOTE") %}
                                <li><a href="{{path('gplainte_add_institution')}}" id="14" class="{% if app.request.attributes.get("_route")=='gplainte_add_institution' %}active{%endif%}" >{{ 'MFI'| trans }}</a></li>
                                <li><a href="{{path('gplainte_add_Agence')}}" id="15" class="{% if app.request.attributes.get("_route")=='gplainte_add_Agence' %}active{%endif%}" >{{ 'Agency'| trans }}</a></li>
                                {#IMCEC#}
                                <li><a href="{{path('gplainte_add_Bureau')}}" id="16" class="{% if app.request.attributes.get("_route")=='gplainte_add_Bureau' %}active{%endif%}" >{{ 'Services points'| trans }}</a></li>
                                {#'Guichet'#}
                                <li><a href="{{path('gplainte_add_service')}}" id="17" class="{% if app.request.attributes.get("_route")=='gplainte_add_service' %}active{%endif%}" >{{ 'Departments'| trans }}</a></li>
                                <li><a href="{{path('gplainte_add_fonction')}}" id="18" class="{% if app.request.attributes.get("_route")=='gplainte_add_fonction' %}active{%endif%}" >{{ 'Function'| trans }}</a></li>
                                <li><a href="{{path('gplainte_add_agent')}}" id="19" class="{% if app.request.attributes.get("_route")=='gplainte_add_agent' %}active{%endif%}" >{{ 'Employees'| trans }}</a></li>

                                <li><a href="{{path('gplainte_add_client')}}" id="20" class="{% if app.request.attributes.get("_route")=='gplainte_add_client' %}active{%endif%}" >{{ 'Customers'| trans }}</a></li>
                                <li><a href="{{path('gplainte_add_produit')}}" id="21" class="{% if app.request.attributes.get("_route")=='gplainte_add_produit' %}active{%endif%}" >{{ 'Product'| trans }}</a></li>
                                {#<li><a href="{{path('gplainte_add_typeniveau')}}" class="lien_menu" >{{ 'Levels'| trans }}</a></li>#}
                                <li><a href="{{path('gplainte_add_choix')}}" id="22" class="{% if app.request.attributes.get("_route")=='gplainte_add_choix' %}active{%endif%}" >{{ 'Types plaintes'| trans }}</a></li>
                                <li><a href="{{path('gplainte_add_niveau')}}" id="22" class="{% if app.request.attributes.get("_route")=='gplainte_add_niveau' %}active{%endif%}" >{{ 'Complained'| trans }}</a></li>
                                <li><a href="{{path('gplainte_add_indicateur')}}" id="23" class="{% if app.request.attributes.get("_route")=='gplainte_add_indicateur' %}active{%endif%}" >{{ 'Normes indicateurs'| trans }}</a></li>
                                <li><a href="{{path('gplainte_add_export_plainte')}}" id="23" class="{% if app.request.attributes.get("_route")=='gplainte_add_export_plainte' %}active{%endif%}" >{{ 'Export complaints'| trans }}</a></li>
                                <li><a href="{{path('gplainte_add_import_plainte')}}" id="24" class="{% if app.request.attributes.get("_route")=='gplainte_add_import_plainte' %}active{%endif%}" >{{ 'Import complaints'| trans }}</a></li>
                                <li><a href="{{path('gplainte_add_import_client')}}" id="25" class="{% if app.request.attributes.get("_route")=='gplainte_add_import_client' %}active{%endif%}" >{{ 'Import Customers'| trans }}</a></li>
                                <li><a href="{{path('customizr_theme')}}" id="26" class="{% if app.request.attributes.get("_route")=='customizr_theme' %}active{%endif%}" >{{ 'Customization'| trans }}</a></li>

                            {% endif %}
                            {% if is_granted("ROLE_REDACTEUR") %}
                                <li><a href="{{path('gplainte_add_faq')}}" id="26" class="{% if app.request.attributes.get("_route")=='gplainte_add_faq' %}active{%endif%}" >{{ 'FAQ'| trans }}</a></li>
                              <li><a href="{{path('fos_user_profile_show')}}"  class="{% if app.request.attributes.get("_route")=='fos_user_profile_show' %}active{%endif%}" >{{ 'Profil'| trans }}</a></li>

                            {% endif %}
                        </ul>

                    </li>
                {%endif%}

            </ul>
        </div>


    </nav>
</div>



<div class="col-md-10" id="ct">
    {#<div id="page-inner" >#}
    <div class="loader">
        <img src="{{ asset('assets/img/loader.gif') }}" class="" style="width:120px; height: auto" title="">
    </div>
        {% block corps %}
        {%endblock%}
    {% block fos_user_content %}
    {%endblock fos_user_content%}

    {#</div>#}
</div>


             <!-- /. PAGE INNER  -->
{#            </div>#}
         <!-- /. PAGE WRAPPER  -->
        </div>

    <div class="col-md-12" style="background: #dbdcc5; height: 55px; opacity: 0.5; line-height: 55px; margin-top:10px; color: #010101; text-align: center; font-family: Roboto-Light; font-size: 14px">Copyright 2015 Satis</div>
 {% endblock %}
