{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Logins list' | trans }}{% endblock %}

{% block corps %}



    <div class="col-md-12 borderStyle" style="">
        {% if app.request.query.get("id")==1 %}
            <div class="alert-success" style="font-size: 30px; padding: 15px">{{ 'Thank you for appreciating our proposed solution' | trans }}</div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 stl_show" style="">
                {{ 'Journal des activités '| trans }}
            </div>
            <div class="col-md-8" style="">
                <form method="post" name="filtrejournal" action="{{ path('gplainte_user_login_journal',{'val':'vrai'}) }}" class="form-horizontal" style="">
                    <input type="text" name="datejournal" required="required" id="datejournal" placeholder="{{ 'Date'| trans }}" class="pers">

                    <select name="op1" class="" style="; border: none">
                        <option value="or">Ou</option>
                        <option value="and">Et</option>

                    </select>

                    <select name="identifiants" class="" style="; border: none">
                        <option value="">Sélectionner l'identifiant</option>
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>

                    <select name="op2" class="" style="; border: none">
                        <option value="or">Ou</option>
                        <option value="and">Et</option>
                    </select>

                    <select name="activite" class="" style="width: 25%; margin-left: 1.75%; border: none">
                        <option value="">Sélectionner l'activité</option>
                        {% for type in types %}
                            <option value="{{ type.id }}">{{ type.libelle }}</option>
                        {% endfor %}
                    </select>

                    <button type="submit" class="btn btn-primary" style="font-size: 14px; margin-left: 5px ">{{ 'OK'| trans }}</button>
                </form>
            </div>
        </div>


        <div class="table-responsive">
            <table class="table table-striped table-hover" id='listeplainte'>
                <thead>
                <tr>
                    <th>{{ 'Fullname' | trans }}</th>
                    <th>{{ 'Pseudo' | trans }}</th>
                    <th>{{ 'Date action' | trans }}</th>
                    <th>{{ 'Action' | trans }}</th>



                    {#<th></th>
                   <th></th>#}
                </tr>

                </thead>
                <tbody>
                {% for list in list %}
                    <tr>
                        <td>{{list.user.agent.nom}} {{list.user.agent.prenom}}</td>
                        <td>{{list.user.username}}</td>
                        <td>{{list.createdat | date('d/m/Y H:i:s')}}</td>
                        <td>
                            {{list.dataevent.libelle}}
                        </td>

                    </tr>

                {% endfor%}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
