{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Notifications registration' | trans }}{% endblock %}

{% block corps %}

    <div class="row">
        <div class="col-md-6" style="margin-left: -15px">
            <h3 class="btn-titre"><i class="zmdi zmdi-plus-circle"></i><span style="padding-left: 10px">{{ 'Notifications registration' | trans }}</span></h3>
        </div>

    </div>
    <div class='col-md-12' style="background-color: #fff">




            <div class="row stl_form" style="margin-left: -15px; margin-bottom: 15px">
                <div class="col-md-4">{{ 'Complaint number folder' | trans }}:</div>
                <div class="col-md-8">{{ plainte.client.numdossier }}</div>
            </div>

            <div class="row stl_form" style="margin-left: -15px; margin-bottom: 15px">
                <div class="col-md-4">{{ 'Name complaint' | trans }}:</div>
                <div class="col-md-8">{{ plainte.client.nom }} {{ plainte.client.prenom }}</div>
            </div>

            <div class="row stl_form" style="margin-left: -15px; margin-bottom: 15px">
                <div class="col-md-4">{{ 'Complained' | trans }}:</div>
                <div class="col-md-8">{{ plainte.choix.libelle }}</div>
            </div>

            <div class="row stl_form" style="margin-left: -15px; margin-bottom: 15px">
                <div class="col-md-4">{{ 'Solution proposed' | trans }}:</div>
                <div class="col-md-8">{{ action.solution }}</div>
            </div>

            <form action="{{ path('gplainte_add_notifier',{val:'ajouter','action':action.id})}}" method="post" {{ form_enctype(notification) }} class="form-horizontal" id="" >
                {#<div class='col-md-12'>#}

                    {#<div class="form-group">#}
                        {#{{form_label(notification.action,"Solution :")}}#}
                        {#{{form_widget(notification.action,{'attr':{'class':'form-control'}})}}#}
                    {#</div>#}


                <div class="row">
                    {%if msg is defined and msg==2%}
                        <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                            {{ 'Modification completed successfully' | trans }}
                        </div>
                    {% endif %}

                    {%if msg is defined and msg==3%}
                        <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                            {{ 'Successful deletion' | trans }}
                        </div>
                    {% endif %}

                    {%if msg is defined and msg==1%}
                        <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                            {{ 'Adding completed successfully' | trans }}
                        </div>
                    {% endif %}

                    {%if msgErr is defined and msgErr==1%}
                        <div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">
                            {{ 'This record already exists' | trans }}
                        </div>
                    {% endif %}

                    {%if msgException is defined and msgException==1%}
                        <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                            {{ 'This notification does not exist' | trans }}

                        </div>
                    {% endif %}
                    {#{{app.request.query.get(msgException)}}#}
                    {%if msgException is defined and msgException==2%}
                        <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                            {{ 'This notificationest linked to other operations' | trans }}

                        </div>
                    {% endif %}
                </div>


                    <div class="col-md-4 form-group">
                        {{form_label(notification.moyencommunication,"Means communication:"| trans)}}
                        {{form_widget(notification.moyencommunication,{'attr':{'class':'form-control'}})}}
                    </div>

                    <div class="col-md-4 form-group">
                        {{form_label(notification.agent,"Agent name :"| trans)}}
                        {{form_widget(notification.agent,{'attr':{'class':'form-control'}})}}
                    </div>

                    <div class="col-md-4 form-group">
                        {{form_label(notification.date,"Date:"| trans)}}
                        {{form_widget(notification.date,{'attr':{'class':'form-control'}})}}
                    </div>

                    
                {#</div>#}


                <div class="col-md-12">
                    {{ form_rest(notification) }}


                    <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 20px; margin-right: -10px;">{{ 'Go' | trans }}</button>
                </div>

            </form>
        </fieldset>
    </div>
    {#<div class="col-md-12" style="min-height: 500px; margin-top: 20px">#}
        {#<fieldset><legend>Liste des niveaux</legend></fieldset>#}
        {##}
                    {#<table class="table table-striped table-hover" id='table_list_membre'>#}
                        {#<thead>#}
                        {#<tr>#}
                            {#<th>Niveau</th>#}
                            {#<th>Type niveau</th>#}
                            {#&#123;&#35;#}
                                {#<th></th>#}
                               {#<th></th>&#35;&#125;#}
                        {#</tr>#}

                        {#</thead>#}
                        {#<tbody>#}
                        {#{% for list in list %}#}
                            {#<tr>#}
                                {#<td>{{list.libelle}}</td>#}

                                {#<td>{{list.typeniveau.libelle}}</td>#}




                                {#&#123;&#35;  {% if is_granted('ROLE_ADMIN') %}#}
                                 {#<td><a href="{{ path('ajout_institution', {val:'afficherForm','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/edit.png" title="Modifier"></a></td>#}
                                 {#<td><a href="{{ path('ajout_institution', {val:'supprimer','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/remove.png" title="Supprimer"></a></td>{% endif %}#}
          {#&#35;&#125;#}
                            {#</tr>#}

                        {#{% endfor%}#}
                        {#</tbody>#}
                    {#</table>#}
           {##}
    {#</div>#}
    {#{% if (id!=0 and val=="supprimer") %}
        {% include 'factSheetBundle:Institution:dialogue.html.twig' %}
    {% endif %}#}

{% endblock %}
