{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Complaint notify list' | trans }}{% endblock %}

{% block corps %}



<div class="col-md-12 borderStyle" style="">
    {% if app.request.query.get("id")==1 %}
        <div class="alert-success" style="font-size: 30px; padding: 15px">{{ 'Thank you for appreciating our proposed solution' | trans }}</div>
    {% endif %}
    <div class="row">
        <div class="col-md-12 stl_show" style="">
            {{ 'Complaint notify list'| trans }}
        </div>
    </div>


        <div class="table-responsive">
            <table class="table table-striped table-hover" id='listeplainte'>
                <thead>
                <tr>
                    <th>{{ 'Notification date' | trans }}</th>
                    <th>{{ 'File number' | trans }}</th>
                    <th>{{ 'Last Name' | trans }}</th>
                    <th>{{ 'First name' | trans }}</th>
                    <th>{{ 'Type' | trans }}</th>
                    <th>{{ 'Object' | trans }}</th>
                    <th>{{ 'Notify by' | trans }}</th>
                    <th></th>

                    {#<th></th>
                   <th></th>#}
                </tr>

                </thead>
                <tbody>
                {% for list in list %}
                    <tr>

                        <td>{{list.action.notifier.date | date('d/m/Y')}}</td>
                        <td>{{list.plainte.client.numDossier}}</td>
                        <td>{{list.plainte.client.nom}}</td>
                        <td>{{list.plainte.client.prenom}}</td>
                        <td>{{list.plainte.choix.libelle}}</td>
                        <td>{%if list.plainte.niveau.id is defined %}{{list.plainte.niveau.libelle}}{%else%}{%endif%}</td>
                        <td>{{list.agent.nom}} {{list.agent.prenom}}</td>

                        {#  {% if is_granted('ROLE_ADMIN') %}
                         <td><a href="{{ path('ajout_institution', {val:'afficherForm','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/edit.png" title="Modifier"></a></td>
                         <td><a href="{{ path('ajout_institution', {val:'supprimer','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/remove.png" title="Supprimer"></a></td>{% endif %}
  #}
                        <td>
                            {% if list.action.notifier.satisfaction!=NULL  %}
                                {#<a href="{{path('gplainte_add_satisfaction',{'val':'verif','action':list.action.id,'notification':list.action.notifier.id,'plainte':list.plainte.id,'satisfaction':list.action.notifier.satisfaction})}}" class="" style="color: #002a80">{{ 'Verification' | trans }}</a>#}

                                <a href="#" class="" style="color: #008200">{{ 'Already appreciated' | trans }}</a>
                            {% else %}
                            <a href="{{path('gplainte_add_satisfaction',{'val':'satisfaire','action':list.action.id,'notification':list.action.notifier.id,'plainte':list.plainte.id})}}" class="" style="color: #002a80">{{ 'Guest review' | trans }}</a>
                            {% endif %}
                        </td>
                       </tr>

                {% endfor%}
                </tbody>
            </table>
        </div>

 </div>
    {#{% if (actiond!=0 and plainte!=0) %}#}
        {#{% include 'GplainteBundle:Notification:addNotification.html.twig' %}#}
    {#{% endif %}#}
{% endblock %}
