{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Liste des paramètres' | trans }}{% endblock %}

{% block corps %}
   
    <div class="row">
        <div class="col-md-6" style="margin-left: -15px">
            <h3 class="btn-titre"><i class="zmdi zmdi-plus-circle"></i><span style="padding-left: 10px">{{ 'Modification des paramètres' | trans }}</span></h3>
        </div>

    </div>
    <div class='col-md-6' style="background-color: #fff; padding-top: 10px">
        
    {{ form_start(edit_form) }}
{#    {{ form_errors(edit_form) }}#}

    <div class="col-md-12">
        {{form_label(edit_form.libelle,"Libellé:"| trans)}}
        {{form_widget(edit_form.libelle,{'attr':{'class':'form-control'}})}}
    </div>
    <div class="col-md-12">
        {{form_label(edit_form.valeur,"Valeur:"| trans)}}
        {{form_widget(edit_form.valeur,{'attr':{'class':'form-control'}})}}
    </div>
    <div class="col-md-12" style="margin-top: 10px">
        <div class="col-md-8">
            <a style="color: #F79646" href="{{ path('parametres') }}">
                    Retourner sur la liste des paramètres
                </a>
        </div>
        <div class="col-md-4">
            {{ form_row(edit_form.submit,{'attr':{'class':'btn btn-primary', 'label': 'Modifier','style':'float: right; margin-bottom: 20px; margin-right: -10px'}})}}
        </div>
    </div>
    {{ form_end(edit_form) }}
{#    {{ form(edit_form) }}#}
    </div>

            

        <ul class="record_actions">
            <li>
                
            </li>
{#    <li>{{ form(delete_form) }}</li>#}
        </ul>
{% endblock %}
