{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Liste des paramètres' | trans }}{% endblock %}

{% block corps %}
   <div class="col-md-12 borderStyle" style="">
   
    <div class="row">
        <div class="col-md-12 stl_show" style="">
            {{ 'Liste des paramètres'| trans }}
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped" id='listeplainte'>
            <thead>
            <tr>
                <th>Libelle</th>
                <th>Valeur</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.libelle }}</td>
                <td style="padding-left: 30px">{{ entity.valeur }}</td>
                <td>   
                        <a style="color: #002a80" href="{{ path('parametres_edit', { 'id': entity.id }) }}">Modifier</a>                  
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
   </div>
    
       {# <ul>
        <li>
            <a href="{{ path('parametres_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>#}
    {% endblock %}
