{% extends "GplainteBundle::layout.html.twig" %}
{% form_theme agent 'GplainteBundle::fields_errors.html.twig' %}

{% block title %}{{ 'Employees registration'| trans }}{% endblock %}

{% block corps %}


    <div class="col-md-12 borderStyle" style="">

        <div class="stl_show" style="padding-left: 15px; padding-bottom: 20px">{{ 'list some employees' | trans }}</div>

        <table class="table table-striped table-hover" id='table_list_membre'>
            <thead>
            <tr>
                <th>{{ 'Last name'| trans }}</th>
                <th>{{ 'First name'| trans }}</th>
                <th>{{ 'Position'| trans }}</th>
                <th>{{ 'Phone'| trans }}</th>
                <th>{{ 'Departement'| trans }}</th>
                <th>Avatar</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th></th>
                <th></th>
                {% endif %}
            </tr>

            </thead>
            <tbody>
            {% for list in list %}
                <tr>
                    <td>{{list.nom}}</td>
                    <td>{{list.prenom}}</td>
                    <td>{{list.fonction.libelle}}</td>
                    <td>{{list.telephone}}</td>
                    <td>
                        {% if list.service!="" %}
                            {{list.service.libelle}}
                        {% else %}
                        {% endif %}
                    </td>
                    <td>{% if list.webPath is not null  %}<img src="{{ asset(list.webPath) }}" width="30" height="auto" >{% endif %}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('gplainte_add_agent', {val:'afficherForm','id': list.id}) }}"><img src="{{asset('assets/img/edit.png')}}" title="Modifier"></a></td>
                        <td><a href="{{ path('gplainte_add_agent', {val:'supprimer','id': list.id}) }}"><img src="{{asset('assets/img/remove.png')}}" title="Supprimer"></a></td>{% endif %}

                </tr>

            {% endfor%}
            </tbody>
        </table>

    </div>

<div class="col-md-12" style="margin-top: 40px; margin-left: -25px">

    <div class='col-md-12'>

        <div class="row">
            <div class="col-md-5" style="background-color: #fff; text-transform: uppercase; color: #000; font-family: Roboto-Light; font-size: 26px">
                {{ 'Employees registration' | trans }}
            </div>
        </div>

            <form action="{{ path('gplainte_add_agent',{val:val,id:id})}}" method="post" {{ form_enctype(agent) }} class="form-horizontal" id="" >

                <div class="col-md-12" style="background-color: #fff; padding-top: 30px; padding-bottom: 10px; color: #000; font-family: Roboto-Light">

                    <div class="row" style="font-size: 30px">
                        {%if msg is defined and msg==2%}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Modification completed successfully' | trans }}
                            </div>
                        {% endif %}

                        {%if app.request.query.get("msg")==3%}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Successful deletion' | trans }}
                            </div>
                        {% endif %}

                        {%if msg is defined and msg==1%}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Adding completed successfully' | trans }}
                            </div>
                        {% endif %}

                        {%if msgErr is defined and msgErr==1%}
                            <div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">
                                {{ 'This record already exists' | trans }}
                            </div>
                        {% endif %}

                        {%if msgErr is defined and msgErr==2%}
                            <div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">
                                {{ 'Ce service a déjà un chef service' | trans }}
                            </div>
                        {% endif %}

                        {%if msgErr is defined and msgErr==3%}
                            <div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">
                                {{ 'Un DG existe déjà' | trans }}
                            </div>
                        {% endif %}

                        {%if msgErr is defined and msgErr==4%}
                            <div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">
                                {{ 'Le numéro de téléphone existe déjà' | trans }}
                            </div>
                        {% endif %}

                        {%if msgErr is defined and msgErr==5%}
                            <div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">
                                {{ 'L\'email existe déjà' | trans }}
                            </div>
                        {% endif %}

                        {%if app.request.query.get("msgException")==1%}
                            <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                                {{ 'This employee no longer exists' | trans }}

                            </div>
                        {% endif %}
                        {#{{app.request.query.get(msgException)}}#}
                        {%if app.request.query.get("msgException")==2%}
                            <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                                {{ 'This employee is related to other operations' | trans }}

                            </div>
                        {% endif %}
                    </div>

                    <div class="row">
                    <div class="col-md-6 form-group">
                        {{form_label(agent.nom,"Last name (*):" | trans)}}
                        {{form_errors(agent.nom)}}
                        {{form_widget(agent.nom,{'attr':{'class':'form-control'}})}}
                    </div>

                    <div class="col-md-6 form-group">
                        {{form_label(agent.prenom,"First name (*):" | trans)}}
                        {{form_errors(agent.prenom)}}
                        {{form_widget(agent.prenom,{'attr':{'class':'form-control'}})}}
                    </div>
                    </div>
<div class="row">
                    <div class="col-md-6 form-group">
                        {{form_label(agent.fonction,"Position (*):" | trans)}}
                        {{form_errors(agent.fonction)}}
                        {{form_widget(agent.fonction,{'attr':{'class':'form-control'}})}}
                    </div>


                    <div class="col-md-6 form-group">
                        {{form_label(agent.sexe,"Sex (*):"| trans) }}
                        {{form_widget(agent.sexe,{'attr':{'class':'form-control'}})}}
                    </div>
</div>
<div class="row">
                    <div class="col-md-6 form-group">
                        {{form_label(agent.telephone,"Téléphone (*) :" | trans)}}
                        {{form_errors(agent.telephone)}}
                        {{form_widget(agent.telephone,{'attr':{'class':'form-control'}})}}
                    </div>

                    <div class="col-md-6 form-group">
                        {{form_label(agent.email,"Email (*) :" | trans)}}
                        {{form_errors(agent.email,{'attr':{'id':'align'}})}}
                        {{form_widget(agent.email,{'attr':{'class':'form-control'}})}}
                    </div>
</div>

                    <div class="col-md-6 form-group">
                        {{form_label(agent.service,"Department (*):" | trans)}}
                        {{form_errors(agent.service)}}
                        {{form_widget(agent.service,{'attr':{'class':'form-control'}})}}
                    </div>

                    <div class="col-md-6 form-group">
                        {{form_label(agent.file,"Avatar :")}}
                        {{form_widget(agent.file,{'attr':{'class':'form-control'}})}}
                    </div>

                    <div class="col-md-3 form-group">
                        {{form_label(agent.chef,"Chef service :")}}
                        {{form_widget(agent.chef,{'attr':{'class':'form-control'}})}}
                    </div>

                    <div class="col-md-3 form-group">
                        {{form_label(agent.dg,"DG :")}}
                        {{form_widget(agent.dg,{'attr':{'class':'form-control'}})}}
                    </div>

                <div class="col-md-12">
                    <span>(*) {{ 'Require fields'| trans }}</span>
                </div>
                <div class="col-md-12">
                    {{ form_rest(agent) }}


                    <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 20px; margin-right: -10px;">{{ 'Go'| trans }}</button>
                </div>
    </div>
            </form>
</div>
    </div>

    {% if (id!=0 and val=="supprimer") %}
        {% include 'GplainteBundle:Agent:dialogue.html.twig' %}
    {% endif %}

{% endblock %}
