{% extends "GplainteBundle::layout.html.twig" %}
{% form_theme agent 'GplainteBundle::fields_errors.html.twig' %}

{% block title %}{{ 'Employees registration'| trans }}{% endblock %}

{% block corps %}


    <div class="col-md-12 borderStyle" style="">

        {#<div class="stl_show" style="padding-left: 15px; padding-bottom: 20px">{{ 'list some employees' | trans }}</div>#}

        {#<table class="table table-striped table-hover" id='table_list_membre'>#}
            {#<thead>#}
            {#<tr>#}
                {#<th>{{ 'Last name'| trans }}</th>#}
                {#<th>{{ 'First name'| trans }}</th>#}
                {#<th>{{ 'Position'| trans }}</th>#}
                {#<th>{{ 'Phone'| trans }}</th>#}
                {#<th>{{ 'Departement'| trans }}</th>#}
                {#<th>Avatar</th>#}
                {#{% if is_granted('ROLE_ADMIN') %}#}
                    {#<th></th>#}
                    {#<th></th>#}
                {#{% endif %}#}
            {#</tr>#}

            {#</thead>#}
            {#<tbody>#}
            {#{% for list in list %}#}
                {#<tr>#}
                    {#<td>{{list.nom}}</td>#}
                    {#<td>{{list.prenom}}</td>#}
                    {#<td>{{list.fonction.libelle}}</td>#}
                    {#<td>{{list.telephone}}</td>#}
                    {#<td>#}
                        {#{% if list.service!="" %}#}
                            {#{{list.service.libelle}}#}
                        {#{% else %}#}
                        {#{% endif %}#}
                    {#</td>#}
                    {#<td>{% if list.webPath is not null  %}<img src="{{ asset(list.webPath) }}" width="30" height="auto" >{% endif %}</td>#}
                    {#{% if is_granted('ROLE_ADMIN') %}#}
                        {#<td><a href="{{ path('gplainte_add_agent', {val:'afficherForm','id': list.id}) }}"><img src="{{asset('assets/img/edit.png')}}" title="Modifier"></a></td>#}
                        {#<td><a href="{{ path('gplainte_add_agent', {val:'supprimer','id': list.id}) }}"><img src="{{asset('assets/img/remove.png')}}" title="Supprimer"></a></td>{% endif %}#}

                {#</tr>#}

            {#{% endfor%}#}
            {#</tbody>#}
        {#</table>#}

    {#</div>#}

    <div class="col-md-12" style="margin-top: 40px; margin-left: -25px">

        <div class='col-md-12'>

            <div class="row">
                <div class="col-md-5" style="background-color: #fff; text-transform: uppercase; color: #000; font-family: Roboto-Light; font-size: 26px">
                    {{ 'Modification avatar' | trans }}
                </div>
            </div>

            <form action="{{ path('gplainte_update_avatar',{'val':1})}}" method="post" {{ form_enctype(agent) }} class="form-horizontal" id="" >

                <div class="col-md-12" style="background-color: #fff; padding-top: 30px; padding-bottom: 10px; color: #000; font-family: Roboto-Light">

                    <div class="row" style="font-size: 30px">
                        {%if msg is defined and msg==1%}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Adding completed successfully' | trans }}
                            </div>
                        {% endif %}

                    </div>


                    <div class="row">


                    <div class="col-md-6 form-group">
                        {{form_label(agent.file,"Avatar :")}}
                        {{form_widget(agent.file,{'attr':{'class':'form-control'}})}}
                    </div>

                    <div class="col-md-6">
                        {% if list.webPath is not null  %}<img src="{{ asset(list.webPath) }}" width="30" height="auto" >{% endif %}
                    </div>

                    <div class="col-md-12">
                        <span>(*) {{ 'Require fields'| trans }}</span>
                    </div>
                    <div class="col-md-12">
                        {{ form_rest(agent) }}


                        <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 20px; margin-right: -10px;">{{ 'Go'| trans }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>



{% endblock %}
