{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Customization'| trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset('assets/plugins/jquery-minicolors/jquery.minicolors.css')}}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block corps %}
<div class="col-md-12 borderStyle" style="">
    <div class="row">
    <h1>{{ 'APPEARANCE CUSTOMIZATION' | trans }}</h1>
    {#<p>test : {{ dump(parameters) }} &nbsp; {{ parameters["primary_button_hover"] {{ assets('customizr/logo/logo.png') }} }}</p>#}
    <blockquote id="feedback" class="bg-success hidden" style="width: 50%">{{  'Operation completed successfully' | trans }}</blockquote>
    <form action="">
        <div class="form-group" style="padding-left:20px;padding-right:20px;">
            <label for="select-logo" style="display: block;">{{ 'Upload your logo' | trans }}:</label>
            <input type="file" class="" id="file_logo" name="file_logo_url" placeholder="Logo" accept="image/*" value="{{ parameters["file_logo_name"] }}" style="display: inline-block;">
            <div style="width:auto;height:auto; display: inline;">
                <img id="logo_preview" src="{{ asset('customizr/logo/') }}{{ parameters["file_logo_name"] }}" style="width:120px;height:41px;border:1px solid lightgray;" alt="" />
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group" style="padding-left:20px;padding-right:20px;">
                    <label for="header-color">{{ 'Choose table header color'| trans }}: </label>
                    <input type="text" class="form-control minicolors" name="table_header" data-control="wheel" value="{{ parameters["table_header"] }}" style="width:35%;display: inline!important;">
                </div>
                <div class="form-group" style="padding-left:20px;padding-right:20px;">
                    <label for="links-color" style="display: block;">{{ 'Links color'| trans }}</label>
                    <span style="padding-left:20px;"></span><span><label for="">{{ 'active'| trans }}:</label></span>
                    <span style="padding-left:20px;"></span><input type="text" id="exampleInput" class="form-control minicolors" name="link_active" value="{{ parameters["link_active"] }}" style="width:35%;display: inline!important;">
                    <span style="padding-left:20px;"></span><span><label for="">{{ 'hover' | trans }}:</label></span>
                    <span style="padding-left:20px;"></span><input type="text" id="exampleInputFile" class="form-control minicolors" name="link_hover" value="{{ parameters["link_hover"] }}" style="width:35%;display: inline!important;">
                    <!--<p class="help-block">Example block-level help text here.</p>-->
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group" style="padding-left:20px;padding-right:20px;">

                    <label for="logout-button" style="display: block;">{{ 'Logout button color'| trans }}: </label>
                    <span style="padding-left:20px;"></span><span><label for="">{{ 'default' | trans }}:</label></span>
                    <input type="text"  id="" placeholder="default" class="form-control minicolors" name="logout_button_default" value="{{ parameters["logout_button_default"] }}" style="width:35%;display: inline!important;">
                    <span style="padding-left:20px;"></span><span><label for="">{{ 'hover' | trans }}:</label></span>
                    <input type="text"  id="" placeholder="hover" class="form-control minicolors" name="logout_button_hover" value="{{ parameters["logout_button_hover"] }}" style="width:35%;display: inline!important;">
                    <br />
                    <label for="primary-button" style="display: block;">{{ 'Primary button color' | trans }}: </label>
                    <span style="padding-left:20px;"></span><span><label for="">{{ 'default' | trans }}:</label></span>
                    <input type="text"  id="" placeholder="default" class="form-control minicolors" name="primary_button_default" value="{{ parameters["primary_button_default"] }}" style="width:35%;display: inline!important;">
                    <span style="padding-left:20px;"></span><span><label for="">{{ 'hover' | trans }}:</label></span>
                    <input type="text"  id="" placeholder="hover" class="form-control minicolors" name="primary_button_hover"value="{{ parameters["primary_button_hover"] }}" style="width:35%;display: inline !important;">

                </div>
            </div>
        </div>


        <!--<div class="form-group">

        </div>-->
        <!--<div class="checkbox">
            <label>
                <input type="checkbox"> Check me out
            </label>
        </div>-->
        <div class="col-md-4 col-md-offset-4">
            <button type="button" id="applyCustomization" class="btn btn-primary" style="margin-top:20px;">{{ 'Apply'| trans }}</button>
            <button type="button" id="resetCustomization" class="btn btn-primary" style="margin-top:20px;">{{ 'Reset to default'| trans }}</button>
        </div>
    </form>
        </div></div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript" src="{{asset('assets/plugins/jquery-minicolors/jquery.minicolors.min.js')}}"></script>


    <script>
        var file;
        $(document).ready(function(){
            //alert('oki');
            //window.file=null;
            document.getElementById('file_logo').addEventListener('change', function(){
                file = this.files[0];
                // This code is only for demo ...
                //console.log("file : " + file);
                //console.log("name : " + file.name);
                //console.log("size : " + file.size);
                //console.log("type : " + file.type);
                //console.log("date : " + file.lastModified);
                var reader = new FileReader();

                reader.onload = function (e) {
                    // get loaded data and render thumbnail.
                    document.getElementById("logo_preview").src = e.target.result;
                };

                // read the image file as a data URL.
                reader.readAsDataURL(file);
                //$('#logo_preview').attr('');
            }, false);
            /*$('#file_logo').on('change',function(){
                file = $(this).files[0];
            });*/

            $('#applyCustomization').on('click',function(){
                //alert('oki');

                /*var cus_data_field={

                    file_logo_name:file.name,
                    table_header:$('input[name=table_header]').val(),
                    link_active:$('input[name=link_active]').val(),
                    link_hover:$('input[name=link_hover]').val(),
                    logout_button_default:$('input[name=logout_button_default]').val(),
                    logout_button_hover:$('input[name=logout_button_hover]').val(),
                    primary_button_hover:$('input[name=primary_button_hover]').val(),
                    primary_button_default:$('input[name=primary_button_default]').val()

                };*/
                //alert($('input[name=table_header]').val());
                //alert($('input[name=file_logo_url]').val());
                //alert(file);
                var cus_data_field=new FormData();
                cus_data_field.append('table_header',$('input[name=table_header]').val());
                cus_data_field.append('link_active',$('input[name=link_active]').val());
                cus_data_field.append('link_hover',$('input[name=link_hover]').val());
                cus_data_field.append('logout_button_default',$('input[name=logout_button_default]').val());
                cus_data_field.append('logout_button_hover',$('input[name=logout_button_hover]').val());
                cus_data_field.append('primary_button_hover',$('input[name=primary_button_hover]').val());
                cus_data_field.append('primary_button_default',$('input[name=primary_button_default]').val());
                if(file==null){
                    cus_data_field.append('file_logo_url', file);
                    cus_data_field.append('file_logo_name', "{{ parameters["file_logo_name"] }}");
                }
                else{
                    cus_data_field.append('file_logo_url', file);
                    cus_data_field.append('file_logo_name', file.name);
                }

                $.ajax({
                    type: "POST",
                    url: "{{ path('customizr_apply') }}",
                    data: cus_data_field,
                    processData: false,
                    contentType: false,
                    success: function( data) {
                        if(data.status=='success'){
                            //alert('success');
                            //toastr.success("Upload successfull.");
                            $('#successFeedback').removeClass('hidden');
                            location.reload();
                            //$().addClass('')
                        }
                        else{
                            //alert('error 101');
                            $('#errorFeedback').removeClass('hidden');
                            /*if(data.require.up_file){

                                //$('input[name=up_file]').parent().parent().parent().parent().addClass('has-error');
                            }
                            if(data.require.pq_category)
                            {
                                //alert( 'something wrong with pq_country');
                            }
                            if(data.require.pq_exam_type)
                            {
                                //alert( 'something wrong with pq_country');
                            }
                            if(data.require.pq_country)
                            {
                                //alert( 'something wrong with pq_country');
                            }
                            if(data.require.pq_exam_name1)
                            {
                                //alert( 'something wrong with pq_country');
                            }
                            if(data.require.pq_exam_name2)
                            {
                                //alert( 'something wrong with pq_country');
                            }
                            if(data.require.pq_exam_name3)
                            {
                                //alert( 'something wrong with pq_country');
                            }*/
                        }


                    },
                    error: function( data) {
                        //alert('error 102');
                        $('#errorFeedback').removeClass('hidden');
                    }

                });
            });
            $('#resetCustomization').on('click',function(){
                var cus_data_field=new FormData();
                cus_data_field.append('table_header','#cccc99');
                cus_data_field.append('link_active','#f79646');
                cus_data_field.append('link_hover','#f79646');
                cus_data_field.append('logout_button_default','#d9534f');
                cus_data_field.append('logout_button_hover','#d9534f');
                cus_data_field.append('primary_button_hover','#f79646');
                cus_data_field.append('primary_button_default','#cccc99');

                cus_data_field.append('file_logo_url', file);
                cus_data_field.append('file_logo_name', "logo.png");
                $.ajax({
                    type: "POST",
                    url: "{{ path('customizr_apply') }}",
                    data: cus_data_field,
                    processData: false,
                    contentType: false,
                    success: function( data) {
                        if(data.status=='success'){
                            //alert('success');
                            $('#successFeedback').removeClass('hidden');
                            location.reload();
                            //toastr.success("Upload successfull.");

                        }
                        else{
                            //alert('error 101');
                            $('#errorFeedback').removeClass('hidden');
                            /*if(data.require.up_file){

                             //$('input[name=up_file]').parent().parent().parent().parent().addClass('has-error');
                             }
                             if(data.require.pq_category)
                             {
                             //alert( 'something wrong with pq_country');
                             }
                             if(data.require.pq_exam_type)
                             {
                             //alert( 'something wrong with pq_country');
                             }
                             if(data.require.pq_country)
                             {
                             //alert( 'something wrong with pq_country');
                             }
                             if(data.require.pq_exam_name1)
                             {
                             //alert( 'something wrong with pq_country');
                             }
                             if(data.require.pq_exam_name2)
                             {
                             //alert( 'something wrong with pq_country');
                             }
                             if(data.require.pq_exam_name3)
                             {
                             //alert( 'something wrong with pq_country');
                             }*/
                        }


                    },
                    error: function( data) {
                        //alert('error 102');
                        $('#errorFeedback').removeClass('hidden');
                    }

                });
            });

            $('.minicolors').each( function() {
                $(this).minicolors({
                    control: $(this).attr('data-control') || 'hue',
                    defaultValue: $(this).attr('data-defaultValue') || '',
                    format: $(this).attr('data-format') || 'hex',
                    keywords: $(this).attr('data-keywords') || '',
                    inline: $(this).attr('data-inline') === 'true',
                    letterCase: $(this).attr('data-letterCase') || 'lowercase',
                    opacity: $(this).attr('data-opacity'),
                    position: $(this).attr('data-position') || 'bottom left',
                    change: function(value, opacity) {
                        if( !value ) return;
                        if( opacity ) value += ', ' + opacity;
                        if( typeof console === 'object' ) {
                           // console.log(value);
                        }
                    },
                    theme: 'bootstrap'
                });
            });
        });

    </script>
{% endblock %}
