{% extends "GplainteBundle::layout.html.twig" %}
{% form_theme client 'GplainteBundle::fields_errors.html.twig' %}

{% block title %}{{ 'Customer registration'| trans }}{% endblock %}

{% block corps %}


    


<div class="col-md-12" style="margin-top: 20px; margin-left: -30px; width:105.5%">
    <div class='col-md-12'>

        <div class="row">
            <div class="col-md-4" style="background-color: #fff; text-transform: uppercase; color: #000; font-family: Roboto-Light; font-size: 26px">
                {{ 'Customer registration' | trans }}
            </div>
        </div>

            <form action="{{ path('gplainte_add_client',{val:val,id:id})}}" method="post" {{ form_enctype(client) }} class="form-horizontal" id="" >
                <div class="col-md-12" style="background-color: #fff; padding-top: 30px; padding-bottom: 10px; color: #000; font-family: Roboto-Light">

                <div class="row" style="font-size: 30px">
                    {%if msg is defined and msg==2%}
                        <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                            {{ 'Modification completed successfully' | trans }}
                        </div>
                    {% endif %}

                    {%if msg is defined and msg==3%}
                        <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                            {{ 'Successful deletion' | trans }}
                        </div>
                    {% endif %}

                    {%if msg is defined and msg==1%}
                        <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                            {{ 'Adding completed successfully' | trans }}
                        </div>
                    {% endif %}

                    {%if msgErr is defined and msgErr==1%}
                        <div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">
                            {{ 'Ce client existe déjà' | trans }}
                        </div>
                    {% endif %}

                    {%if msgErr is defined and msgErr==2%}
                        <div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">
                            {{ 'Le numéro de téléphone existe déjà' | trans }}
                        </div>
                    {% endif %}

                    {%if msgErr is defined and msgErr==3%}
                        <div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">
                            {{ 'Le numéro dossier existe déjà' | trans }}
                        </div>
                    {% endif %}

                    {#{%if app.request.query.get("msgErr")==2%}#}
                        {#<div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">#}
                            {#{{ 'Le numéro dossier existe déjà' | trans }}#}
                        {#</div>#}
                    {#{% endif %}#}

                    {#{%if app.request.query.get("msgErr")==3%}#}
                        {#<div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">#}
                            {#{{ 'Le numéro de téléphone existe déjà' | trans }}#}
                        {#</div>#}
                    {#{% endif %}#}

                    {%if app.request.query.get("msgException")==1%}
                        <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                            {{ 'This customer no longer exists' | trans }}

                        </div>
                    {% endif %}
                    {#{{app.request.query.get(msgException)}}#}
                    {%if app.request.query.get("msgException")==2%}
                        <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                            {{ 'This customer is related to other operations' | trans }}

                        </div>
                    {% endif %}
                </div>


               <div class="row">
                   <div class='col-md-5'>
                       <div class="form-group">
                           {{form_label(client.nom,"Last name (*):" | trans)}}
                           {{form_errors(client.nom)}}
                           {{form_widget(client.nom,{'attr':{'class':'form-control'}})}}
                       </div>
                   </div>
                   <div class='col-md-5 col-md-offset-1'>
                       <div class="form-group">
                           {{form_label(client.prenom,"First name (*):" | trans)}}
                           {{form_errors(client.prenom)}}
                           {{form_widget(client.prenom,{'attr':{'class':'form-control'}})}}
                       </div>
                   </div>
               </div>
                <div class="row">
                    <div class='col-md-5'>
                        <div class="form-group">
                            {{form_label(client.raisonSociale,"Social reason :" | trans)}}
                            {{form_widget(client.raisonSociale,{'attr':{'class':'form-control'}})}}
                        </div>
                    </div>
                    <div class='col-md-5 col-md-offset-1'>
                        <div class="form-group">
                            {{form_label(client.email,"Email address :"| trans) }}
                            {{form_errors(client.email)}}
                            {{form_widget(client.email,{'attr':{'class':'form-control'}})}}
                        </div>
                    </div>

                </div>
               <div class="row">
                   <div class='col-md-5'>
                       <div class="form-group">
                           {{form_label(client.numDossier,"Folder number (*):" | trans)}}
                           {{form_widget(client.numDossier,{'attr':{'class':'form-control'}})}}
                       </div>
                   </div>
                   <div class='col-md-5 col-md-offset-1'>
                       <div class="form-group">
                           {{form_label(client.quartier,"District (*):" | trans)}}
                           {{form_widget(client.quartier,{'attr':{'class':'form-control'}})}}
                       </div>
                   </div>
               </div>

               <div class="row">
                   <div class='col-md-5'>
                       <div class="form-group">
                           {{form_label(client.ville,'Ville (*)' | trans)}}:
                           {{form_widget(client.ville,{'attr':{'class':'form-control'}})}}
                       </div>

                   </div>
                   <div class='col-md-5'>
                       <div class="form-group">
                           {{form_label(client.telephone1,"Phone (*):" | trans)}}
                           {{form_errors(client.telephone1)}}
                           {{form_widget(client.telephone1,{'attr':{'class':'form-control'}})}}
                       </div>
                   </div>
               </div>

                    <div class="row">
                        <div class='col-md-5'>
                            <div class="form-group">
                                {{form_label(client.sexe,'Sexe (*)' | trans)}}:
                                {{form_widget(client.sexe,{'attr':{'class':'form-control'}})}}
                            </div>

                        </div>

                    </div>

                <div class="col-md-12">
                    <span>(*) {{ 'Require fields'| trans }}</span>
                </div>
                <div class="col-md-12">
                    {{ form_rest(client) }}


                    <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 20px; margin-right: -10px;">{{ 'Go'| trans }}</button>
                </div>
</div>
            </form>
        </div>
    </div>
                
<div class="col-md-12 borderStyle" style="">
        <div class="stl_show" style="padding-left: 15px; padding-bottom: 20px">{{ 'List some customers' | trans }}</div>

        <table class="table table-striped table-hover" id='table_list_membre'>
            <thead>
            <tr>
                <th>{{ 'Last name'| trans }}</th>
                <th>{{ 'First name'| trans }}</th>
                <th>{{ 'Social reason'| trans }}</th>
                <th>{{ 'Email address'| trans }}</th>
                <th>{{ 'Number folder'| trans }}</th>
                <th>{{ 'District'| trans }}</th>
                <th>{{ 'Phone'| trans }}</th>

                {% if is_granted('ROLE_ADMIN') %}
                <th></th>
                {% endif %}
                {#<th></th>#}
            </tr>

            </thead>
            <tbody>
            {% for list in list %}
                <tr>
                    <td>{{list.nom}}</td>
                    <td>{{list.prenom}}</td>
                    <td>{{list.raisonSociale}}</td>
                    <td>{{list.email}}</td>
                    <td>{{list.numDossier}}</td>
                    <td>{{list.quartier}}</td>
                    <td>{{list.telephone1}}</td>
                    {#<td>#}
                    {#{% if list.service!="" %}#}
                    {#{{list.service.libelle}}#}
                    {#{% else %}#}
                    {#{% endif %}#}
                    {#</td>#}
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('gplainte_add_client', {val:'afficherForm','id': list.id}) }}"><img src="{{asset('assets/img/edit.png')}}" title="Modifier"></a></td>
                        {#<td><a href="{{ path('gplainte_add_client', {val:'supprimer','id': list.id}) }}"><img src="{{asset('assets/img/remove.png')}}" title="Supprimer"></a></td>
                        #}
                    {% endif %}

                </tr>

            {% endfor%}
            </tbody>
        </table>

    </div>
        {#{% if (id!=0 and val=="supprimer") %}#}
        {#{% include 'GplainteBundle:Agent:dialogue.html.twig' %}#}
    {#{% endif %}#}

{% endblock %}
