{% form_theme client 'GplainteBundle::fields_errors.html.twig' %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="height: 920px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'Close'| trans }}</span></button>

                <p style="padding-top: 1px">
                    {{ 'Customer registration'| trans }}
                </p>

            </div>
            <div class="modal-body">




    {#<div class="row" style="font-size: 40px">#}
        {#{%if msg is defined and msg==2%}#}
            {#<div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">#}
                {#{{ 'Modification completed successfully' | trans }}#}
            {#</div>#}
        {#{% endif %}#}

        {#{%if msg is defined and msg==3%}#}
            {#<div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">#}
                {#{{ 'Successful deletion' | trans }}#}
            {#</div>#}
        {#{% endif %}#}

        {#{%if msg is defined and msg==1%}#}
            {#<div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">#}
                {#{{ 'Adding completed successfully' | trans }}#}
            {#</div>#}
        {#{% endif %}#}

        {#{%if msgErr is defined and msgErr==1%}#}
            {#<div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">#}
                {#{{ 'This record already exists' | trans }}#}
            {#</div>#}
        {#{% endif %}#}

        {#{%if app.request.query.get("msgException")==1%}#}
            {#<div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">#}
                {#{{ 'This customer no longer exists' | trans }}#}

            {#</div>#}
        {#{% endif %}#}
        {#&#123;&#35;{{app.request.query.get(msgException)}}&#35;&#125;#}
        {#{%if app.request.query.get("msgException")==2%}#}
            {#<div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">#}
                {#{{ 'This customer is related to other operations' | trans }}#}

            {#</div>#}
        {#{% endif %}#}
    {#</div>#}

                <div class="col-md-10 col-md-offset-1" id="response" style="margin-bottom: 0px">
                {#{{ 'Adding completed successfully' | trans }}#}
                </div>
                <div class="loading">

                </div>

            <form action="{{ path('gplainte_add_client',{val:val})}}" method="post" {{ form_enctype(client) }} class="form-horizontal" id="" >
                <div class='col-md-12'>

                    <div class="form-group">
                        {{form_label(client.nom,"Last name (*):" | trans)}}
                        {{form_widget(client.nom,{'attr':{'class':'form-control'}})}}
                    </div>
</div>
                <div class='col-md-12'>
                    <div class="form-group">
                        {{form_label(client.prenom,"First name (*):" | trans)}}
                        {{form_widget(client.prenom,{'attr':{'class':'form-control'}})}}
                    </div>
</div>
                <div class='col-md-12'>

                    <div class="form-group">
                        {{form_label(client.raisonSociale,"Social reason :" | trans)}}
                        {{form_widget(client.raisonSociale,{'attr':{'class':'form-control'}})}}
                    </div>
</div><div class='col-md-12'>
                    <div class="form-group">
                        {{form_label(client.email,"Email address :"| trans) }}
                        {{form_errors(client.email)}}
                        {{form_widget(client.email,{'attr':{'class':'form-control'}})}}
                    </div>
</div><div class='col-md-12'>
                    <div class="form-group">
                        {{form_label(client.numDossier,"Folder number (*):" | trans)}}
                        {{form_widget(client.numDossier,{'attr':{'class':'form-control'}})}}
                    </div>
                    </div><div class='col-md-12'>

                    <div class="form-group">
                        {{form_label(client.quartier,"District (*):" | trans)}}
                        {{form_widget(client.quartier,{'attr':{'class':'form-control'}})}}
                    </div>
</div>
                <div class='col-md-12'>
                    <div class="form-group">
                        {{form_label(client.ville,'Ville (*)' | trans)}}:
                        {{form_widget(client.ville,{'attr':{'class':'form-control'}})}}
                    </div>

                </div>
                <div class='col-md-12' style="margin-left: -15%">
                    <div class="form-group">
                        {{form_label(client.telephone1,"Phone (*):" | trans)}}
                        {{form_errors(client.telephone1)}}
                        {{form_widget(client.telephone1,{'attr':{'class':'form-control'}})}}
                    </div>

                </div>


                <div class="col-md-12">

                    {{ form_rest(client) }}

                    <div class="col-md-12">
                        <span>(*) {{ 'Require fields'| trans }}</span>
                    </div>
                    <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 20px; margin-right: -10px;">{{ 'Go'| trans }}</button>
                </div>

            </form>

            </div>
        </div>
    </div>
</div>

<script>
    $(".loading").hide();

    $("#addCustomer").submit(function(e){
        $(".loading").show();
        e.preventDefault();
        var donnees= $(this).serialize();
        //alert(donnees);
        $.ajax({
            url: '{{ path('gplainte_add_client',{val:val})}}',
            type: "POST",
            data: donnees,
            dataType:"html",
            cache: false,
            success: function(data){
                $('#response').html(data);

                $(".loading").hide();
                location.href='{{path('gplainte_add_plainte')}}';
{#                location.reload();#}
            }

        });

    });
</script>
