<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
        
      </div>
      <div class="modal-body">
<p>
		Etes-vous sûr de vouloir supprimer le "{{ suppr.liban }}" ?
	</p>

        <form method="post" action="{{path('suppr_annee', {'id': suppr.id, 'val':'supprimer'})}}">
		<input type="submit" value="{{ 'Yes'|trans}}" class="btn-danger" />
                <a href="{{ path('ajout_annee') }}" class="btn btn-default">
                    {{ 'No'| trans }}
		</a>
	</form>
            
</div>
    </div></div></div>
      
     