{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ "Import customers" | trans }}{% endblock %}

{% block corps %}
   <div style='text-align: center; margin: 30px'>
      {# <a href='{{path('ajout_compte_bilan')}}' class='btn btn-default btn-lg'><i class="fa fa-columns fa-3x"></i>Ajouter</a>
    <a href='{{path('list_compte_bceao')}}' class='btn btn-default btn-lg'><i class="fa fa-columns fa-3x"></i>Liste</a>
#}    </div>
     <div id="reponse">
                
    </div>
    


<div class="col-md-8" style="margin-top: 10px; margin-left:0px">

    <div class='col-md-12'>

        <div class="row">
            <div class="col-md-6" style="background-color: #fff; text-transform: uppercase; color: #000; font-family: Roboto-Light; font-size: 26px">
                {{ 'Import customers' | trans }}
            </div>
        </div>
    <form action="{{ path("gplainte_add_import_client",{'val':'import'})}}" name="listeclient" method="post" id="listeclient" enctype="multipart/form-data">
        <div class="col-md-10" style="background-color: #fff; padding: 10px 30px 20px 30px ;color: #000; font-family: Roboto-Light">
            <div class="row" style="font-size: 30px">

                {% if msg is defined %}
                    <div class='alert-success' style='margin-bottom: 20px'>{{msg}} </div>
                {% endif %}
                {% if msgErr is defined %}
                    <div class='alert-warning' style='margin-bottom: 20px'>{{msgErr}} </div>
                {% endif %}
            </div>
            <div class='col-md-6 ' style="padding-top: 30px">

            <input type="hidden" name="_method" value="PUT" />
             <input id="excel-fileupload" type="file" required="required" name="excel">
             
         </div>

        <div class="col-md-1" style="left:20px; padding-top: 20px"><button type="submit" class="btn btn-primary" style="">{{ "Go" | trans }}</button></div>
        </div>
    </form>
        </div>
        

</div>

{% endblock %}
