{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Registering Functions' | trans }}{% endblock %}

{% block corps %}

    <div class="col-md-5 borderStyle" style="">

        <div class="stl_show" style="padding-left: 15px; padding-bottom: 20px">{{ 'Functions list' | trans }}</div>

        <table class="table table-striped table-hover" id='table_list_membre'>
            <thead>
            <tr>
                <th>{{ 'Function' | trans }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th colspan="2">{{ 'Actions'| trans }}</th>
                {% endif %}
                {#<th></th>#}
            </tr>

            </thead>
            <tbody>
            {% for list in list %}
                <tr>
                    <td>{{list.libelle}}</td>


                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('gplainte_add_fonction', {val:'afficherForm','id': list.id}) }}"><img src="{{asset('assets/img/edit.png')}}" title="Modifier"></a></td>
                        <td><a href="{{ path('gplainte_add_fonction', {val:'supprimer','id': list.id}) }}"><img src="{{asset('assets/img/remove.png')}}" title="Supprimer"></a></td>{% endif %}

                </tr>

            {% endfor%}
            </tbody>
        </table>
    </div>

<div class="col-md-7" style="margin-top: 10px">

    <div class='col-md-12'>

        <div class="row">
            <div class="col-md-9" style="background-color: #fff; text-transform: uppercase; color: #000; font-family: Roboto-Light; font-size: 26px">
                {{ 'Registering Functions' | trans }}
            </div>
        </div>

            <form action="{{ path('gplainte_add_fonction',{val:val,id:id})}}" method="post" {{ form_enctype(fonction) }} class="form-horizontal" id="" >

                <div class="col-md-12" style="background-color: #fff; padding-top: 30px; padding-bottom: 10px; color: #000; font-family: Roboto-Light">

                    <div class="row" style="font-size: 30px">
                        {%if msg is defined and msg==2%}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Modification completed successfully' | trans }}
                            </div>
                        {% endif %}

                        {%if msg is defined and msg==3%}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Successful deletion' | trans }}
                            </div>
                        {% endif %}

                        {%if msg is defined and msg==1%}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Adding completed successfully' | trans }}
                            </div>
                        {% endif %}

                        {%if msgErr is defined and msgErr==1%}
                            <div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">
                                {{ 'This record already exists' | trans }}
                            </div>
                        {% endif %}

                        {%if msgException is defined and msgException==1%}
                            <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                                {{ 'This function no longer exists' | trans }}

                            </div>
                        {% endif %}
                        {#{{app.request.query.get(msgException)}}#}
                        {%if msgException is defined and msgException==2%}
                            <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                                {{ 'This function is linked to other operations' | trans }}
                            </div>
                        {% endif %}

                        {% if app.request.query.get("msg")==1 %}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Adding completed successfully' | trans }}
                            </div>
                        {% endif %}

                    </div>
                <div class='col-md-8'>

                    <div class="form-group">
                        {{form_label(fonction.libelle,"label function :"| trans)}}
                        {{form_widget(fonction.libelle,{'attr':{'class':'form-control'}})}}
                    </div>

                </div>

                <div class="col-md-12">
                    {{ form_rest(fonction) }}

                    <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 20px; margin-right: -10px;">{{ 'Go' | trans }}</button>

                </div>
</div>
            </form>
</div>

    </div>

    {% if (id!=0 and val=="supprimer") %}
        {% include 'GplainteBundle:Fonction:dialogue.html.twig' %}
    {% endif %}


   {#<script>#}
  {#alert("ffff");#}

  {#$(document).ready(function () {#}
      {#$('a#addlevel').click(function(e){#}
          {#{% include 'GplainteBundle:typeNiveau:addtypeNiveau.html.twig' %}#}
      {#});#}
  {#});#}




   {#</script>#}

{% endblock %}
