{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Complained registration' | trans }}{% endblock %}

{% block corps %}

    <div class="col-md-12 borderStyle" style="">
        <div class="stl_show" style="padding-left: 15px; padding-bottom: 20px">{{ 'List complained' | trans }}</div>


        <table class="table table-striped table-hover" id='table_list_membre'>
            <thead>
            <tr>
                <th>{{ 'Complained' | trans }}</th>
                <th>{{ 'Level' | trans }}</th>
                <th>{{ 'Type de plainte' | trans }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th></th>
                <th></th>
                {% endif %}
            </tr>

            </thead>
            <tbody>
            {% for list in list %}
                <tr>
                    <td>{{list.libelle}}</td>

                    <td>{{list.typeniveau.libelle}}</td>
                    <td>{% if list.choix.libelle is defined %}{{list.choix.libelle}}{% else %}{% endif %}</td>

                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('gplainte_add_niveau', {val:'afficherForm','id': list.id}) }}"><img src="{{asset('assets/img/edit.png')}}" title="Modifier"></a></td>
                        <td><a href="{{ path('gplainte_add_niveau', {val:'supprimer','id': list.id}) }}"><img src="{{asset('assets/img/remove.png')}}" title="Supprimer"></a></td>{% endif %}

                </tr>

            {% endfor%}
            </tbody>
        </table>
    </div>

<div class="col-md-12" style="margin-top: 10px; margin-left: -30px">
       <div class='col-md-12'>

        <div class="row">
            <div class="col-md-5" style="background-color: #fff; text-transform: uppercase; color: #000; font-family: Roboto-Light; font-size: 26px">
                {{ 'Complained registration' | trans }}
            </div>
        </div>


            <form action="{{ path('gplainte_add_niveau',{val:val,id:id})}}" method="post" {{ form_enctype(niveau) }} class="form-horizontal" id="" >

                <div class="col-md-12" style="background-color: #fff; padding-top: 30px; padding-bottom: 10px; color: #000; font-family: Roboto-Light">

                    <div class="row" style="font-size: 30px">
                        {%if msg is defined and msg==2%}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Modification completed successfully' | trans }}
                            </div>
                        {% endif %}

                        {%if msg is defined and msg==3%}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Successful deletion' | trans }}
                            </div>
                        {% endif %}

                        {%if msg is defined and msg==1%}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Adding completed successfully' | trans }}
                            </div>
                        {% endif %}

                        {%if msgErr is defined and msgErr==1%}
                            <div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">
                                {{ 'This record already exists' | trans }}
                            </div>
                        {% endif %}

                        {%if msgException is defined and msgException==1%}
                            <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                                {{ 'This level no longer exists' | trans }}

                            </div>
                        {% endif %}
                        {#{{app.request.query.get(msgException)}}#}
                        {%if msgException is defined and msgException==2%}
                            <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                                {{ 'This level is linked to other operations' | trans }}
                            </div>
                        {% endif %}

                        {% if app.request.query.get("msg")==5 %}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Adding completed successfully' | trans }}
                            </div>
                        {% endif %}
                    </div>



                    <div class="col-md-4 form-group">
                        {{form_label(niveau.libelle,"Object :"| trans)}}
                        {{form_widget(niveau.libelle,{'attr':{'class':'form-control'}})}}
                    </div>

                    <div class="col-md-4 form-group">
                        {{form_label(niveau.typeniveau,"Level :"| trans)}}
                        {{form_widget(niveau.typeniveau,{'attr':{'class':'form-control','style':'float:left'}})}}
                        <i class="zmdi zmdi-plus"></i>
                        <a href="{{ path('gplainte_add_niveau', {'id':'1800'}) }}" id="addlevel" style="color: #000">{{ "Add Level" | trans }}</a>

                    </div>

                    <div class="col-md-4 form-group">
                        {{form_label(niveau.choix,"Type de plainte"| trans)}}:
                        {{form_widget(niveau.choix,{'attr':{'class':'form-control','style':'float:left'}})}}

                    </div>

                <div class="col-md-12">
                    {{ form_rest(niveau) }}

                    <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 20px; margin-right: -10px;">{{ 'Go' | trans }}</button>

                </div>
    </div>
            </form>
      </div>
    </div>
        {% if (id!=0 and val=="supprimer") %}
        {% include 'GplainteBundle:Niveau:dialogue.html.twig' %}
    {% endif %}

    {% if (id==1800 and val!="supprimer") %}
        {% include 'GplainteBundle:typeNiveau:addtypeNiveau.html.twig' %}
    {% endif %}

   {#<script>#}
  {#alert("ffff");#}

  {#$(document).ready(function () {#}
      {#$('a#addlevel').click(function(e){#}
          {#{% include 'GplainteBundle:typeNiveau:addtypeNiveau.html.twig' %}#}
      {#});#}
  {#});#}




   {#</script>#}

{% endblock %}
