{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Archiving'| trans }}{% endblock %}

{% block corps %}

    <div class="col-md-12 borderStyle" style="">
        <div class="row">
            <div class="col-md-8 stl_show" style="">
                {{ 'Archiving'| trans }}
            </div>
        </div>
        <div class="table-responsive">
            {% if msg is defined %}
                <div class="success">
                    {% if msg == 1 %}
                        {{ 'Your complaint has been successfully saved.' | trans}}
                    {% endif %}
                </div>
            {% endif %}
            <table class="table table-striped table-hover" id='listeplainte'>
                <thead>
                <tr>
                    <th>{{ 'Number'| trans }}</th>
                    <th>{{ 'Object'| trans }}</th>
                    <th>{{ 'Created at'| trans }}</th>
                    <th>{{ 'Is anonymous?'| trans }}</th>
                    <th>{{ 'Actions'| trans }}</th>

                </tr>

                </thead>
                <tbody>
                {% for archcomplaint in archcomplaints %}
                    <tr>

                        <td>{{archcomplaint.ticketNumber}} </td>
                        <td> {{archcomplaint.object}}</td>
                        <td>{{archcomplaint.createdAt | date('d/m/Y')}}</td>
                        <td>
                            {% if archcomplaint.isAnonyme == 1 %}
                                {{ 'Yes' | trans }}
                            {% else %}
                                {{ 'No' | trans }}
                            {% endif %}

                        </td>

                        <td style="padding-left: 30px">

                                            <a data-toggle="modal" data-target=".mod-set-rec{{ archcomplaint.id }}" href="#"><span class="zmdi zmdi-eye iconlist"></span> </a>

                        </td>

                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {%  for archcomplaint in archcomplaints %}
        <div class="modal fade mod-set-rec{{ archcomplaint.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-md">
                <form method="post" action="{{ path('gplainte_personnel_archcomplaints') }}">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">{{ 'Details of complaint'| trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">

                                <div class="col-md-12"><strong> {{ 'Object'| trans  }}:</strong>  {{ archcomplaint.object }}</div>

                            </div>
                            <div class="row">
                                <div class="col-md-6"><strong> {{ 'Employee or service concerned'| trans  }}:</strong>  {{ archcomplaint.indexed }}</div>
                                <div class="col-md-6"><strong> {{ 'Created at' | trans  }}:</strong>  {{ archcomplaint.createdAt | date('d/m/Y')}} </div>


                            </div>
                            <div class="row">

                                <div class="col-md-6"><strong> {{ 'Place'| trans  }}:</strong>  {{ archcomplaint.place }} </div>
                                <div class="col-md-6"><strong> {{ 'Date of event'| trans  }}:</strong>  {{ archcomplaint.dateEvent| date('d/m/Y') }}</div>

                            </div>
                            <div class="row">


                                <div class="col-md-12"><strong> {{ 'Description'| trans  }}:</strong> <br> {{ archcomplaint.description }} </div>

                            </div>
                            {#<div class="row">


                                <div class="col-md-6">
                                    <strong> {{"Solution offered"| trans}}:</strong> <br>

                                    {{ archcomplaint.solution }}
                                </div>
                                <div class="col-md-6">
                                    <strong> {{"Preventive actions"| trans}}:</strong> <br>

                                    {{ archcomplaint.actionPreventive }}
                                </div>
                            </div>#}
                            <div class="row">
                                <div class="col-md-12">
                                    {% if archcomplaint.solution is null %}
                                        <h1 class="label label-danger">{{ 'Not receivable'|trans }}</h1>
                                    {% else %}
                                        <h1 class="label label-success">{{ 'Receivable'|trans }}</h1>
                                    {% endif %}
                                </div>





                                {#<div class="col-md-12">
                                    <strong> {{"Observations"| trans}}:</strong> <br>

                                    {{archcomplaint.observation}} </div>#}
                                <input type="hidden" name="cid" value="{{ archcomplaint.id}}">


                            </div>


                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans}}</button>


                            {% if archcomplaint.isArchived != 1 %}
                                <a href="{{  path('gplainte_personnel_satisfy',{'id':archcomplaint.id})}}" class="btn btn-primary" >{{ 'Yes' | trans}}</a>
                                <a href="{{  path('gplainte_personnel_notsatisfy',{'id':archcomplaint.id})}}"class="btn btn-primary" >{{ 'No' | trans}}</a>
                            {% endif %}
                            {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}




                        </div>

                    </div><!-- /.modal-content -->
                </form>
            </div>
        </div>
    {%  endfor %}


{% endblock %}
