{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Dashboard'| trans }}{% endblock %}

{% block corps %}

    <div class="col-md-12 borderStyle" style="">
        <div class="row">
            <div class="col-md-8 stl_show" style="">
                {{ 'Dashboard'| trans }} &nbsp;{{ app.session.get('notice') }}
            </div>
        </div>
        <div class="table-responsive">
            {% for flashMessage in app.session.flashbag.get('notice') %}

            {{ flashMessage }}

            {% endfor %}
            <table class="table table-striped table-hover" id='listeplainte'>
                <thead>
                <tr>
                    <th>{{ 'Number'| trans }}</th>
                    <th>{{ 'Object'| trans }}</th>
                    <th>{{ 'Description'| trans }}</th>
                    <th>{{ 'Solution'| trans }}</th>


                    <th>{{ 'Recorded at'| trans }}</th>
                    <th>{{ 'Published at'| trans }}</th>
                    {#<th>{{ 'Actions'| trans }}</th>#}

                </tr>

                </thead>
                <tbody>
                {%  for complaint in complaints %}
                    <tr>

                        <td>{{ complaint.ticketNumber }}</td>
                        <td>{{ complaint.object }}</td>
                        <td>{{ complaint.description }}</td>
                        <td>{{ complaint.solution }}</td>
                        <td>{{ complaint.createdAt | date('d/m/Y') }}

                        </td>
                        <td>{{ complaint.publishedAt | date('d/m/Y')}}</td>
                        <!--<td>Status{#list.plainte.dateCreation | date('d/m/Y')#}</td>-->
                        <!--<td style="padding-left: 30px"><a href="{#path('gplainte_show_plainte',{'val':'detail','id':list.id})#}"><span class="zmdi zmdi-eye iconlist"></span> </a></td>
-->
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>


{% endblock %}
