{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Despoliation'| trans }}{% endblock %}

{% block corps %}

    <div class="col-md-12 borderStyle" style="">
        <div class="row">
            <div class="col-md-8 stl_show" style="">
                {{ 'Despoliation'| trans }}
            </div>
        </div>
        <div class="table-responsive">
            <div class="success">
                {% if msg is defined %}
                {% if msg == 1 %}
                    {{ 'Despoliation has been successfully completed.' | trans}}
                {% endif %}
                {% endif %}
            <table class="table table-striped table-hover" id='listeplainte'>
                <thead>
                <tr>
                    <th>{{ 'Number'| trans }}</th>
                    <th>{{ 'Object'| trans }}</th>
                    <th>{{ 'Description'| trans }}</th>
                    <th>{{ 'Created at'| trans }}</th>
                    <th>{{ 'Details'| trans }}</th>
                </tr>

                </thead>
                <tbody>
                {% for dcomplaint in dcomplaints %}
                    <tr>

                        <td>{{dcomplaint.ticketNumber}}</td>
                        <td>{{dcomplaint.object}}</td>
                        <td>{{dcomplaint.description}}</td>
                        <td>{{dcomplaint.createdAt | date('d/m/Y')}}</td>
                        <td style="padding-left: 30px"><a data-toggle="modal" data-target=".mod-set-rec{{ dcomplaint.id }}" href="#"><span class="zmdi zmdi-eye iconlist" ></span> </a></td>

                    </tr>

                {% endfor%}
                </tbody>
            </table>
        </div>

    </div>
    </div>
    {%  for dcomplaint in dcomplaints %}
    <div class="modal fade mod-set-rec{{ dcomplaint.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-md">


                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ 'Despoliation of a complaint'| trans }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-md-6">{% if dcomplaint.user is not null %}{% if dcomplaint.user.agent is not null %} <strong>{{ 'Firstname' | trans }}:</strong>  {{ dcomplaint.user.agent.prenom }} <br><strong> {{ 'Lastname' | trans  }}:</strong>  {{ dcomplaint.user.agent.nom }} <br><strong> {{ 'Fonction'| trans   }}:</strong>  {{ dcomplaint.user.agent.fonction.libelle }} <br><strong> {{ 'Service'| trans  }}:</strong>  {{ dcomplaint.user.agent.service.libelle }}{% endif %}{% endif %}</div>
                            <div class="col-md-6"><strong> {{ 'Created at' | trans  }}:</strong>  {{ dcomplaint.createdAt | date('d/m/Y')}} <br> <strong> {{ 'Ticket number'| trans  }}:</strong>  {{ dcomplaint.ticketNumber }}</div>

                        </div>
                        <div class="row">

                            <div class="col-md-12"><strong> {{ 'Object'| trans  }}:</strong>  {{ dcomplaint.object }}</div>

                        </div>
                        <div class="row">

                            <div class="col-md-6"><strong> {{ 'Place'| trans  }}: </strong> {{ dcomplaint.place }} </div>
                            <div class="col-md-6"><strong> {{ 'Date of event'| trans  }}:</strong>  {{ dcomplaint.dateEvent| date('d/m/Y') }}</div>

                        </div>
                        <div class="row">


                            <div class="col-md-12"><strong> {{ 'Description'| trans  }}:</strong> <br>{{ dcomplaint.description }} </div>

                        </div>
                        <div class="row">


                            <div class="col-md-12"><strong> {{ 'Is anonymous?'| trans  }}:</strong>  {% if dcomplaint.isAnonyme==1  %}{{ 'Yes' | trans }}{% else %}{{ 'No' | trans }}{% endif %}   </div>

                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans}}</button>
                        <a href="{{  path('gplainte_personnel_receivecomplaint',{'id':dcomplaint.id})}}" class="btn btn-primary" >{{ 'Receivable' | trans}}</a>
                        <a href="{{  path('gplainte_personnel_notreceivecomplaint',{'id':dcomplaint.id})}}"class="btn btn-primary" >{{ 'Not Receivable' | trans}}</a>

                        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}




                    </div>

                </div><!-- /.modal-content -->

        </div>
    </div>
    {%  endfor %}

{% endblock %}
