{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'My complaints'| trans }}{% endblock %}

{% block corps %}

    <div class="col-md-12 borderStyle" style="">
        <div class="row">
            <div class="col-md-8 stl_show" style="">
                {{ 'My complaints'| trans }} &nbsp; {{ app.session.get('notice') }}
                <span style="font-size: 12px; background-color: #ededed; padding:5px 5px; border-radius:2px; ">
                    <a data-toggle="modal" data-target=".mod-create-comp" href="#" style="color:#f89646;display:inline-block;">{{ 'New complaint'| trans }}</a></span>
            </div>
        </div>
        <div class="table-responsive">
            {% if msg is defined %}
                <div class="success">
                {% if msg == 1 %}
                    {{ 'Your complaint has been successfully saved.' | trans}}
                {% endif %}
                </div>
            {% endif %}
            <table class="table table-striped table-hover" id='listeplainte'>
                <thead>
                <tr>
                    <th>{{ 'Number'| trans }}</th>
                    <th>{{ 'Object'| trans }}</th>

                    <th>{{ 'Created at'| trans }}</th>
                    <th>{{ 'Status'| trans }}</th>
                    <th>{{ 'Actions'| trans }}</th>

                </tr>

                </thead>
                <tbody>
                {% for mycomplaint in mycomplaints %}
                    <tr>

                        <td>{{mycomplaint.ticketNumber}} </td>
                        <td> {{mycomplaint.object}}</td>
                        <td>{{mycomplaint.createdAt | date('d/m/Y')}}</td>
                        <td>
                            {% if mycomplaint.isRecevable == 1 %}
                                {% if mycomplaint.isProcessed == 1 %}
                                    {% if mycomplaint.isValidated == 1 %}
                                        {% if mycomplaint.isSatisfied == 1 %}
                            <span class="label label-md label-default">{{ 'Archived' | trans }}</span>

                                        {% else  %}
                            <span class="label label-md label-success">{{ 'Validated' | trans }}</span>
                                        {% endif %}

                                    {% else  %}
                                <span class="label label-md label-info">{{ 'Waiting for validation' | trans }}</span>
                                    {% endif %}

                                {% else  %}
                                    <span class="label label-md label-primary">{{ 'Being processed' | trans }}</span>
                                {% endif %}
                            {% elseif mycomplaint.isRecevable == 2 %}
                                        <span class="label label-md label-warning">{{ 'Waiting for despoliation' | trans }}</span>
                            {% else  %}
                                            <span class="label label-md label-danger">{{ 'Not receivable' | trans }}</span>
                            {% endif %}

                        </td>

                        <td style="padding-left: 30px">
                            {% if mycomplaint.isRecevable == 1 %}
                                {% if mycomplaint.isProcessed == 1 %}
                                    {% if mycomplaint.isValidated == 1 %}
                                        {% if mycomplaint.isSatisfied == 1 %}
                                            <a data-toggle="modal" data-target=".mod-set-rec{{ mycomplaint.id }}" href="#">
                                            <span class="zmdi zmdi-eye iconlist"></span></a>

                                        {% else  %}
                                            <a data-toggle="modal" data-target=".mod-set-rec{{ mycomplaint.id }}" href="#"><span class="zmdi zmdi-eye iconlist"></span> </a>
                                        {% endif %}

                                    {% else  %}
                                        <span class="zmdi zmdi-eye iconlist" style="cursor:not-allowed"></span>
                                    {% endif %}

                                {% else  %}
                                    <span class="zmdi zmdi-eye iconlist" style="cursor:not-allowed"></span>
                                {% endif %}
                            {% elseif mycomplaint.isRecevable == 2 %}
                                <span class="zmdi zmdi-eye iconlist" style="cursor:not-allowed"></span>
                            {% else  %}
                                <span class="zmdi zmdi-eye iconlist" style="cursor:not-allowed"></span>
                            {% endif %}
                        </td>

                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal fade mod-create-comp" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <form method="post" action="{{ path('gplainte_personnel_mycomplaints') }}">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ 'Creating a complaint'| trans }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" style="background-color: #fff; padding-top: 30px; color: #000; font-family: Roboto-Light">
                            {{ form_errors(form) }}

                            <div class="form-group col-md-12">
                                {{form_label(form.ticketNumber,"Number (*)"| trans)}}

                                {{form_widget(form.ticketNumber,{'attr':{'class':'form-control'}})}}
                            </div>
                            <div class="form-group col-md-12">
                                {{form_label(form.object,"Object (*)"| trans)}}
                                <select name="subject" id="subject" class="form-control">
                                    <option value="{{'complaint.one'|trans}}">{{'complaint.one'|trans}}</option>
                                    <option value="{{'complaint.two'|trans}}">{{'complaint.two'|trans}}</option>
                                    <option value="{{'complaint.three'|trans}}">{{'complaint.three'|trans}}</option>
                                    <option value="{{'complaint.four'|trans}}">{{'complaint.four'|trans}}</option>
                                    <option value="{{'complaint.five'|trans}}">{{'complaint.five'|trans}}</option>
                                    <option value="{{'complaint.six'|trans}}">{{'complaint.six'|trans}}</option>
                                    <option value="{{'complaint.seven'|trans}}">{{'complaint.seven'|trans}}</option>
                                    <option value="{{'complaint.other'|trans}}">{{'complaint.other'|trans}}</option>
                                </select><br>
                                {{form_widget(form.object,{'attr':{'class':'form-control hidden','value':'complaint.one'|trans}})}}
                                {#form_widget(form.subject,{'attr':{'class':'form-control hidden','id':'subject','''required':'required','''value':'Salary treatment'|trans}})}}#}
                                {#<input type="text" name="subject" id="subject" value="{{ 'Salary treatment'|trans }}" class="form-control hidden" required>#}
                            </div>
                            <div class="form-group col-md-12">
                                {{form_label(form.dateEvent,"Date of event"| trans)}}
                                <div class='input-group date' id='datetimepicker11'>
                                {{form_widget(form.dateEvent,{'attr':{'data-format':'dd/MM/yyyy','class':'form-control','style':'height:32px'}})}}
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                {{form_label(form.place,"Place (*)"| trans)}}
                                {{form_widget(form.place,{'attr':{'class':'form-control'}})}}
                            </div>
                            <div class="form-group col-md-12">
                                {{form_label(form.indexed,"Employee or service concerned (*)"| trans)}}
                                {{form_widget(form.indexed,{'attr':{'class':'form-control'}})}}
                            </div>
                            <div class="form-group col-md-12">
                                {{form_label(form.description,"Description (*)"| trans)}}
                                {{form_widget(form.description,{'attr':{'class':'form-control'}})}}
                            </div>
                            <div class="form-group col-md-12">

                                {{form_label(form.isAnonyme,"Anonyme complaint"| trans,{'attr':{'class':'col-md-6'}})}}
                                {{form_widget(form.isAnonyme,{'attr':{'class':'col-md-2 col-md-offset-4','style':'margin-top:10px;height:32px'}})}}
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-4" style="margin-left: -10px; margin-top: 10px">
                                <span style="font-weight: bold">(*) </span>{{ 'Champs requis'| trans }}
                            </div>
                        </div>
                        <script>
                            $(document).ready(function(){
                                //alert('oki');
                                $('#subject').on('change',function(){


                                    if($(this).val()=="Others" || $(this).val()=="Autres"){
                                        $('#form_object').val('')
                                        .removeClass('hidden');
                                    }
                                    else{
                                        //alert($('#form_object option[value="'+$(this).val()+'"]').text());
                                        //alert( $(this).val());
                                        $('#form_object').val($(this).val());
                                        //alert( $('#form_object').val());

                                    }
                                });
                            });

                        </script>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close' |trans  }}</button>
                    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}


                    {{ form_widget(form.save, {'label':'Save'|trans,'attr': {'class': 'btn btn-primary'}}) }}
                    {# Fermeture de la balise <form> du formulaire HTML #}

                </div>

            </div><!-- /.modal-content -->
            {form_end(form)}}</form>
        </div>
    </div>
    {%  for mycomplaint in mycomplaints %}
        <div class="modal fade mod-set-rec{{ mycomplaint.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-md">
                <form method="post" action="{{ path('gplainte_personnel_mycomplaints') }}">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">{% if mycomplaint.isSatisfied != 1 %}{{ 'Are you satisfy?'| trans }}{% else %}{{ 'Details of complaint'|trans }}{% endif %}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">

                                <div class="col-md-12"><strong>{{ 'Object'| trans  }}:</strong> {{ mycomplaint.object }}</div>

                            </div>
                            <div class="row">
                                <div class="col-md-6"><strong>{{ 'Employee or service concerned'| trans  }}:</strong> {{ mycomplaint.indexed }}</div>
                                <div class="col-md-6"><strong>{{ 'Created at' | trans  }}:</strong> {{ mycomplaint.createdAt | date('d/m/Y')}} </div>


                            </div>
                            <div class="row">

                                <div class="col-md-6"><strong>{{ 'Place'| trans  }}:</strong> {{ mycomplaint.place }} </div>
                                <div class="col-md-6"><strong>{{ 'Date of event'| trans  }}:</strong> {{ mycomplaint.dateEvent| date('d/m/Y') }}</div>

                            </div>
                            <div class="row">


                                <div class="col-md-12"><strong>{{ 'Description'| trans  }}:</strong><br> {{ mycomplaint.description }} </div>

                            </div>
                            <div class="row">


                                <div class="col-md-6">
                                    <strong>{{"Solution offered"| trans}}:</strong><br>

                                    {{ mycomplaint.solution }}
                                </div>
                                <div class="col-md-6">
                                    <strong>{{"Preventive actions"| trans}}:</strong><br>

                                    {{ mycomplaint.actionPreventive }}
                                </div>
                            </div>
                            <div class="row">


                                <div class="col-md-12">
                                    <strong>{{"Observations"| trans}}:</strong><br>

                                    {{mycomplaint.observation}} </div>
                                <input type="hidden" name="cid" value="{{ mycomplaint.id}}">


                            </div>


                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans}}</button>


                            {% if mycomplaint.isSatisfied != 1 %}
                            <a href="{{  path('gplainte_personnel_satisfy',{'id':mycomplaint.id})}}" class="btn btn-primary" >{{ 'Yes' | trans}}</a>
                            <a href="{{  path('gplainte_personnel_notsatisfy',{'id':mycomplaint.id})}}"class="btn btn-primary" >{{ 'No' | trans}}</a>
                            {% endif %}
                            {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}




                        </div>

                    </div><!-- /.modal-content -->
                </form>
            </div>
        </div>
    {%  endfor %}


    <script>
        $(window).load(function(){
            //alert('test');
            $('.DTTT_container').css({'display':'none !important'});
        });

        $(function () {
            //$('#form_dateEvent').setLocale('de');
            //alert('oki');
            {% if app.request.locale=="en" %}

                {% set appLocale ="en_US" %}

            {% elseif app.request.locale=="fr"  %}

                {% set appLocale ="fr_FR" %}

            {% endif %}
            $('#form_dateEvent').datetimepicker({
                i18n:{
                    fr_FR:{
                        months:[
                            'Janvier','Février','Mars','Avril',
                            'Mai','Juin','Juillet','Août',
                            'Septembre','Octobre','Novembre','Decembre',
                        ],
                        dayOfWeek:[
                            "Dim", "Lun", "Mar", "Mer",
                            "Jeu", "Ven", "Sam",
                        ]
                    },
                    en_US:{
                        months:[
                            'January','February','March','April',
                            'May','June','July','August',
                            'September','October','November','December',
                        ],
                        dayOfWeek:[
                            "Sun", "Mon", "Tue", "Wed",
                            "Thu", "Fri", "Sat",
                        ]
                    }
                },
                format: 'd/m/Y',
                lang: "{{ appLocale }}",
                timepicker: false,

            });
            //$('#form_dateEvent').setLocale('en');
        });

    </script>

{% endblock %}
