{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Processing'| trans }}{% endblock %}

{% block corps %}

    <div class="col-md-12 borderStyle" style="">
        <div class="row">
            <div class="col-md-8 stl_show" style="">
                {{ 'Processing'| trans }}
            </div>
        </div>
        <div class="table-responsive">
            <div class="success">
                {% if msg is defined %}
                    {% if msg == 1 %}
                        {{ 'Processing has been successfully completed.' | trans}}
                    {% endif %}
                {% endif %}
                <table class="table table-striped table-hover" id='listeplainte'>
                    <thead>
                    <tr>
                        <th>{{ 'Number'| trans }}</th>
                        <th>{{ 'Object'| trans }}</th>
                        <th>{{ 'Description'| trans }}</th>
                        <th>{{ 'Created at'| trans }}</th>
                        <th>{{ 'Details'| trans }}</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for pcomplaint in pcomplaints %}
                        <tr>

                            <td>{{pcomplaint.ticketNumber}}</td>
                            <td>{{pcomplaint.object}}</td>
                            <td>{{pcomplaint.description}}</td>
                            <td>{{pcomplaint.createdAt | date('d/m/Y')}}</td>
                            <td style="padding-left: 30px"><a data-toggle="modal" data-target=".mod-set-rec{{ pcomplaint.id }}" href="#"><span class="zmdi zmdi-eye iconlist" ></span> </a></td>

                        </tr>

                    {% endfor%}
                    </tbody>
                </table>
            </div>

    </div>
</div>

    {%  for pcomplaint in pcomplaints %}
        <div class="modal fade mod-set-rec{{ pcomplaint.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-md">
                <form method="post" action="{{ path('gplainte_personnel_processing') }}">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ 'Processing a complaint'| trans }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-md-12"><strong> {{ 'Object'| trans  }}:</strong>  {{ pcomplaint.object }}</div>

                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong> {{ 'Employee or service concerned'| trans  }}:</strong>  {{ pcomplaint.indexed }}</div>
                            <div class="col-md-6"><strong> {{ 'Created at' | trans  }}:</strong>  {{ pcomplaint.createdAt | date('d/m/Y')}} </div>


                        </div>
                        <div class="row">

                            <div class="col-md-6"><strong> {{ 'Place'| trans  }}:</strong>  {{ pcomplaint.place }} </div>
                            <div class="col-md-6"><strong> {{ 'Date of event'| trans  }}:</strong>  {{ pcomplaint.dateEvent| date('d/m/Y') }}</div>

                        </div>
                        <div class="row">


                            <div class="col-md-12"><strong> {{ 'Description'| trans  }}:</strong> <br> {{ pcomplaint.description }} </div>

                        </div>
                        <div class="row">


                            <div class="col-md-6">
                                <strong>{{form_label(form.solution,"Solution offered (*)"| trans)}}</strong>

                                {{form_widget(form.solution,{'attr':{'class':'form-control'}})}}
                            </div>
                            <div class="col-md-6">
                                <strong>{{form_label(form.actionPreventive,"Preventive actions (*)"| trans)}}</strong>

                                {{form_widget(form.actionPreventive,{'attr':{'class':'form-control'}})}}
                            </div>
                        </div>
                        <div class="row">


                            <div class="col-md-12"><strong>{{form_label(form.observation,"Observations (*)"| trans)}}</strong>

                                {{form_widget(form.observation,{'attr':{'class':'form-control'}})}} </div>
                            <input type="hidden" name="cid" value="{{ pcomplaint.id}}">


                        </div>
                        <div class="row">
                            <div class="col-md-4" style="margin-left: -10px; margin-top: 10px">
                                <span style="font-weight: bold">(*) </span>{{ 'Champs requis'| trans }}
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans}}</button>
                        {{ form_widget(form.process,{'attr':{'class':'btn btn-primary','value':'Process'| trans}})}}
                        {{ form_widget(form.validate,{'attr':{'class':'btn btn-primary','value':'Validate'| trans}})}}

                        {#<a href="{{  path('gplainte_personnel_processcomplaint',{'id':pcomplaint.id})}}" class="btn btn-primary" >{{ 'Process' | trans}}</a>
                        <a href="{{  path('gplainte_personnel_validatecomplaint',{'id':pcomplaint.id})}}"class="btn btn-primary" >{{ 'Validate' | trans}}</a>
#}
                        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}




                    </div>

                </div><!-- /.modal-content -->
</form>
            </div>
        </div>
    {%  endfor %}


{% endblock %}
