{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Validation'| trans }}{% endblock %}

{% block corps %}

    <div class="col-md-12 borderStyle" style="">
        <div class="row">
            <div class="col-md-8 stl_show" style="">
                {{ 'Validation'| trans }}
            </div>
        </div>
        <div class="table-responsive">
            <div class="success">
                {% if msg is defined %}
                    {% if msg == 1 %}
                        {{ 'Validation has been successfully completed.' | trans}}
                    {% endif %}
                {% endif %}
                <table class="table table-striped table-hover" id='listeplainte'>
                    <thead>
                    <tr>
                        <th>{{ 'Number'| trans }}</th>
                        <th>{{ 'Object'| trans }}</th>
                        <th>{{ 'Description'| trans }}</th>
                        <th>{{ 'Created at'| trans }}</th>
                        <th>{{ 'Details'| trans }}</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for vcomplaint in vcomplaints %}
                        <tr>

                            <td>{{vcomplaint.ticketNumber}}</td>
                            <td>{{vcomplaint.object}}</td>
                            <td>{{vcomplaint.description}}</td>
                            <td>{{vcomplaint.createdAt | date('d/m/Y')}}</td>
                            <td style="padding-left: 30px"><a data-toggle="modal" data-target=".mod-set-rec{{ vcomplaint.id }}" href="#"><span class="zmdi zmdi-eye iconlist" ></span> </a></td>

                        </tr>

                    {% endfor%}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    {%  for vcomplaint in vcomplaints %}
        <div class="modal fade mod-set-rec{{ vcomplaint.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-md">
                <form method="post" action="{{ path('gplainte_personnel_validation') }}">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">{{ 'Validating a complaint'| trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">

                                <div class="col-md-12"><strong> {{ 'Object'| trans  }}:</strong>  {{ vcomplaint.object }}</div>

                            </div>
                            <div class="row">
                                <div class="col-md-6"><strong> {{ 'Employee or service concerned'| trans  }}:</strong>  {{ vcomplaint.indexed }}</div>
                                <div class="col-md-6"><strong> {{ 'Created at' | trans  }}:</strong>  {{ vcomplaint.createdAt | date('d/m/Y')}} </div>


                            </div>
                            <div class="row">

                                <div class="col-md-6"><strong> {{ 'Place'| trans  }}:</strong>  {{ vcomplaint.place }} </div>
                                <div class="col-md-6"><strong> {{ 'Date of event'| trans  }}:</strong>  {{ vcomplaint.dateEvent| date('d/m/Y') }}</div>

                            </div>
                            <div class="row">


                                <div class="col-md-12"><strong> {{ 'Description'| trans  }}:</strong> <br> {{ vcomplaint.description }} </div>

                            </div>
                            <div class="row">


                                <div class="col-md-6">
                                    {{form_label(form.solution,"Solution offered (*)"| trans)}}

                                    {{form_widget(form.solution,{'value': vcomplaint.solution,'attr':{'class':'form-control'}})}}
                                </div>
                                <div class="col-md-6">
                                    {{form_label(form.actionPreventive,"Preventive actions"| trans)}} (*)

                                    {{form_widget(form.actionPreventive,{'value': vcomplaint.actionPreventive,'attr':{'class':'form-control'}})}}
                                </div>
                            </div>
                            <div class="row">


                                <div class="col-md-12">{{form_label(form.observation,"Observations (*)"| trans)}}

                                    {{form_widget(form.observation,{'value': vcomplaint.observation,'attr':{'class':'form-control'}})}} </div>
                                <input type="hidden" name="cid" value="{{ vcomplaint.id}}">


                            </div>
                            <div class="row">
                                <div class="col-md-4" style="margin-left: -10px; margin-top: 10px">
                                    <span style="font-weight: bold">(*) </span>{{ 'Champs requis'| trans }}
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close' | trans}}</button>

                            {{ form_widget(form.validate,{'attr':{'class':'btn btn-primary','value':'Validate'| trans}})}}

                            {#<a href="{{  path('gplainte_personnel_processcomplaint',{'id':vcomplaint.id})}}" class="btn btn-primary" >{{ 'Process' | trans}}</a>
                            <a href="{{  path('gplainte_personnel_validatecomplaint',{'id':vcomplaint.id})}}"class="btn btn-primary" >{{ 'Validate' | trans}}</a>
    #}
                            {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}




                        </div>

                    </div><!-- /.modal-content -->
                </form>
            </div>
        </div>
    {%  endfor %}


{% endblock %}
