{% extends "::base.html.twig" %}

{% block title %} {{ parent()}} |{{ 'Welcome home page' | trans }} {% endblock %}

{% block body %}
<div class="container-fluid" style='margin-top: 100px;'>
{#    <div class="col-md-6 col-md-offset-3" style="border:1px solid #CCCCCC;">#}

    <div style="background: #086bae; height: 40px; line-height: 40px; color: #FFF; text-align: center; margin-bottom: 50px"></div>


    <div class="row" style="margin-left: 8%">
        <div class="col-md-3 col-md-offset-4">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
{#    </div>#}
{#    <div style="background: #086bae; margin-top: 50px; height: 40px; line-height: 40px; color: #FFF; text-align: center;">Copyright Africann Community-2015</div>#}
</div>


{% endblock %}
