{% extends "::base.html.twig" %}

{% block title %} {{ parent()}} |  {% endblock %}

{% block body %}
<div id="wrapper">
    
        {#<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">#}
            {#<div class="navbar-header">#}
                {#<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">#}
                    {#<span class="sr-only">Toggle navigation</span>#}
                    {#<span class="icon-bar"></span>#}
                    {#<span class="icon-bar"></span>#}
                    {#<span class="icon-bar"></span>#}
                {#</button>#}
                 {#<img src="{{asset('assets/img/logo.png')}}" class="img-circle" style="box-shadow: -10px -10px 100px #fff"/>#}
            {#</div>#}
             {#<div class="col-md-7" style="padding-top: 10px;line-height: 90px;">#}
      {#<ul class="nav nav-pills">#}
               {##}
            {#</ul>#}
      {#</div>#}
  {#&#123;&#35;<div style="color: white;#}
{#padding: 15px 50px 5px 50px;#}
{#float: right;#}
{#font-size: 14px;   line-height: 75px;">#}
     {##}
      {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                         {#<span style="font-weight: bold"> {{ app.user.username }} </span> <a class="btn square-btn-adjust" style='margin-left: 20px; background: #be9d56; color: #FFF' href="{{path('fos_user_security_logout') }}#features"> Déconnexion</a>#}
            {#{% endif %}</div>&#35;&#125;#}
        {#</nav>   #}
        
        
      
            <div id="page-inner0">
               
                {% block fos_user_content %}                
                {%endblock fos_user_content%}
                 <!-- /. ROW  -->           
    </div>
             <!-- /. PAGE INNER  -->
{#            </div>#}
         <!-- /. PAGE WRAPPER  -->
        </div>

         <!--<div class="col-md-12" style="background: #dbdcc5; height: 55px; line-height: 55px; margin-top:90px; color: #010101; text-align: left; padding-left: 30%; font-family: Roboto-Light; font-size: 14px">Copyright 2015 Satis</div>-->
    <div class="col-md-12 col-xs-12" style="position: fixed;     bottom: 0;background: #dbdcc5; height: 55px; opacity: 0.5; line-height: 55px; margin-top:10px; color: #010101; text-align: center; font-family: Roboto-Light; font-weight:bold;font-size: 14px"> &copy; Copyrights Satis  <script>var date = new Date(); document.write(date.getFullYear());</script>
        <div class="language pull-right" style="display: inline; ">
            {{'Language'|trans}}:
            <select id="selectLang">
                <option id="english" value="en">{{'English'|trans}}</option>
                <option id="french" value="fr">{{'French'|trans}}</option>
            </select>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('#selectLang').val("{{ app.request.locale }}");
            $('#selectLang').on('change',function(){
                //alert($(this).val());
                locale = $(this).val();
                if(locale=="en"){
                    window.location.replace("http://pro.dmdsatis.com/web/en/login");
                }
                if(locale=="fr"){
                    window.location.replace("http://pro.dmdsatis.com/web/fr/login");
                }
            });
        });
    </script>

{% endblock %}


