<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
        
      </div>
      <div class="modal-body">
<p>
    {{ 'Are you sure you want to remove the desktop'| trans }}"{{ suppr.libelle }}" ?
	</p>

        <form method="post" action="{{path('gplainte_delete_Bureau', {'val':'supprimer','id': suppr.id})}}">
		<input type="submit" value="{{ 'Yes'|trans}}" class="btn-danger" />
                <a style="height: 26px; line-height: 14px; padding: 6px" href="{{ path('gplainte_add_Bureau') }}" class="btn btn-default">
                    {{ 'No'| trans }}
		</a>
	</form>
            
</div>
    </div></div></div>
      
     