{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ "Filter options" | trans }}{% endblock %}

{% block corps %}
   <div style='text-align: center; margin: 30px'>
       </div>
     <div id="reponse">

    </div>




<div class="col-md-8">

    <div class="row">
        <div class="col-md-4" style="background-color: #fff; text-transform: uppercase; color: #000; font-family: Roboto-Light; font-size: 26px">
            {{ 'Filter options' | trans }}
        </div>
    </div>

    <form method="post" name="rechercheperiode" action="{{ path('gplainte_edit_rapport') }}" class="form-horizontal" style="">

        <div class="col-md-12" style="background-color: #fff; padding-top: 30px; padding-bottom: 10px; color: #000; font-family: Roboto-Light">

            <div class="row" style="font-size: 30px">

                {% if msg is defined %}
                    <div class='alert-success' style='margin-bottom: 20px'>{{msg}} </div>
                {% endif %}
                {% if msgErr is defined %}
                    <div class='alert-warning' style='margin-bottom: 20px'>{{msgErr}} </div>
                {% endif %}

            </div>

        <div class="col-md-5">
          <div class="form-group">
              <label>{{ 'Du'| trans }}:</label>
              <input type="text" name="debut" id="debut" required="required" placeholder="{{ 'Start date'| trans }}" class="form-control">
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div class="form-group">
                <label>{{ 'Au'| trans }}:</label>
                <input type="text" name="fin" id="fin" required="required" placeholder="{{ 'End date'| trans }}" class="form-control">
            </div>
        </div>
        <div class="form-group col-md-6">
          <div class="row">
                  <input type="radio" name="generale" value="1" checked>{{ 'Donnees generales sur le reseau' | trans}}
              </div>
              <div class="row">
                  <input type="radio" name="generale" value="2" >{{  'Donnees specifiques aux points de service' | trans }}
              </div>
          </div>

            <div class="form-group col-md-6">
                <div class="row">
                    <input type="radio" name="graphique" value="1" checked>{{ 'Générer le graphique en semaine'|trans }}
                </div>
                <div class="row">
                    <input type="radio" name="graphique" value="2" >{{ 'Générer le graphique en jour'|trans}}
                </div>
            </div>

          <div class="form-group col-md-12" id="bureaux">
              <label>Bureaux</label>
              <select name="bureau[]" multiple class="form-control">
                  {#<option value="0">Sélectionner le bureau</option>#}
                  {% for bureau in bureau %}
                      <option value=" {{ bureau.id }}">
                          {{ bureau.libelle }}
                      </option>
                  {% endfor %}
              </select></div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary" style="float: right; padding-top:1px">{{ 'OK'| trans }}</button>

            </div>
      </div>



    </form>
        

</div>

{% endblock %}
