<link href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('assets/css/print.css') }}" rel="stylesheet" type="text/css" />
<style type="text/css" media="print">
    .content {
        padding: 5px;
        /*vertical-align: middle;*/
    }
</style>
{#</head>#}
{#<body>#}
<page backtop="40mm" backbottom="5mm" backleft="0mm" backright="0mm">
    <page_header>

        <table style="width: 100%;">
            <tr>
                <td style="text-align: left; width: 30%">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if app.user.agent.service.institution.webPath is not null  %}
                            <img src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset(app.user.agent.service.institution.webPath) }}" class="" style="width: auto; height: 100px;" title="">
                        {% endif %}
                    {% endif %}
                </td>
                <td style="width: 40%">
                    <h3><span>Rapport Gestion des plaintes des clients</span></h3>
                    <h4> Période du {{ periode }}</h4>
                </td>

                <td style="width: 30%; text-align: right;">
                    <img id="companyLogo" src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset('assets/img/logo2.jpg') }}" class="" style="width:150px; height: 80px" title="">
                    {#<img id="companyLogo" src="http://localhost/satis/web/uploads/graphique/Blank_US_Map.png" class="" style="width:150px; height: 80px" title="">                   #}
                </td>
            </tr>
        </table>

    </page_header>
    <page_footer>
        <table style="width: 100%;">
            <tr>
                <td style="text-align: left;    width: 50%">Généré par SATIS le {{ now }}</td>
                <td style="text-align: right;    width: 50%">page [[page_cu]]/[[page_nb]]</td>
            </tr>
        </table>
    </page_footer>

{#{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('images/foo.jpg') }}#}



    {#<table style='width: 100%;'>#}
        {#<tr>#}
            {#<td style='width:45%;'>#}
                {#                            tableau 1 premiere colonne#}
                {#<div style="width:100%;">#}
                    <h5 style="font-weight: bold;">Rappels</h5>
                    <table style='width: 100%;' class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="content">Objectifs</th>
                            <th class="content">Indicateurs</th>
                            <th class="content">Normes</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for objectif in objectifs %}
                            <tr>
                                <td style='width:50%;' class="content">
                                    {{ objectif.objectifindicateur.libelle }}
                                </td>
                                <td style='width:35%;' class="content">{{ objectif.libelle }}</td>
                                <td style='width:15%;' class="content">{{ objectif.normeOp }} {{ objectif.normeVal }} {{ objectif.normeUnite }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>
                {#</div>#}
                {#<div style="width:89%;">#}

                    <h5 style="padding-top: 20px; padding-bottom: 20px; font-weight: bold">Données spécifiques aux points de service</h5>
                    <table style='width: 100%;' class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th colspan="2" rowspan="2" style="" class="content">Libellés</th>

                            <th colspan="{{ nbrebureaux }}" style="text-align: center" class="content">Points de service</th>
                        </tr>
                        <tr>

                            {% for bureaux in bureaux %}
                                <th class="content">
                                    {{ bureaux.bureau }}
                                </th>

                            {% endfor %}
                        </tr>


                        </thead>

                        <tbody>

                        <tr>
                            <td colspan="2" class="content">
                                Taux de satisfaction
                            </td>


                            {% for nbreclientsatisfaitbureau in nbreclientsatisfaitbureau %}
                                <td class="content">
                                    {% if nbreclientsatisfaitbureau is null %}
                                        0
                                    {% else %}
                                        {{ nbreclientsatisfaitbureau.valeur | number_format(2,'.',' ') }} %
                                    {% endif %}
                                </td>
                            {% endfor %}

                        </tr>

                        <tr>
                            <td colspan="2" class="content">
                                Taux de resolution des plaintes ordinaires
                            </td>

                            {% for tauxresolutionplainteordinaire in tauxresolutionplainteordinaire %}
                                <td class="content">
                                    {% if tauxresolutionplainteordinaire is null %}
                                        0
                                    {% else %}
                                        {{ tauxresolutionplainteordinaire.valeur | number_format(2,'.',' ') }} %
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td colspan="2" class="content">
                                Taux de resolution des plaintes sensible
                            </td>

                            {% for tauxresolutionplaintesensible in tauxresolutionplaintesensible %}
                                <td class="content">
                                    {% if tauxresolutionplaintesensible is null %}
                                        0
                                    {% else %}
                                        {{ tauxresolutionplaintesensible.valeur | number_format(2,'.',' ') }} %
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td rowspan="3" class="content">Nature des plaintes les plus récurrentes </td>
                            <td class="content"> 1er</td>
                            {% for key, natureplainterecurrentebureau1 in natureplainterecurrentebureau1 %}
                                <td class="content">

                                    {% if natureplainterecurrentebureau1 is empty %}

                                    {% else %}
                                        {{ natureplainterecurrentebureau1[0].maximum }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="content">2eme</td>
                            {% for natureplainterecurrentebureau2 in natureplainterecurrentebureau2 %}
                                <td class="content">
                                    {% if natureplainterecurrentebureau2 is empty %}

                                    {% else %}
                                        {{ natureplainterecurrentebureau2[0].maximum }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="content">3eme</td>

                            {% for natureplainterecurrentebureau3 in natureplainterecurrentebureau3 %}
                                <td class="content">
                                    {% if natureplainterecurrentebureau3 is empty %}

                                    {% else %}
                                        {{ natureplainterecurrentebureau3[0].maximum }}
                                    {% endif %}
                                </td>
                            {% endfor %}

                        </tr>

                        <tr>
                            <td colspan="2" class="content">Nombre de plaintes traitées dans les délais </td>

                            {% for nombreplaintetraitedelaisbureau in nombreplaintetraitedelaisbureau %}
                                <td class="content">
                                    {% if nombreplaintetraitedelaisbureau is null %}
                                        0
                                    {% else %}
                                        {{ nombreplaintetraitedelaisbureau.nbre }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td colspan="2" class="content">Nombre de plaintes relatives aux chefs des points de services</td>

                            {% for nombreplainterelativechefagencebureau in nombreplainterelativechefagencebureau %}
                                <td class="content">
                                    {% if nombreplainterelativechefagencebureau is null %}
                                    {% else %}
                                        {{ nombreplainterelativechefagencebureau.nbre }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td colspan="2" class="content">Nombre de plaintes relatives aux caissières</td>
                            {% for nombreplainterelativecaissierebureau in nombreplainterelativecaissierebureau %}
                                <td class="content">
                                    {% if nombreplainterelativecaissierebureau is null %}
                                    {% else %}
                                        {{ nombreplainterelativecaissierebureau.nbre }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td colspan="2" class="content">Nombre de plaintes relatives aux agents de crédit</td>
                            {% for nombreplainterelativeagentcreditbureau in nombreplainterelativeagentcreditbureau %}
                                <td class="content">
                                    {% if nombreplainterelativeagentcreditbureau is null %}
                                    {% else %}
                                        {{ nombreplainterelativeagentcreditbureau.nbre }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td colspan="2" class="content"> Nombre de plaintes relatives à l’accueil/ secrétariat</td>
                            {% for nombreplainterelativeagentaccueilbureau in nombreplainterelativeagentaccueilbureau %}
                                <td class="content">
                                    {% if nombreplainterelativeagentaccueilbureau is null %}
                                    {% else %}
                                        {{ nombreplainterelativeagentaccueilbureau.nbre }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td colspan="2" style="border:0px solid #ccc !important"><h4></h4></td>

                            <td style="border:0px solid #ccc !important">

                            </td>

                        </tr>

                        </tbody>

                    </table>


        <div>
            <h5 style="font-weight: bold; padding-top: 20px; padding-bottom: 20px;">Graphiques</h5>
        </div>
        <table>
        <tr>
            <td>
                <img id="companyLogo" src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset('uploads/graphique/linear.png') }}" class="" style="width:500px; height: auto" title="">
            </td>
            <td>
                <img id="companyLogo" src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset('uploads/graphique/pie.png') }}" class="" style="width:500px; height: auto" title="">
            </td>
        </tr>
    </table>


    <table style='width: 100%; border: 1px solid #ccc'>

        <tr>
            <td style="border:1px solid #ccc; height: 180px; width:50%;">
                <div style="font-weight: bold; padding-bottom:5px; text-decoration: underline">Motifs de retard dans le traitement des plaintes :</div>
                <textarea rows="9" cols="62" style="width: 100%;max-height: 170px;border: none;">{{ commentaire1 }}</textarea>
            </td>

            <td style="border:1px solid #ccc; height: 180px; width:50%;">
                <div style="font-weight: bold; padding-bottom:5px; text-decoration: underline">Commentaires / Synthese generale :</div>
                <textarea rows="9" cols="62" style="width: 100%;max-height: 170px;border: none;">{{ commentaire2 }}</textarea>
            </td>


        </tr>

    </table>



    {#{% if etat==2 %}#}



    {#{% endif %}#}

</page>

