{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ "Report" | trans }}{% endblock %}

{% block corps %}
   {#<div style='text-align: center; margin: 30px'>#}
      {# <a href='{{path('ajout_compte_bilan')}}' class='btn btn-default btn-lg'><i class="fa fa-columns fa-3x"></i>Ajouter</a>
    <a href='{{path('list_compte_bceao')}}' class='btn btn-default btn-lg'><i class="fa fa-columns fa-3x"></i>Liste</a>
{#&#35;&#125;    </div>#}

 <script type="text/javascript" src="{{asset('assets/js/mootools.js')}}"></script>
<script type="text/javascript" src="{{asset('assets/js/mootoolsadapter.js')}}"></script>
{#<script type="text/javascript" src="{{asset('assets/js/hightchart.js')}}"></script>#}
{#<script type="text/javascript" src="{{asset('assets/js/exporting.js')}}"></script>#}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script type="text/javascript">
    {{ chart(graphe, 'mootools') }}
    {{ chart(graphe2, 'mootools') }}

</script>

{#<div id="container4" style="height: 300px; margin-top: 1em"></div>#}


<div class="col-md-12 borderStyle">
    <div class="row" style="margin-bottom: 40px">
        <div class="col-md-2" style="border: 1px solid #ccc; height: 100px">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% if app.user.agent is not null%}
                        {% if app.user.agent.service.institution.webPath is not null  %}
                            <img src="{{ asset(app.user.agent.service.institution.webPath) }}" class="" style="width: 180px; height: 100px; margin-left: -16px;" title="">
                        {% endif %}
            {% endif %}
                    {% endif %}
        </div>
        <div class="col-md-10">
            <div style="text-align: center">
                <h1><span>{{ 'Rapport Gestion des plaintes des clients'|trans }}</span></h1>
                <h4> {{ 'Période du'|trans }} {{ periode }}</h4></div>
        </div>


    </div>
{% if etat==1 %}

    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            {#<span><a href="{{ path('gplainte_edit_rapport_pdf',{'periode':periode,'etat':etat}) }}" style="color:#000">imprimer</a> </span>#}
            <form action="{{ path("gplainte_create_file_svg")}}" id="svgForm00" method="post" class="form-inline" name="svgForm" style="margin-bottom: -30px">
                <input type="text" name="inputSvg" id="inputSvg">
                <input type="text" name="inputSvg2" id="inputSvg2">
                <input type="text" name="periode" id="periode" value="{{ periode }}">
                <input type="text" name="etat" id="etat" value="{{ etat }}">
                <input type="text" name="motif_retard2" id="motif_retard2">
                <input type="text" name="motif_synthese_generale2" id="motif_synthese_generale2">
                <button name="imprimer" type="submit" style="background: transparent; border: none;">
                    <img id="" src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset('assets/img/pdf.png') }}" class="" style="height: 80px" title="">
                </button>
                {#<input type="submit" value="ok">#}
            </form>
            <div id="reponse"></div>
        </div>
    </div>

    <div class="col-md-12"><h3 style="font-weight: bold">1. {{ 'Rappels'|trans}}</h3></div>
    <div class="col-md-12">
        <table style='width: 100%;' class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="content">{{ 'Objectifs'|trans}}</th>
                <th class="content">{{ 'Indicateurs'|trans}}</th>
                <th class="content">{{ 'Normes'|trans}}</th>
                {#<th class="content">Valeurs</th>#}
            </tr>
            </thead>
            <tbody>
            {% for objectif in objectif %}
                <tr>
                    <td style='width:50%;' class="content">
                        {{ objectif.objectifindicateur.libelle }}
                    </td>
                    <td style='width:35%;' class="content">{{ objectif.libelle }}</td>
                    <td style='width:15%;' class="content">{{ objectif.normeOp }} {{ objectif.normeVal }} {{ objectif.normeUnite }}</td>
                    {#<td style='width:15%;' class="content">{{ objectif.normeVal }}</td>#}

                </tr>
            {% endfor %}

            </tbody>

        </table>
    </div>

    <div class="col-md-12"><h3 style="font-weight: bold">2. {{ 'Données générales sur le réseau'|trans }}</h3></div>

<div class="col-md-12">

    <table style="width: 100%" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th colspan="2">{{ 'Libellé'|trans }}</th>

            <th>{{ 'Valeur'|trans }}</th>
        </tr>

        </thead>
        <tbody>
        <tr>
            <td colspan="2">
                <h4>{{ 'Taux de satisfaction des clients'|trans }}</h4>

            </td>

            <td>
                {#{% for nbreclientsatisfait in nbreclientsatisfait %}#}
                <div class="">
                    {% if nbreclientsatisfait is null %}
                    {% else %}
                        <div class="">
                            {{ nbreclientsatisfait.valeur }} %
                        </div>
                    {% endif %}
                </div>
                {#{% endfor %}#}
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <h4>{{ 'Taux de resolution des plaintes ordinaires'|trans }}</h4>

            </td>

            <td>
                {#{% for nbreclientsatisfait in nbreclientsatisfait %}#}
                <div class="">
                    {% if tauxResolutionPlainteOrdinaire is null %}
                    {% else %}
                        <div class="">
                            {{ tauxResolutionPlainteOrdinaire.valeur}} %
                        </div>
                    {% endif %}
                </div>
                {#{% endfor %}#}
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <h4>{{ 'Taux de resolution des plaintes sensibles'|trans }}</h4>

            </td>

            <td>
                {#{% for nbreclientsatisfait in nbreclientsatisfait %}#}
                <div class="">
                    {% if tauxResolutionPlainteSensible is null %}
                    {% else %}
                        <div class="">
                            {{ tauxResolutionPlainteSensible.valeur}} %
                        </div>
                    {% endif %}
                </div>
                {#{% endfor %}#}
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <h4>{{ 'Fréquence de reception des plaintes'|trans }}</h4>

            </td>
            <td>
                {{ frequencereceptionplainte[0].nbre }}
            </td>
        </tr>

        <tr>
            <td colspan="2"><h4>{{ 'Nombre de plaintes reçues'|trans }}</h4></td>
            <td>{{ nbreplainterecuG.nbre }}</td>
        </tr>

        <tr>
            <td colspan="2"><h4>{{ 'Nombre de plaintes traitées'|trans }}</h4></td>
            <td>{{ nbreplaintetraite.nbre }}</td>
        </tr>

        <tr>
            <td colspan="2"><h4>{{ 'Nombre de plaintes non traitées'|trans }}</h4></td>
            <td>{{ nombreplainterestesanstraitement.nbre }}</td>
        </tr>

        <tr>
            <td colspan="2"><h4>{{ 'Nombre de plaintes traitées dans les delais'|trans }}</h4>
            </td>
            <td>{{ nombreplaintetraitedelais.nbre }}</td>
        </tr>

        <tr>
            <td colspan="2"><h4>{{ 'Nombre de plaintes traitées en retard'|trans }}</h4></td>
            <td>{{ nombreplaintetraiteenretard.nbre }}</td>
        </tr>

        <tr>
            <td rowspan="3"><h4>{{ 'Nature des plaintes les plus récurrentes'|trans }}</h4>

            </td>
            <td> {{ '1er'|trans }}</td>
            <td>
                {% if natureplainterecurrente1 is empty %}

                {% else %}
                    {{ natureplainterecurrente1[0].maximum }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{{ '2eme'|trans }}</td>
            <td>
                {% if natureplainterecurrente2 is empty %}

                {% else %}
                    {{ natureplainterecurrente2[0].maximum }}
                {% endif %}
                </td>
        </tr>
        <tr>
            <td>{{ '3eme'|trans }}</td>
            <td>
                {% if natureplainterecurrente3 is empty %}

                {% else %}
                    {{ natureplainterecurrente3[0].maximum }}
                {% endif %}
                </td>
        </tr>

        <tr>
            <td colspan="2"><h4>{{ 'Nombre de plaintes relatives aux chefs des points de services'|trans }}</h4></td>
            <td>{{ nbreplainterelativechefagence.nbre }}</td>
        </tr>

        <tr>
            <td colspan="2"><h4>{{ 'Nombre de plaintes relatives aux caissières'|trans }}</h4></td>
            <td>{{ nbreplainterelativecaissiere.nbre }}</td>
        </tr>

        <tr>
            <td colspan="2"><h4>{{ 'Nombre de plaintes relatives aux agents de crédit'|trans }}</h4></td>
            <td>{{ nbreplainterelativeagentcredit.nbre }}</td>
        </tr>

        <tr>
            <td colspan="2"><h4> {{ 'Nombre de plaintes relatives à l\'accueil/ secrétariat'|trans }}</h4></td>
            <td>{{ nbreplainterelativeagentaccueil.nbre }}</td>
        </tr>

        <tr>
            <td colspan="2"><h4> {{ 'Nombre de plaintes relatives à d\'autres agents'|trans }}</h4></td>
            <td>{{ nbreplainterelativeautreagent.nbre }}</td>
        </tr>

        <tr>
            <td colspan="2"><h4>{{ 'Nombre de plaintes reçues d\'anciens clients'|trans }}</h4></td>
            <td>{{ nbreplainteclientancien.nbre }}</td>
        </tr>

        <tr>
            <td colspan="2"><h4>{{ 'Nombre de plaintes reçues de nouveaux clients (moins d\'un an)'|trans }}</h4></td>
            <td>{{ nbreplainterecuperiodeunan.nbre }}</td>
        </tr>

        <tr>
            <td colspan="2"><h4>{{ 'Nombre de clients appelés après traitement'|trans }}</h4></td>
            <td>{{ nbrenotification.nbre }}</td>
        </tr>

        <tr>
            <td colspan="2"><h4>{{ 'Nombre de clients insatisfaits ayant reformulé leur plainte'|trans }}</h4></td>
            <td>{{ nombrePlainteInsatisfait.nbre }}</td>
        </tr>

        <tr>
            <td colspan="2"><h4>{{ 'Service le plus indexé dans les plaintes reçues'|trans }}</h4></td>
            <td>
                {% if serviceleplusindexes is empty %}

                {% else %}
                    {{ serviceleplusindexes[0].maximum }}
                {% endif %}

            </td>
        </tr>

        <tr>
            <td colspan="2"><h4>{{ 'Service le plus sollicité pour le traitement des plaintes'|trans }}</h4></td>
            <td>{% if serviceleplussollicite is null %}
                {% else %}
                    {{ serviceleplussollicite[0].maximum }}
                {% endif %}
            </td>
        </tr>
        {#<tr>#}
            {#<td colspan="2"><h4>{{ 'Nombre de plaintes non satisfaite à défaut d\'information'|trans}}</h4></td>#}
            {#<td>#}
                {#19%#}
            {#</td>#}

        {#</tr>#}
        </tbody>
    </table>


    <div class="col-md-6">
        <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </div>

    <div class="col-md-6">
        <div id="pie" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </div>


    <div class="col-md-12" style="border:1px solid #ccc; height: 200px">
        <span style="font-weight: bold; text-decoration: underline">{{ 'Motifs de retard dans le traitement des plaintes'|trans }}</span> :
        <textarea name="motif_retard" id="motif_retard" rows="8" style="width: 100%;max-height: 170px;border: none;"></textarea>
    </div>

    <div class="col-md-12" style="border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; height: 200px">
        <span style="font-weight: bold; text-decoration: underline">{{ 'Commentaires / Synthèse générale'|trans }}</span> :
        <textarea name="motif_synthese_generale" id="motif_synthese_generale" rows="8" style="width: 100%;height: 170px;border: none;"></textarea>

    </div>
</div>
{% elseif etat==2 %}


    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            {#<span><a href="{{ path('gplainte_edit_rapport_pdf',{'periode':periode,'etat':etat}) }}" style="color:#000">imprimer</a> </span>#}
            <form action="{{ path("gplainte_create_file_svg")}}" id="svgForm00" method="post" class="form-inline" name="svgForm" style="margin-bottom: -30px">
                <input type="text" name="inputSvg" id="inputSvg">
                <input type="text" name="inputSvg2" id="inputSvg2">
                <input type="text" name="periode" id="periode" value="{{ periode }}">
                <input type="text" name="etat" id="etat" value="{{ etat }}">
                <input type="text" name="motif_retard2" id="motif_retard2" value="">
                <input type="text" name="motif_synthese_generale2" id="motif_synthese_generale2" value="">
                <input type="text" name="bureau" id="bureau" value="{{ bureauxid }}">
                {#<select name="bureau[]" multiple>#}
                    {#{% for bureauxid in bureauxid %}#}
                        {#<option value="{{ bureauxid.bureauid }}">#}
                            {#{{ bureauxid.bureauid }}#}
                        {#</option>#}
                    {#{% endfor %}#}
                {#</select>#}

                <button name="imprimer" type="submit" style="background: transparent; border: none;">
                    <img id="" src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset('assets/img/pdf.png') }}" class="" style="height: 80px" title="">
                </button>
                {#<input type="submit" value="ok">#}
            </form>
            <div id="reponse"></div>
        </div>
    </div>


    <div class="col-md-12"><h3 style="font-weight: bold">1. {{ 'Rappels'|trans }}</h3></div>
    <div class="col-md-12">
        <table style='width: 100%;' class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="content">{{ 'Objectifs'|trans}}</th>
                <th class="content">{{ 'Indicateurs'|trans}}</th>
                <th class="content">{{ 'Normes'|trans}}</th>
                {#<th class="content">Valeurs</th>#}
            </tr>
            </thead>
            <tbody>
            {% for objectif in objectif %}
                <tr>
                    <td style='width:50%;' class="content">
                        {{ objectif.objectifindicateur.libelle }}
                    </td>
                    <td style='width:35%;' class="content">{{ objectif.libelle }}</td>
                    <td style='width:15%;' class="content">{{ objectif.normeOp }} {{ objectif.normeVal }} {{ objectif.normeUnite }}</td>
                    {#<td style='width:15%;' class="content">{{ objectif.normeVal }}</td>#}

                </tr>
            {% endfor %}

            </tbody>

        </table>
    </div>



    <div class="col-md-12"><h3 style="font-weight: bold">2.	{{ 'Données spécifiques aux points de service'|trans}}</h3></div>

    <div class="col-md-12">
        <table style="width: 100%" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th colspan="2" rowspan="2" style="padding: 40px 250px">{{ 'Libellé'|trans}}</th>

                <th colspan="{{ nbrebureaux }}" style="text-align: center">{{ 'Points de service'|trans}}</th>
            </tr>
            <tr>

                {% for bureaux in bureaux %}
                    <th>
                        {{ bureaux.bureau }}
                    </th>

                {% endfor %}
            </tr>

            </thead>
            <tbody>
            <tr>
                <td rowspan="7" style="padding: 90px 40px">
                    <h4>{{ 'Objet des plaintes reçues'|trans}} </h4>

                </td>
                <td>
                    {{ 'Activités non financées'|trans}}
                </td>

                    {% for nbreplainteactivitenonfinance in nbreplainteactivitenonfinance %}
                <td>
                        {% if nbreplainteactivitenonfinance is null %}
                        {% else %}
                            {{ nbreplainteactivitenonfinance[0].nbre }}
                        {% endif %}
                </td>
                    {% endfor %}

            </tr>

            <tr>
                <td>
                    {{ 'Geste déplacé'|trans}}
                </td>

                {% for nbreplaintegestedeplace in nbreplaintegestedeplace %}
                    <td>
                        {% if nbreplaintegestedeplace is null %}
                        {% else %}
                            {{ nbreplaintegestedeplace[0].nbre }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>
                    {{ 'Harcèlement'|trans}}
                </td>

                {% for nbreplainteharcelement in nbreplainteharcelement %}
                    <td>
                        {% if nbreplainteharcelement is null %}
                        {% else %}
                            {{ nbreplainteharcelement[0].nbre }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>
                    {{ 'Intérêts mal calculés'|trans}}
                </td>

                {% for nbreplainteinteretmalcalcule in nbreplainteinteretmalcalcule %}
                    <td>
                        {% if nbreplainteinteretmalcalcule is null %}
                        {% else %}
                            {{ nbreplainteinteretmalcalcule[0].nbre }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>
                    {{ 'Tracasseries administratives'|trans}}
                </td>

                {% for nbreplaintetracesserieadministrative in nbreplaintetracesserieadministrative %}
                    <td>
                        {% if nbreplaintetracesserieadministrative is null %}
                        {% else %}
                            {{ nbreplaintetracesserieadministrative[0].nbre }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>
                    {{ 'Ecart de langage'|trans}}
                </td>

                {% for nbreplainteecartdelangage in nbreplainteecartdelangage %}
                    <td>
                        {% if nbreplainteecartdelangage is null %}
                        {% else %}
                            {{ nbreplainteecartdelangage[0].nbre }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>
                    {{ 'Total plaintes reçues'|trans}}
                </td>


                {% for nbreplainterecu in nbreplainterecu %}
                    <td>
                        {% if nbreplainterecu is null %}
                        {% else %}
                            {{ nbreplainterecu.nbre }}
                        {% endif %}
                    </td>
                {% endfor %}

            </tr>
            <tr>
            <td colspan="2">
                <h4>{{ 'Fréquence de réception des plaintes'|trans}}</h4>
            </td>


            {% for frequencereceptionplaintebureau in frequencereceptionplaintebureau %}
                <td>
                    {% if frequencereceptionplaintebureau is null %}
                    {% else %}
                        {{ frequencereceptionplaintebureau[0].nbre }}
                    {% endif %}
                </td>
            {% endfor %}

            </tr>
            <tr>
            <td colspan="2">
                <h4>{{ 'Taux de satisfaction'|trans}}</h4>
            </td>


            {% for nbreclientsatisfaitbureau in nbreclientsatisfaitbureau %}
                <td>
                    {% if nbreclientsatisfaitbureau is null %}
                        0
                    {% else %}
                        {{ nbreclientsatisfaitbureau.valeur }} %
                    {% endif %}
                </td>
            {% endfor %}

            </tr>


            <tr>
                <td colspan="2">
                    <h4>{{ 'Taux de resolution des plaintes ordinaires'|trans}}</h4>
                </td>


                {% for tauxResolutionPlainteOrdinaire in tauxResolutionPlainteOrdinaire %}
                    <td>
                        {% if tauxResolutionPlainteOrdinaire is null %}
                            0
                        {% else %}
                            {{ tauxResolutionPlainteOrdinaire.valeur }} %
                        {% endif %}
                    </td>
                {% endfor %}

            </tr>


            <tr>
                <td colspan="2">
                    <h4>{{ 'Taux de resolution des plaintes sensible'|trans}}</h4>
                </td>


                {% for tauxResolutionPlainteSensible in tauxResolutionPlainteSensible %}
                    <td>
                        {% if tauxResolutionPlainteSensible is null %}
                            0
                        {% else %}
                            {{ tauxResolutionPlainteSensible.valeur }} %
                        {% endif %}
                    </td>
                {% endfor %}

            </tr>



            <tr>
                <td colspan="2"><h4>{{ 'Nature des plaintes reçues'|trans}}</h4></td>
                {% for key, nature in nature %}
                <td>
                {% if nature[key].ch is not defined %}
                {% else %}
                    {{ nature[key].ch }}
                {% endif %}
                </td>
                {% endfor %}
            </tr>

            <tr>
                <td colspan="2"><h4>{{ 'Nombre de plaintes reçues'|trans}}</h4></td>
                {% for nombreplainterecuegbureau in nombreplainterecuegbureau %}
                    <td>
                        {% if nombreplainterecuegbureau is null %}
                            0
                        {% else %}
                            {{ nombreplainterecuegbureau.nbre }}
                        {% endif %}
                    </td>
                {% endfor %}

            </tr>

            <tr>
                <td colspan="2"><h4>{{ 'Nombre de plaintes traitées'|trans}}</h4></td>
                {% for nombreplaintetraitebureau in nombreplaintetraitebureau %}
                    <td>
                        {% if nombreplaintetraitebureau is null %}
                            0
                        {% else %}
                            {{ nombreplaintetraitebureau.nbre }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td colspan="2"><h4>{{ 'Nombre de plaintes non traitées'|trans}}</h4></td>

                {% for nombreplainterestesanstraitementbureau in nombreplainterestesanstraitementbureau %}
                    <td>
                        {% if nombreplainterestesanstraitementbureau is null %}
                            0
                        {% else %}
                            {{ nombreplainterestesanstraitementbureau.nbre }}
                        {% endif %}
                    </td>
                {% endfor %}

            </tr>

            <tr>
                <td colspan="2"><h4>{{ 'Nombre de plaintes traitées dans les délais'|trans}}</h4>
                </td>

                {% for nombreplaintetraitedelaisbureau in nombreplaintetraitedelaisbureau %}
                    <td>
                        {% if nombreplaintetraitedelaisbureau is null %}
                            0
                        {% else %}
                            {{ nombreplaintetraitedelaisbureau.nbre }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td colspan="2"><h4>{{ 'Nombre de plaintes traitées en retard'|trans}}</h4></td>

                {% for nombreplaintetraiteenretardbureau in nombreplaintetraiteenretardbureau %}
                    <td>
                        {% if nombreplaintetraiteenretardbureau is null %}
                            0
                        {% else %}
                            {{ nombreplaintetraiteenretardbureau.nbre }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td rowspan="3"><h4>{{ 'Nature des plaintes les plus récurrentes'|trans}}</h4>

                </td>
                <td> {{'1er'|trans}}</td>
                {% for key, natureplainterecurrentebureau1 in natureplainterecurrentebureau1 %}
                    <td>

                        {% if natureplainterecurrentebureau1 is empty %}

                        {% else %}
                            {{ natureplainterecurrentebureau1[0].maximum }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ '2eme'|trans}}</td>
                {% for natureplainterecurrentebureau2 in natureplainterecurrentebureau2 %}
                    <td>
                        {% if natureplainterecurrentebureau2 is empty %}

                        {% else %}
                            {{ natureplainterecurrentebureau2[0].maximum }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ '3eme'|trans}}</td>

                {% for natureplainterecurrentebureau3 in natureplainterecurrentebureau3 %}
                    <td>
                        {% if natureplainterecurrentebureau3 is empty %}

                        {% else %}
                            {{ natureplainterecurrentebureau3[0].maximum }}
                        {% endif %}
                    </td>
                {% endfor %}

            </tr>

            <tr>
                <td colspan="2"><h4>{{ 'Nombre de plaintes relatives aux chefs des points de services'|trans}}</h4></td>

                {% for nombreplainterelativechefagencebureau in nombreplainterelativechefagencebureau %}
                <td>
                {% if nombreplainterelativechefagencebureau is null %}
                {% else %}
                {{ nombreplainterelativechefagencebureau.nbre }}
                {% endif %}
                </td>
                {% endfor %}
            </tr>

            <tr>
                <td colspan="2"><h4>{{ 'Nombre de plaintes relatives aux caissières'|trans}}</h4></td>
                {% for nombreplainterelativecaissierebureau in nombreplainterelativecaissierebureau %}
                    <td>
                        {% if nombreplainterelativecaissierebureau is null %}
                        {% else %}
                            {{ nombreplainterelativecaissierebureau.nbre }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td colspan="2"><h4>{{ 'Nombre de plaintes relatives aux agents de crédit'|trans}}</h4></td>
                {% for nombreplainterelativeagentcreditbureau in nombreplainterelativeagentcreditbureau %}
                    <td>
                        {% if nombreplainterelativeagentcreditbureau is null %}
                        {% else %}
                            {{ nombreplainterelativeagentcreditbureau.nbre }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td colspan="2"><h4> {{ 'Nombre de plaintes relatives à l\'accueil/ secrétariat'|trans}}</h4></td>
                {% for nombreplainterelativeagentaccueilbureau in nombreplainterelativeagentaccueilbureau %}
                    <td>
                        {% if nombreplainterelativeagentaccueilbureau is null %}
                        {% else %}
                            {{ nombreplainterelativeagentaccueilbureau.nbre }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td colspan="2"><h4> {{ 'Nombre de plaintes relatives à d\'autres agents'|trans}}</h4></td>
                {% for nombreplainterelativeautresagentbureau in nombreplainterelativeautresagentbureau %}
                    <td>
                        {% if nombreplainterelativeautresagentbureau is null %}
                        {% else %}
                            {{ nombreplainterelativeautresagentbureau.nbre }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td colspan="2"><h4>{{ 'Nombre de plaintes reçues d\'anciens clients'|trans}}</h4></td>
                {% for nombreplainterecuperiodeancienclientbureau in nombreplainterecuperiodeancienclientbureau %}
                    <td>
                        {% if nombreplainterecuperiodeancienclientbureau is null %}
                        {% else %}
                            {{ nombreplainterecuperiodeancienclientbureau.nbre }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td colspan="2"><h4>{{ 'Nombre de plaintes reçues de nouveaux clients (moins d\'un an)'|trans}}</h4></td>
                {% for nombreplainterecuperiodeunanbureau in nombreplainterecuperiodeunanbureau %}
                    <td>
                        {% if nombreplainterecuperiodeunanbureau is null %}
                        {% else %}
                            {{ nombreplainterecuperiodeunanbureau.nbre }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td colspan="2"><h4>{{ 'Nombre de clients appelés après traitement'|trans}}</h4></td>
                {% for nombrenotificationbureau in nombrenotificationbureau %}
                    <td>
                        {% if nombrenotificationbureau is null %}
                        {% else %}
                            {{ nombrenotificationbureau.nbre }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td colspan="2"><h4>{{ 'Nombre de clients insatisfaits ayant reformulé leur plainte'|trans}}</h4></td>
                {% for nombreplainteinsatisfaitbureau in nombreplainteinsatisfaitbureau %}
                    <td>
                        {% if nombreplainteinsatisfaitbureau is null %}
                        {% else %}
                            {{ nombreplainteinsatisfaitbureau.nbre }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td colspan="2"><h4>{{ 'Service le plus indexé dans les plaintes reçues'|trans}}</h4></td>

                {% for servicesplusindexesbureau in servicesplusindexesbureau %}
                    <td>
                        {% if servicesplusindexesbureau is null %}

                        {% else %}
                            {{ servicesplusindexesbureau.maximum }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td colspan="2"><h4>{{ 'Service le plus sollicité pour le traitement des plaintes'|trans}}</h4></td>

                {% for servicesplussollicitesbureau in servicesplussollicitesbureau %}
                    <td>
                        {% if servicesplussollicitesbureau is empty %}

                        {% else %}
                            {{ servicesplussollicitesbureau[0].maximum }}
                        {% endif %}
                    </td>

                {% endfor %}

            </tr>

            <tr>
                <td colspan="2"><h4>{{ 'Nombre de plaintes non satisfaite à défaut d\'information'|trans}}</h4></td>
                <td>
                    19%
                </td>

            </tr>



            </tbody>
        </table>


        <div class="col-md-6">
            <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
        </div>

        <div class="col-md-6">
            <div id="pie" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
        </div>



        <div class="col-md-12" style="border:1px solid #ccc; height: 200px">
            <span style="font-weight: bold; text-decoration: underline">{{ 'Motifs de retard'|trans}}</span> :
            <textarea name="motif_retard" id="motif_retard" rows="8" style="width: 100%;height: 170px;border: none;"></textarea>

        </div>

        <div class="col-md-12" style="border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; height: 200px">
            <span style="font-weight: bold; text-decoration: underline">{{ 'Mesures correctives mises en place'|trans}}</span> :
            <textarea name="motif_synthese_generale" id="motif_synthese_generale" rows="8" style="width: 100%;height: 170px;border: none;"></textarea>

        </div>

        <div class="col-md-12" style="border:1px solid #ccc; height: 200px">
            <span style="font-weight: bold; text-decoration: underline">{{ 'Mesures préventives identifiées (spécifiques à certains points de service et pour l’ensemble du réseau)'|trans}}</span> :
        </div>

        <div class="col-md-12" style="border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; height: 200px">
            <span style="font-weight: bold; text-decoration: underline">{{ 'Analyse et propositions'|trans}}</span> :
        </div>


    </div>



{% endif %}





{#    <button id="button">View SVG</button>#}

    <script type="text/javascript">

            $(window).load(function(){
                var signature='<?xml version="1.0" encoding="utf-8" standalone="no"?>';
                var chart = $('#linechart').highcharts();
                svg = chart.getSVG();
                var chart2 = $('#pie').highcharts();
                svg2 = chart2.getSVG();
                $('#inputSvg').val(signature+svg);
                $('#inputSvg2').val(signature+svg2);

            });

            $('#motif_retard').keyup(function(e){
                $('#motif_retard2').val($('#motif_retard').val());
            });
            $('#motif_synthese_generale').keyup(function(e){
                $('#motif_synthese_generale2').val($('#motif_synthese_generale').val());
            });

    $("#svgForm").submit(function(e){
        e.preventDefault();
        var donnees= $(this).serialize();
{#        alert(donnees);#}
        $.ajax({
            url: '{{ path("gplainte_create_file_svg")}}',
            type: "POST",
            data: donnees,
            dataType:"html",
            cache: false,
            success: function(data){
               $('#reponse').html(data);
            }
        });
});


    </script>


{% if etat==3 %}
    <div class="alert-warning" style="font-size: 40px">{{ 'Veuillez selectionner un bureau' | trans }}</div>
{% endif %}



</div>

{% endblock %}
