<link href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('assets/css/print.css') }}" rel="stylesheet" type="text/css" />
<style type="text/css" media="print">
    .content {
        padding: 5px;
        /*vertical-align: middle;*/
    }
    textarea {

    }
</style>
    {#</head>#}
{#<body>#}
<page backtop="40mm" backbottom="5mm" backleft="0mm" backright="0mm">
    <page_header>

        <table style="width: 100%;">
            <tr>
                <td style="text-align: left; width: 30%">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if app.user.agent is not null%}
							<img src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset(app.user.agent.service.institution.webPath) }}" class="" style="width: auto; height: 100px;" title="">
                    {% endif %}
                    {% endif %}
                </td>
                <td style="width: 40%">
                    <h3><span>{{ 'Rapport Gestion des plaintes des clients'|trans}}</span></h3>
                    <h4> {{ 'Période du'|trans }} {{ periode }}</h4>
                </td>

                <td style="width: 30%; text-align: right;">
				
                   <img id="companyLogo" src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset('assets/img/logo2.jpg') }}" class="" style="width:150px; height: 80px" title="">
                  {#  <img id="companyLogo" src="http://localhost/satis/web/uploads/graphique/Blank_US_Map.png" class="" style="width:150px; height: 80px" title="">                   #}
                </td>
            </tr>
        </table>

    </page_header>
    <page_footer>
        <table style="width: 100%;">
            <tr>
                <td style="text-align: left;    width: 50%">{{ 'Généré par SATIS le'|trans}} {{ now }}</td>
                <td style="text-align: right;    width: 50%">page [[page_cu]]/[[page_nb]]</td>
            </tr>
        </table>
    </page_footer>

                {#<table style='width: 100%;'>#}
                    {#<tr>#}
                        {#<td style='width:45%;'>#}
{#                            tableau 1 premiere colonne#}
                            {#<div style="width:100%;">#}
                            <h5 style="font-weight: bold;">{{ 'Rappels'|trans}}</h5>
                            <table style='width: 100%;' class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="content">{{ 'Objectifs'|trans}}</th>
                                        <th class="content">{{ 'Indicateurs'|trans}}</th>
                                        <th class="content">{{ 'Normes'|trans}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for objectif in objectifs %}
                                    <tr>
                                        <td style='width:50%;' class="content">
                                            {{ objectif.objectifindicateur.libelle }}
                                        </td>
                                        <td style='width:35%;' class="content">{{ objectif.libelle }}</td>
                                        <td style='width:15%;' class="content">{{ objectif.normeOp }} {{ objectif.normeVal }} {{ objectif.normeUnite }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>

                            </table>
                            {#</div>#}
                            {#<div style="width:89%;">#}

                                <h5 style="padding-top: 20px; font-weight: bold; padding-bottom: 20px">{{ 'Données générales sur le réseau'|trans}}</h5>
                                <table style='width: 100%;' class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th style="width: 25%;" class="content">{{ 'Libellés'|trans}}</th>
                                        <th colspan="2" style="width: 15%" class="content">{{ 'Valeurs'|trans}}</th>
                                        {#<td style="width: 10%"></td>#}
                                        <th style="width: 35%;" class="content">{{ 'Libellés'|trans}}</th>
                                        <th style="width:15%;" class="content">{{ 'Valeurs'|trans}}  </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {#<tr>#}
                                        {#<td class="content">Libellé</td>#}
                                        {#<td colspan="2"  class="content">Valeur</td>#}
                                        {#<td></td>#}
                                        {#<td  class="content">Libellé</td>#}
                                        {#<td colspan="2" class="content">Valeur  </td>#}
                                        {#<td ></td>#}
                                    {#</tr>#}
                                    <tr>
                                        <td style="width: 25%;" class="content">
                                            {{ 'Taux de satisfaction des clients'|trans}}
                                        </td>
                                        <td colspan="2" style="width: 15%">
                                            <div class="content">
                                                {% if nbreclientsatisfait is null %}
                                                {% else %}
                                                    <div class="">
                                                        {{ nbreclientsatisfait.valeur | number_format(2,'.',' ') }} %
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </td>

                                        <td style="width: 35%;" class="content">
                                            {{ 'Taux de resolution des plaintes ordinaires'|trans}}
                                        </td>
                                        <td style="width: 15%" class="content">
                                                {% if tauxresolutionplainteordinaire is null %}
                                                {% else %}
                                                        {{ tauxresolutionplainteordinaire.valeur | number_format(2,'.',' ') }} %
                                                {% endif %}
                                        </td>

                                        {#<td style="width: 10%"></td>#}

                                    </tr>

                                    <tr>

                                        <td style="width: 25%;" class="content">
                                            {{ 'Taux de resolution des plaintes sensibles'|trans}}
                                        </td>
                                        <td colspan="2" style="width: 15%">
                                            <div class="content">
                                                {% if tauxresolutionplaintesensible is null %}
                                                {% else %}
                                                    <div class="">
                                                        {{ tauxresolutionplaintesensible.valeur | number_format(2,'.',' ') }} %
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </td>

                                        {#<td style="width: 10%"></td>#}

                                        <td  class="content" style="width: 35%;">
                                            {{ 'Nombre de plaintes relatives aux caissières'|trans}}
                                        </td>
                                        <td style="width:15%;" class="content">{{ nbreplainterelativecaissiere.nbre }}</td>


                                    </tr>


                                    <tr>
                                        <td class="content" style="width: 25%;">
                                            {{ 'Fréquence de reception des plaintes'|trans}}
                                        </td>
                                        <td colspan="2" class="content" style="width: 15%;">
                                            {{ frequencereceptionplainte[0].nbre }}

                                        </td>
                                        {#<td style="width: 10%">#}
                                        {#</td>#}

                                        <td class="content" style="width: 35%;">
                                            {{ 'Nombre de plaintes relatives aux agents de crédit'|trans}}
                                        </td>
                                        <td  style="width: 15%;" class="content">{{ nbreplainterelativeagentcredit.nbre }}</td>


                                    </tr>

                                    <tr>
                                        <td class="content" style="width: 25%;">
                                            {{ 'Nombre de plaintes reçues'|trans}}
                                        </td>
                                        <td colspan="2" style="width: 15%;" class="content">{{ nbreplainterecuG.nbre }}</td>
                                        {#<td style="width: 10%"></td>#}


                                        <td class="content" style="width: 35%;">
                                            {{ 'Nombre de plaintes relatives à l\'accueil/ secrétariat'|trans}}
                                        </td>
                                        <td  style="width: 15%;" class="content">{{ nbreplainterelativeagentaccueil.nbre }}</td>

                                    </tr>

                                    <tr>
                                        <td class="content" style="width: 25%;">
                                            {{ 'Nombre de plaintes traitées'|trans}}
                                        </td>
                                        <td colspan="2" style="width: 15%;" class="content">{{ nbreplaintetraite.nbre }}</td>
                                        {#<td style="width: 10%"></td>#}


                                        <td class="content" style="width: 35%;">
                                            {{ 'Nombre de plaintes relatives à d’autres agents'|trans}}
                                        </td>
                                        <td style="width: 15%;" class="content">{{ nbreplainterelativeautreagent.nbre }}</td>

                                    </tr>

                                    <tr>
                                        <td class="content" style="width: 25%;">
                                            {{ 'Nombre de plaintes non traitées'|trans}}
                                        </td>
                                        <td colspan="2" style="width: 15%;" class="content">{{ nombreplainterestesanstraitement.nbre }}</td>
                                        {#<td style="width: 10%"></td>#}

                                        <td class="content" style="width: 35%;">
                                            {{ 'Nombre de plaintes reçues d’anciens clients'|trans}}
                                        </td>
                                        <td style="width: 15%;" class="content">{{ nbreplainteclientancien.nbre }}</td>

                                    </tr>

                                    <tr>
                                        <td class="content" style="width: 25%;">
                                            {{ 'Nombre de plaintes traitées dans les délais'|trans}}
                                        </td>
                                        <td colspan="2" class="content" style="width: 15%;">{{ nombreplaintetraitedelais.nbre }}</td>
                                        {#<td style="width: 10%"></td>#}

                                        <td class="content" style="width: 35%;">
                                            {{ 'Nombre de plaintes reçues de nouveaux clients (moins d\'un an)'|trans}}
                                        </td>
                                        <td style="width: 15%;" class="content">{{ nbreplainterecuperiodeunan.nbre }}</td>


                                    </tr>

                                    <tr>
                                        <td class="content" style="width: 25%;">
                                            {{ 'Nombre de plaintes traitées en retard'|trans}}
                                        </td>
                                        <td colspan="2" style="width:15%;" class="content">{{ nombreplaintetraiteenretard.nbre }}</td>
                                        {#<td style="width: 10%"></td>#}


                                        <td class="content" style="width: 35%;">
                                            {{ 'Nombre de clients appelés après traitement'|trans}}
                                        </td>
                                        <td style="width: 15%;" class="content">{{ nbrenotification.nbre }}</td>

                                    </tr>

                                    <tr>
                                        <td class="content" rowspan="3" style="width: 25%;">
                                            {{ 'Nature des plaintes les plus récurrentes'|trans}}
                                        </td>
                                        <td class="content" style="width: 5%;"> {{ '1er'|trans}}</td>
                                        <td class="content" style="width: 20%">
                                            {% if natureplainterecurrente1 is empty %}

                                            {% else %}
                                                {{ natureplainterecurrente1[0].maximum }}
                                            {% endif %}
                                        </td>

                                        <td class="content" style="width: 35%;">
                                            {{ 'Nombre de clients insatisfaits ayant reformulé leur plainte'|trans}}
                                        </td>
                                        <td  style="width: 15%;" class="content">{{ nombrePlainteInsatisfait.nbre }}</td>


                                    </tr>

                                    <tr>

                                        <td class="content" style="width: 5%;">{{ '2eme'|trans}}</td>
                                        <td class="content" style="width: 20%">
                                            {% if natureplainterecurrente2 is empty %}

                                            {% else %}
                                                {{ natureplainterecurrente2[0].maximum }}
                                            {% endif %}
                                        </td>

                                        <td class="content" style="width: 35%;">
                                            {{ 'Service le plus indexé dans les plaintes reçues'|trans}}
                                        </td>
                                        <td class="content" style="width: 15%;">
                                            {% if serviceleplusindexes is empty %}

                                            {% else %}
                                                {{ serviceleplusindexes[0].maximum }}
                                            {% endif %}
                                        </td>



                                    </tr>
                                    <tr>

                                        <td class="content" style="width: 5%;">{{ '3eme'|trans}}</td>
                                        <td class="content" style="width: 20%">
                                            {% if natureplainterecurrente3 is empty %}

                                            {% else %}
                                                {{ natureplainterecurrente3[0].maximum }}
                                            {% endif %}
                                        </td>


                                        <td  class="content" style="width: 35%;">
                                            {{ 'Nombre de plaintes relatives aux chefs des points de service'|trans}}
                                        </td>
                                        <td style="width: 15%;" class="content">{{ nbreplainterelativechefagence.nbre }}</td>

                                    </tr>

                                    <tr>
                                    <td colspan="2" style="border:0px solid #ccc !important"><h4></h4></td>

                                    <td style="border:0px solid #ccc !important">

                                    </td>

                                    </tr>

                                    {#<tr>#}
                                        {#<td colspan="2"><h4>{{ 'Taux des plaintes non satisfaite à défaut d\'information'|trans}}</h4></td>#}

                                        {#{% for servicesplussollicitesbureau in servicesplussollicitesbureau %}#}
                                            {#<td>#}
                                                {#{% if servicesplussollicitesbureau is empty %}#}

                                                {#{% else %}#}
                                                    {#{{ servicesplussollicitesbureau[0].maximum }}#}
                                                {#{% endif %}#}
                                            {#</td>#}

                                        {#{% endfor %}#}

                                    {#</tr>#}



                                    </tbody>

                                </table>



            <div>
                <h5 style="font-weight: bold; margin-top:15px">{{ 'Graphiques'|trans}}</h5>
            </div>
            <table>
                <tr>
                    <td>
                        <img id="companyLogo" src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset('uploads/graphique/linear.png') }}" class="" style="width:500px; height: auto" title="">
                    </td>
                    <td>
                        <img id="companyLogo" src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset('uploads/graphique/pie.png') }}" class="" style="width:500px; height: auto" title="">
                    </td>
                </tr>
            </table>


                <table style='width: 100%; border: 1px solid #ccc'>

                    <tr>
                        <td style="border:1px solid #ccc; height: 180px; width:50%;">
                           <div style="font-weight: bold; padding-bottom:5px; text-decoration: underline">{{ 'Motifs de retard dans le traitement des plaintes'|trans}} :</div>
                            <textarea rows="9" cols="62" style="width: 100%;max-height: 170px;border: none;">{{ commentaire1 }}</textarea>
                        </td>

                        <td style="border:1px solid #ccc; height: 180px; width:50%;">
                            <div style="  font-weight: bold; padding-bottom:5px; text-decoration: underline">{{ 'Commentaires / Synthèse générale'|trans}} :</div>
                            <textarea rows="9" cols="62" style="width: 100%;max-height: 170px;border: none;">{{ commentaire2 }}</textarea>
                        </td>

                    </tr>

                </table>

</page>
