{% extends "GplainteBundle::layout.html.twig" %}
{% form_theme produit 'GplainteBundle::fields_errors.html.twig' %}


{% block title %}{{ 'Product registration'| trans }}{% endblock %}

{% block corps %}


    <div class="col-md-12 borderStyle" style="">

        <div class="stl_show" style="padding-left: 15px; padding-bottom: 20px">{{ 'List product' | trans }}</div>

        <table class="table table-striped table-hover" id='table_list_membre'>
            <thead>
            <tr>
                <th>{{ 'Name' | trans }}</th>
                <th>{{ 'Description' | trans }}</th>
                <th>{{ 'Category' | trans }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th></th>
                <th></th>
                {% endif %}
            </tr>

            </thead>
            <tbody>
            {% for list in list %}
                <tr>
                    <td>{{list.libelle}}</td>
                    <td>{{list.description}}</td>
                    <td>
                        {% if list.categorieproduit=="" %}
                        {% else %}
                        {{list.categorieproduit.libelle}}
                    {% endif %}
                    </td>

                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('gplainte_add_produit', {val:'afficherForm','id': list.id}) }}"><img src="{{asset('assets/img/edit.png')}}" title="Modifier"></a></td>
                        <td><a href="{{ path('gplainte_add_produit', {val:'supprimer','id': list.id}) }}"><img src="{{asset('assets/img/remove.png')}}" title="Supprimer"></a></td>{% endif %}

                </tr>

            {% endfor%}
            </tbody>
        </table>

    </div>


    <div class="col-md-12" style="margin-top: 10px; margin-left: -30px">
        <div class='col-md-12'>

            <div class="row">
                <div class="col-md-5" style="background-color: #fff; text-transform: uppercase; color: #000; font-family: Roboto-Light; font-size: 26px">
                    {{ 'Financial products registration' | trans }}
                </div>
            </div>


            <form action="{{ path('gplainte_add_produit',{val:val,id:id})}}" method="post" {{ form_enctype(produit) }} class="form-horizontal" id="" >

                <div class="col-md-12" style="background-color: #fff; padding-top: 30px; padding-bottom: 10px; color: #000; font-family: Roboto-Light">

                    <div class="row" style="font-size: 30px">
                        {%if msg is defined and msg==2%}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Modification completed successfully' | trans }}
                            </div>
                        {% endif %}

                        {%if msg is defined and msg==3%}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Successful deletion' | trans }}
                            </div>
                        {% endif %}

                        {%if msg is defined and msg==1%}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Adding completed successfully' | trans }}
                            </div>
                        {% endif %}

                        {%if msgErr is defined and msgErr==1%}
                            <div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">
                                {{ 'This record already exists' | trans }}
                            </div>
                        {% endif %}

                        {%if app.request.query.get("msgException")==1%}
                            <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                                {{ 'This product no longer exists' | trans }}

                            </div>
                        {% endif %}
                        {#{{app.request.query.get(msgException)}}#}
                        {%if app.request.query.get("msgException")==2%}
                            <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                                {{ 'This product is linked to other operations' | trans }}

                            </div>
                        {% endif %}
                    </div>


                    <div class='col-md-5'>

                        <div class="form-group">
                            {{form_label(produit.libelle,"Name (*) :"| trans)}}
                            {{form_errors(produit.libelle)}}
                            {{form_widget(produit.libelle,{'attr':{'class':'form-control'}})}}
                        </div>
                    </div>

                    <div class="col-md-5 col-md-offset-1">

                        <div class="form-group">
                            {{form_label(produit.categorieproduit,"Product Category (*):"| trans)}}
                            {{form_widget(produit.categorieproduit,{'attr':{'class':'form-control'}})}}
                        </div>

                    </div>
                    <div class='col-md-11'>
                        <div class="form-group">
                            {{form_label(produit.description,"Description (*):"| trans)}}
                            {{form_errors(produit.description)}}
                            {{form_widget(produit.description,{'attr':{'class':'form-control','rows':5}})}}
                        </div>

                    </div>

                    <div class="col-md-12">
                        <span>(*) {{ 'Require fields' | trans }}</span>
                    </div>
                    <div class="col-md-12">
                        {{ form_rest(produit) }}


                        <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 20px; margin-right: -10px;">{{ 'Go' | trans }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    {% if (id!=0 and val=="supprimer") %}
        {% include 'GplainteBundle:Produit:dialogue.html.twig' %}
    {% endif %}

{% endblock %}
