{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Enregistrement des objectifs des indicateurs'| trans }}{% endblock %}

{% block corps %}

<div class="col-md-6 borderStyle" style="">
    <div class="stl_show" style="padding-left: 15px; padding-bottom: 20px">{{ 'Liste des objectifs' | trans }}</div>

    <table class="table table-striped table-hover" id='table_list_membre'>
        <thead>
        <tr>
            <th>{{ 'Label'| trans }}</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th></th>
            <th></th>
            {% endif %}
        </tr>

        </thead>
        <tbody>
        {% for list in list %}
            <tr>
                <td>{{list.libelle}}</td>

                {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('gplainte_add_objectif_indicateur', {val:'afficherForm','id': list.id}) }}"><img src="{{asset('assets/img/edit.png')}}" title="Modifier"></a></td>
                    <td><a href="{{ path('gplainte_add_objectif_indicateur', {val:'supprimer','id': list.id}) }}"><img src="{{asset('assets/img/remove.png')}}" title="Supprimer"></a></td>{% endif %}

            </tr>

        {% endfor%}
        </tbody>
    </table>

</div>



<div class="col-md-6" style="margin-top: 10px; margin-left:0px">

    <div class='col-md-12'>

        <div class="row">
            <div class="col-md-9" style="background-color: #fff; text-transform: uppercase; color: #000; font-family: Roboto-Light; font-size: 26px">
                {{ 'Enregistrement des objectifs des indicateurs' | trans }}
            </div>
        </div>

            <form action="{{ path('gplainte_add_objectif_indicateur',{val:val,id:id})}}" method="post" {{ form_enctype(ObjectifIndicateur) }} class="form-horizontal" id="" >

                <div class="col-md-12" style="background-color: #fff; padding-top: 30px; padding-bottom: 10px; color: #000; font-family: Roboto-Light">


                    <div class="row" style="font-size: 30px">
                        {%if msg is defined and msg==2%}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Modification completed successfully' | trans }}
                            </div>
                        {% endif %}

                        {%if app.request.query.get("msg")==3%}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Successful deletion' | trans }}
                            </div>
                        {% endif %}

                        {%if msg is defined and msg==1%}
                            <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                                {{ 'Adding completed successfully' | trans }}
                            </div>
                        {% endif %}

                        {%if msgErr is defined and msgErr==1%}
                            <div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">
                                {{ 'Cet objectif existe déjà' | trans }}
                            </div>
                        {% endif %}

                        {%if app.request.query.get("msgException")==1%}
                            <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                                {{ 'Cet objectif est déjà relié à une opération' | trans }}

                            </div>
                        {% endif %}
                        {#{{app.request.query.get(msgException)}}#}
                        {%if app.request.query.get("msgException")==2%}
                            <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                                {{ 'Cet objectif est déjà relié à une opération' | trans }}

                            </div>
                        {% endif %}
                    </div>



                <div class='col-md-12'>

                    <div class="form-group">
                        {{form_label(ObjectifIndicateur.libelle,"Libellé (*):" | trans)}}
                        {{form_widget(ObjectifIndicateur.libelle,{'attr':{'class':'form-control'}})}}
                    </div>

                 
                </div>

                <div class="col-md-12">
                    <span>(*) {{ 'Require fields'| trans }}</span>
                </div>
                <div class="col-md-12">
                    {{ form_rest(ObjectifIndicateur) }}


                    <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 20px; margin-right: -10px;">{{ 'Go'| trans }}</button>
                </div>
</div>
            </form>
        </div>
    </div>
       {% if (id!=0 and val=="supprimer") %}
        {% include 'GplainteBundle:ObjectifIndicateur:dialogue.html.twig' %}
    {% endif %}

{% endblock %}
