{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Logins list' | trans }}{% endblock %}

{% block corps %}



    <div class="col-md-12 borderStyle" style="">
        {% if app.request.query.get("id")==1 %}
            <div class="alert-success" style="font-size: 30px; padding: 15px">{{ 'Thank you for appreciating our proposed solution' | trans }}</div>
        {% endif %}
        <div class="row">
            <div class="col-md-12 stl_show" style="">
                {{ 'Logins list'| trans }}
            </div>
        </div>


        <div class="table-responsive">
            <table class="table table-striped table-hover" id='listeplainte'>
                <thead>
                <tr>
                    <th>{{ 'Fullname' | trans }}</th>
                    <th>{{ 'Pseudo' | trans }}</th>
                    <th>{{ 'Connected' | trans }}</th>


                    {#<th></th>
                   <th></th>#}
                </tr>

                </thead>
                <tbody>
                {% for list in list %}
                    <tr>
                        <td>{{list.user.agent.nom}} {{list.user.agent.prenom}}</td>
                        <td>{{list.user.username}}</td>
                        <td>{{list.createdat | date('d/m/Y')}}</td>

                        {#  {% if is_granted('ROLE_ADMIN') %}
                         <td><a href="{{ path('ajout_institution', {val:'afficherForm','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/edit.png" title="Modifier"></a></td>
                         <td><a href="{{ path('ajout_institution', {val:'supprimer','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/remove.png" title="Supprimer"></a></td>{% endif %}
  #}
                        {#<td>#}
                            {#{% if list.action.notifier.satisfaction!=NULL  %}#}
                                {#&#123;&#35;<a href="{{path('gplainte_add_satisfaction',{'val':'verif','action':list.action.id,'notification':list.action.notifier.id,'plainte':list.plainte.id,'satisfaction':list.action.notifier.satisfaction})}}" class="" style="color: #002a80">{{ 'Verification' | trans }}</a>&#35;&#125;#}

                                {#<a href="#" class="" style="color: #008200">{{ 'Already appreciated' | trans }}</a>#}
                            {#{% else %}#}
                                {#<a href="{{path('gplainte_add_satisfaction',{'val':'satisfaire','action':list.action.id,'notification':list.action.notifier.id,'plainte':list.plainte.id})}}" class="" style="color: #002a80">{{ 'Guest review' | trans }}</a>#}
                            {#{% endif %}#}
                        {#</td>#}
                    </tr>

                {% endfor%}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
