{% extends "UserBundle::layout.html.twig" %}

{#{% trans_default_domain 'FOSUserBundle' %}#}

{% block fos_user_content %}
    <div class="col-md-8 col-md-offset-2" style="margin-top:80px;">
{% if error %}
    <div class="row" style="margin-top:5px; margin-bottom: 0px;"><div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div></div>
{% endif %}
<div class="row">
    <div class="col-md-6 hidden-xs hidden-sm">
        <img src="{{ asset('assets/img/login_droit.PNG') }}" class="img-responsive " style="width: 100%; height: auto" title="">
        <div class="col-md-12" style="height: 80px; background-color: #f79646">
            <span class="plainte_login">{{  'Express your complaints' | trans  }}</span>
        </div>
    </div>
    <div class="col-md-6">

        <div class="col-md-8 col-md-offset-2" style="margin:20px 60px; ">
            <img src="{{ asset('assets/img/logo.png') }}" class="" style="height: auto" title="">

        </div>

       <div class="col-md-12" style="border-bottom: 4px solid #f79646; margin-bottom: 20px"></div>

        <div class="col-md-8 col-md-offset-2">

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="col-md-5 col-md-offset-3" style="margin-bottom:20px; background-color: transparent">
                    {#<img src="{{ asset('assets/img/logo.png') }}" class="" style="height: auto" title="">#}
                {% if app.user.agent is not null  %}
                    {% if app.user.agent.webPath is not null  %}
                        <img src="{{  asset(app.user.agent.webPath)}}" style="width: 96px; height: 96px; border-radius: 48px; margin-left:2px" />
                    {% else %}
                        {# <i class="zmdi zmdi-account zmdi-hc-5x" style="color: #fff; margin-left:2px "></i> #}
                        <img src="{{ asset('assets/img/avatar.PNG')}}" style="width: 96px; height: 96px; border-radius: 48px; margin-left:2px" />
                    {% endif %}
                {% else %}
                    {# <i class="zmdi zmdi-account zmdi-hc-5x" style="color: #fff; margin-left:2px "></i> #}
                    <img src="{{ asset('assets/img/avatar.PNG')}}" style="width: 96px; height: 96px; border-radius: 48px; margin-left:2px" />
                {% endif %}

                </div>

                <form action="{{ path("fos_user_security_check") }}" method="post" class='form-horizontal'>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    {#<label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>#}
                    <div class="col-md-12 input-group" style="margin-bottom: 10px">
                        <span class="input-group-addon"><i class="zmdi zmdi-account zmdi-hc-lg" style="color: #fff"></i></span>
                        <input type="text" id="username" name="_username" placeholder="{{ 'Username' | trans }}" value="{{ app.user.username }}" required="required" class='form-control' />

                    </div>

                    {#<label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle')}}</label>#}
                    <div class="col-md-12 input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-key" style="color: #fff"></i></span>
                        <input type="password" id="password" name="_password" required="required" placeholder="{{ 'Password' | trans }}" class='form-control' />
                    </div>
                    <div class="col-md-12 input-group" style="padding: 5px 0px 20px 5px">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

                    </div>
                    <p></p>
                    <div class="">
                        <input style="margin-top: -20px; width: 100%" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle')}}" class="btn btn-primary" />
                    </div>
                </form>

            {%  else %}
                <div class="col-md-4 col-md-offset-4 img-circle" style="margin-bottom:20px; background-color: #e2e6ef">
                    {#<img src="{{ asset('assets/img/logo.png') }}" class="" style="height: auto" title="">#}
                    <i class="zmdi zmdi-account zmdi-hc-5x" style="color: #fff; margin-left:2px "></i>
                </div>

                <form action="{{ path("fos_user_security_check") }}" method="post" class='form-horizontal'>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    {#<label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>#}
                    <div class="col-md-12 input-group" style="margin-bottom: 10px">
                        <span class="input-group-addon"><i class="zmdi zmdi-account zmdi-hc-lg" style="color: #fff"></i></span>
                        <input type="text" id="username" name="_username" placeholder="{{ 'Username' | trans }}" value="{{ last_username }}" required="required" class='form-control' />

                    </div>

                    {#<label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle')}}</label>#}
                    <div class="col-md-12 input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-key" style="color: #fff"></i></span>
                        <input type="password" id="password" name="_password" required="required" placeholder="{{ 'Password' | trans }}" class='form-control' />
                    </div>
                    <div class="col-md-12 input-group" style="padding: 5px 0px 20px 5px">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

                    </div>
                    <p></p>
                    <div class="">
                        <input style="margin-top: -20px; width: 100%" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle')}}" class="btn btn-primary" />
                    </div>
                </form>
            {% endif %}

        </div>



    </div>
</div>




       {#{{ 'Log' | trans }}#}







</div>
{% endblock fos_user_content %}