{% extends "GplainteBundle::layout.html.twig" %}
{% form_theme norme 'GplainteBundle::fields_errors.html.twig' %}

{% block title %}{{ 'Norme indicateurs'| trans }}{% endblock %}

{% block corps %}

{#<div class="col-md-12" style="margin-top: 40px; margin-left: -25px">#}
    {##}
{#</div>#}


    <div class="col-md-12 borderStyle" style="margin-bottom: 40px">

        <div class="stl_show" style="padding-left: 15px; padding-bottom: 20px">{{ 'Liste des normes' | trans }}</div>


        <table class="table table-striped table-hover" id=''>
            <thead>
            <tr>
                <th>{{ 'Libelle'| trans }}</th>
                <th>{{ 'Norme'| trans }}</th>
                <th>{{ 'jour'| trans }}</th>
                
                {% if is_granted('ROLE_ADMIN') %}
                <th colspan="2">{{ 'Action'| trans }}</th>
                {% endif %}
                {#<th></th>#}
            </tr>

            </thead>
            <tbody>
            {% for list in list %}
                <tr>


                    <td>{{list.libelle}}</td>
                    <td>{{list.normeOp}} {{list.normeVal}} {{list.normeUnite}}</td>
                    <td>{{list.jour}}</td>
                   
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('gplainte_add_indicateur', {val:'afficherForm','id': list.id}) }}"><img src="{{asset('assets/img/edit.png')}}" title="Modifier"></a></td>
                      
                        <td>
                            {% if list.id==1 or list.id==2 or list.id==3 %}
                           <img src="{{asset('assets/img/remove.png')}}" class="disabled" title="Supprimer">
                            {%else%}
                            <a href="{{ path('gplainte_add_indicateur', {val:'supprimer','id': list.id}) }}"><img src="{{asset('assets/img/remove.png')}}" title="Supprimer"></a>
                            {%endif%}
                        </td>{% endif %}
                </tr>

            {% endfor%}
            </tbody>
        </table>

    </div>


      <div class='col-md-12' style="margin-left: -15px">
          <div class="row">
              <div class="col-md-5" style="background-color: #fff; text-transform: uppercase; color: #000; font-family: Roboto-Light; font-size: 26px">
                  {{ 'Enregistrement des normes' | trans }}
              </div>
          </div>


         <form action="{{ path('gplainte_add_indicateur',{val:val,id:id})}}" method="post" {{ form_enctype(norme) }} class="form-horizontal" id="" >


         <div class="col-md-12" style="background-color: #fff; padding-top: 30px; padding-bottom: 10px; color: #000; font-family: Roboto-Light">


             <div class="row" style="font-size: 30px">
                 {%if msg is defined and msg==2%}
                     <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                         {{ 'Modification completed successfully' | trans }}
                     </div>
                 {% endif %}

                 {%if msg is defined and msg==3%}
                     <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                         {{ 'Successful deletion' | trans }}
                     </div>
                 {% endif %}

                 {%if msg is defined and msg==1%}
                     <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                         {{ 'Adding completed successfully' | trans }}
                     </div>
                 {% endif %}

                 {%if msgErr is defined and msgErr==1%}
                     <div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">
                         {{ "L'indicateur doit être unique" | trans }}
                     </div>
                 {% endif %}

                 {%if msgException is defined and msgException==1%}
                     <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                         {{ "L'indicateur n'existe pas" | trans }}
                     </div>
                 {% endif %}
                 {#{{app.request.query.get(msgException)}}#}
                 {%if msgException is defined and msgException==2%}
                     <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                         {{ "L'indicateur est lié à une autre opération" | trans }}

                     </div>
                 {% endif %}
             </div>


         <div class="col-md-5">
        
     <div class="form-group">
           {{form_label(norme.libelle,"Libelle"| trans)}} (*) :
            {{form_errors(norme.libelle)}}
           {{form_widget(norme.libelle,{'attr':{'class':'form-control'}})}}
        </div>
        
        <div class="form-group">
           {{form_label(norme.normeVal,"Valeur"| trans)}} (*):
            {{form_errors(norme.normeVal)}}
           {{form_widget(norme.normeVal,{'attr':{'class':'form-control'}})}}
        </div>
        
        <div class="form-group">
           {{form_label(norme.normeUnite,"Unité"| trans)}} (*):
            {{form_errors(norme.normeUnite)}}
           {{form_widget(norme.normeUnite,{'attr':{'class':'form-control'}})}}
        </div>


     </div>
    <div class='col-md-5 col-md-offset-1'>

    <div class="form-group">
           {{form_label(norme.normeOp,"Opérateur"| trans)}} (*):
            {{form_errors(norme.normeOp)}}
           {{form_widget(norme.normeOp,{'attr':{'class':'form-control'}})}}
    </div>

     <div class="form-group">
           {{form_label(norme.jour,"Jour"| trans)}} (*):
            {{form_errors(norme.jour)}}
           {{form_widget(norme.jour,{'attr':{'class':'form-control'}})}}
     </div>

     <div class="form-group">
           {{form_label(norme.objectifindicateur,"Objectif indicateur"| trans)}} (*):
            {{form_errors(norme.objectifindicateur)}}
           {{form_widget(norme.objectifindicateur,{'attr':{'class':'form-control'}})}}
     </div>
     


     </div>
    
     

             <div class="col-md-12">
                 {{ form_rest(norme) }}


                 <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 20px; margin-right: -10px;">{{ 'Go'| trans }}</button>
             </div>
     </div>

   
         </form>   
<div class="row">
     <div class="col-md-4" style="margin-left: -10px; margin-top: 10px">
        <span style="font-weight: bold"> (*) </span>{{ 'Require fields'| trans }}
     </div>
    </div>
         </div>



    {% if (id!=0 and val=="supprimer") %}
        {% include 'GplainteBundle:NormeIndicateur:dialogue.html.twig' %}
    {% endif %}
    
{% endblock %}
