{% trans_default_domain 'FOSUserBundle' %}
{#<div class="col-md-12 " style="margin-bottom: 40px">#}
<div class='col-md-6' style="margin-left: -15px">

          <div class="row">
              <div class="col-md-9" style="background-color: #fff; text-transform: uppercase; color: #000; margin-top: 10px; font-family: Roboto-Light; font-size: 26px">
                  {{ 'Modification mot de passe' | trans }}
              </div>
          </div>
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal" style="">
                    <div class="col-md-12" style="background-color: #fff; padding-top: 30px; padding-bottom: 10px; color: #000; font-family: Roboto-Light">

    {#<div class="form-group">
        {{form_row(form.current_password,{'attr':{'class':'form-control'}})}}
     </div>
    <div class="form-group">
        {{form_row(form.plainPassword,{'attr':{'class':'form-control'}})}}
     </div>#}
    <div>
    {{ form_widget(form) }}
    </div>
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary" style="margin-top: 5px;" />
    </div>
                    </div>
</form>

</div>