{% extends "GplainteBundle::layout.html.twig" %}
{% form_theme institution 'GplainteBundle::fields_errors.html.twig' %}

{% block title %}{{ 'MFI registration'| trans }}{% endblock %}

{% block corps %}

{#<div class="col-md-12" style="margin-top: 40px; margin-left: -25px">#}
    {##}
{#</div>#}


    <div class="col-md-12 borderStyle" style="margin-bottom: 40px">

        <div class="stl_show" style="padding-left: 15px; padding-bottom: 20px">{{ 'List MFI' | trans }}</div>


        <table class="table table-striped table-hover" id=''>
            <thead>
            <tr>
                <th>{{ 'Denonomination social'| trans }}</th>
                <th>{{ 'Contact'| trans }}</th>
                <th>{{ 'Email adress'| trans }}</th>
                <th>{{ 'Approval Number'| trans }}</th>
                {# <th>Date création</th>#}
                 <th>Avatar</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th colspan="2">{{ 'Action'| trans }}</th>
                {% endif %}
                {#<th></th>#}
            </tr>

            </thead>
            <tbody>
            {% for list in list %}
                <tr>


                    <td>{{list.denominationSociale}}</td>
                    <td>{{list.contact}}</td>
                    <td>{{list.email}}</td>
                    <td>{{list.numAgrement}}</td>
                    <td>{% if list.webPath is not null  %}<img src="{{ asset(list.webPath) }}" width="30" height="auto" >{% endif %}</td>

                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('gplainte_add_institution', {val:'afficherForm','id': list.id}) }}"><img src="{{asset('assets/img/edit.png')}}" title="Modifier"></a></td>
                        <td><a href="{{ path('gplainte_add_institution', {val:'supprimer','id': list.id}) }}"><img src="{{asset('assets/img/remove.png')}}" title="Supprimer"></a></td>{% endif %}

                </tr>

            {% endfor%}
            </tbody>
        </table>

    </div>


      <div class='col-md-12' style="margin-left: -15px">
          <div class="row">
              <div class="col-md-2" style="background-color: #fff; text-transform: uppercase; color: #000; font-family: Roboto-Light; font-size: 26px">
                  {{ 'MFI' | trans }}
              </div>
          </div>


         <form action="{{ path('gplainte_add_institution',{val:val,id:id})}}" method="post" {{ form_enctype(institution) }} class="form-horizontal" id="" >


         <div class="col-md-12" style="background-color: #fff; padding-top: 30px; padding-bottom: 10px; color: #000; font-family: Roboto-Light">


             <div class="row" style="font-size: 30px">
                 {%if msg is defined and msg==2%}
                     <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                         {{ 'Modification completed successfully' | trans }}
                     </div>
                 {% endif %}

                 {%if msg is defined and msg==3%}
                     <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                         {{ 'Successful deletion' | trans }}
                     </div>
                 {% endif %}

                 {%if msg is defined and msg==1%}
                     <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                         {{ 'Adding completed successfully' | trans }}
                     </div>
                 {% endif %}

                 {%if msgErr is defined and msgErr==1%}
                     <div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">
                         {{ "L'institution doit être unique" | trans }}
                     </div>
                 {% endif %}

                 {%if msgException is defined and msgException==1%}
                     <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                         {{ 'This institution does not exist' | trans }}
                     </div>
                 {% endif %}
                 {#{{app.request.query.get(msgException)}}#}
                 {%if msgException is defined and msgException==2%}
                     <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                         {{ 'This institution is linked to other operations' | trans }}

                     </div>
                 {% endif %}
             </div>


         <div class="col-md-5">
        
     <div class="form-group">
           {{form_label(institution.denominationSociale,"Denomination social :"| trans)}}
            {{form_errors(institution.denominationSociale)}}
           {{form_widget(institution.denominationSociale,{'attr':{'class':'form-control','placeholder':"Entrez le nom de l'entreprise"}})}}
        </div>
        
        <div class="form-group">
           {{form_label(institution.contact,"Contact :"| trans)}}
            {{form_errors(institution.contact)}}
           {{form_widget(institution.contact,{'attr':{'class':'form-control'}})}}
        </div>
        
     </div>
        <div class='col-md-5 col-md-offset-1'>
     <div class="form-group">
           {{form_label(institution.email,"Email of complaints handling :"| trans)}}
            {{form_errors(institution.email)}}
           {{form_widget(institution.email,{'attr':{'class':'form-control'}})}}
     </div>
     
     <div class="form-group">
           {{form_label(institution.numAgrement,"Approval Number :"| trans)}}
            {{form_errors(institution.numAgrement)}}
           {{form_widget(institution.numAgrement,{'attr':{'class':'form-control'}})}}
        </div>
     
        <div class="form-group">
            {{form_label(institution.file,"Avatar :")}}
            {{form_widget(institution.file,{'attr':{'class':'form-control'}})}}
        </div>
       
     </div>

             <div class="col-md-12">
                 {{ form_rest(institution) }}


                 <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 20px; margin-right: -10px;">{{ 'Go'| trans }}</button>
             </div>
     </div>

   
         </form>   

         </div>



    {% if (id!=0 and val=="supprimer") %}
        {% include 'GplainteBundle:Institution:dialogue.html.twig' %}
    {% endif %}
    
{% endblock %}
