<div class="table-responsive">

    <div class="row">
        <div class="col-md-7" style="margin-left: -10px">
            <h3 class="btn-titre"><i class="zmdi zmdi-plus-circle"></i><span style="padding-left: 10px">{{ "Plaintes en attentes d'enregistrement (SATIS Mobile)" | trans }}</span></h3>
        </div>
    </div>

    <ul class="nav nav-tabs">
       <li class="active"><a data-toggle="tab" href="#plainte">Plaintes</a>
       </li>
        <li><a data-toggle="tab" href="#denonciation">Dénonciations</a>
       </li>

    </ul>

<div class="tab-content">
    <div id="plainte" class="tab-pane fade in active">
        {% for objet in objet %}
            <div class="col-md-12" style="background-color: #fff; margin-top: 10px;  font-family: Roboto-Light">

                <div class="row" style="margin-bottom: 10px; padding-top: 10px; font-size: 18px">
                    {#{% if objet.autreobjet is not null %}#}
                    <div class="col-md-4" >{{ 'Nom'| trans }}:<span class="d_color" id="nom{{objet.idPlainte}}"> {{objet.nomcomplet}}</span></div>
                    <div class="col-md-4">{{ 'Téléphone'| trans }}:<span class="d_color" id="telephone{{objet.idPlainte}}"> {{objet.telephone}}</span></div>
               </div>

                <div class="row" style="margin-bottom: 10px; font-size: 18px">
                    <div class="col-md-4">{{ 'Raison sociale'| trans }}: <span class="d_color" id="raisonsociale{{objet.idPlainte}}">{{objet.raisonsociale}}</span></div>
                    <div class="col-md-4">{{ 'Description plainte'| trans }}: <span class="d_color" id="description{{objet.idPlainte}}">{{objet.contenu}}</span></div>
                    <div class="col-md-4">
                        {% set fichiers = objet.nomfichier|split(',') %} 

							{% for fichier in fichiers %}
								{% if fichier is not null %}
									{% if (fichier ends with "mp3" or fichier ends with "3gp") %}
										<audio src="http://mobile.dmdsatis.com/web/uploads/audios/{{ fichier }}" controls></audio>
									{% else %}
									<a href="http://mobile.dmdsatis.com/web/uploads/audios/{{ fichier }}" target="_blank">
										<img src="http://mobile.dmdsatis.com/web/uploads/audios/{{ fichier }}" style="width: 150px; height: auto">
									</a>
									{% endif%}

								{% endif %}
						
						
							{% endfor %}

                    </div>
                </div>



                <div class="row">
                    <div class="col-md-2 col-md-offset-10"><a  id="{{objet.idPlainte}}" name="remplirP" href="#" class="btn btn-link btn-lg">{{ 'Remplir'| trans }}</a> </div>
                    <div class="col-md-2 col-md-offset-10"><a style="" href="{{path('gplainte_api_plainte_modif',{'id':objet.id,'type':0,'etat':1})}}" class="btn btn-link btn-lg">{{ 'Valider'| trans }}</a> </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <div id="denonciation" class="tab-pane fade">
        {% for objet in objetdenonciation %}
            <div class="col-md-12" style="background-color: #fff; margin-top: 10px;  font-family: Roboto-Light">

                <div class="row" style="margin-bottom: 10px; padding-top: 10px; font-size: 18px">
                    {#{% if objet.autreobjet is not null %}#}
                    {#<div class="col-md-4">{{ 'Nom'| trans }}:<span class="d_color" id="nomd{{objet.idPlainte}}"> {{objet.nomcomplet}}</span></div>#}
                    <div class="col-md-4">{{ 'Téléphone'| trans }}:<span class="d_color" id="telephoned{{objet.idPlainte}}"> {{objet.telephone}}</span></div>
                    {#{% endif %}#}
                    {#<div class="col-md-4">{{ 'êtes vous clients?'| trans }}: <span class="d_color">{% if objet.etatclient==1 %}Oui{% elseif objet.etatclient==0 %} Non {% endif %}</span></div>#}
                </div>

                <div class="row" style="margin-bottom: 10px; font-size: 18px">
                    <div class="col-md-4">{{ 'Raison sociale'| trans }}: <span class="d_color" id="raisonsocialed{{objet.idPlainte}}">{{objet.raisonsociale}}</span></div>
                    <div class="col-md-4">{{ 'Description plainte'| trans }}: <span class="d_color" id="contenud{{objet.idPlainte}}">{{objet.contenu}}</span></div>
                    <div class="col-md-4">
						{% set fichiers = objet.nomfichier|split(',') %} 

							{% for fichier in fichiers %}
								{% if fichier is not null %}
									{% if (fichier ends with "mp3" or fichier ends with "3gp") %}
										<audio src="http://mobile.dmdsatis.com/web/uploads/audios/{{ fichier }}" controls></audio>
									{% else %}
									<a href="http://mobile.dmdsatis.com/web/uploads/audios/{{ fichier }}" target="_blank">
										<img src="http://mobile.dmdsatis.com/web/uploads/audios/{{ fichier }}" style="width: 150px; height: auto">
									</a>
									{% endif%}

								{% endif %}
						
						
							{% endfor %}
                        

                    </div>
                </div>



                <div class="row">
                    <div class="col-md-2 col-md-offset-10"><a  id="{{objet.idPlainte}}" href="#" name="remplirD" class="btn btn-link btn-lg">{{ 'Remplir'| trans }}</a> </div>
                    <div class="col-md-2 col-md-offset-10"><a style="" href="{{path('gplainte_api_plainte_modif',{'id':objet.id,'type':objet.type,'etat':1})}}" class="btn btn-link btn-lg">{{ 'Valider'| trans }}</a> </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

</div>

