{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Welcome to the complaints management platform'| trans }}{% endblock %}

{% block corps %}

<div class='col-md-12' style="margin-left: -18px; margin-top: 10px">
    <div class="col-md-4"><a style="color: #000;" href="{{ path("gplainte_add_plainte") }}"><img src="{{ asset('assets/img/crayon.png') }}" class="" style="width: 350px; height: auto" title="expression des plaintes"></a></div>
    <div class="col-md-4"><a style="color: #000;" href="{{ path("fos_user_security_login") }}"><img src="{{ asset('assets/img/suivi.jpg') }}" class="img-circle" style="width: 350px; height: auto; margin-top: 45px" title="expression des plaintes"></a></div>
    <div class="col-md-4"><a style="color: #000;" href="{{ path("gplainte_list_faq") }}"><img src="{{ asset('assets/img/faq_1.png') }}" class="" style="width: 350px; height: auto" title="FAQ des plaintes"></a></div>

</div>
    <div class='col-md-12' style="margin-left: 0px; font-size: 22px">
    <div class="col-md-4"><a style="color: #000;" href="{{ path("gplainte_add_plainte") }}">{{ 'Express your complaint'| trans }}</a></div>
    <div class="col-md-4" style="margin-left: 60px"><a style="color: #000;" href="{{ path("fos_user_security_login") }}">{{ 'Track complaints'| trans }}</a></div>
    <div class="col-md-2" style="margin-left:30px"><a style="color: #000;" href="{{ path("gplainte_list_faq") }}">{{ 'FAQ'| trans }}</a></div>

</div>
{% endblock %}