{% extends "GplainteBundle::layout.html.twig" %}
{% form_theme plainte 'GplainteBundle::fields_errors.html.twig' %}

{% block title %}{{ 'A form of expression complaints'| trans }}{% endblock %}

{% block corps %}

<div class='col-md-12' style="">
    
   
        {%if msg is defined and msg==2%}
            <div class="col-md-12 alert-success" style="margin-bottom: 20px;">
                {{ 'Modification completed successfully' | trans }}
            </div>
        {% endif %}

        {%if msg is defined and msg==3%}
            <div class="col-md-12 alert-success" style="margin-bottom: 20px;">
                {{ 'Adding completed successfully' | trans }}
            </div>
        {% endif %}

        {%if msg is defined and msg==1%}
            <div class="col-md-12 alert-success" style="margin-top: 20px; font-size: 30px; font-weight: bold">
                {#{{ 'Your complaint has been well recorded, thank you for your confidence'| trans }}#}
                {{ delai }}

            </div>
        {% endif %}

    {%if app.request.query.get("delai") is defined %}
        <div class="col-md-12 alert-success" style="margin-top: 20px; font-size: 30px; font-weight: bold">
            {{ app.request.query.get("delai") }}
        </div>
    {% endif %}
        {%if msgErr is defined and msgErr is defined%}
            <div class="col-md-12 alert-danger" style="margin-bottom: 20px;">
                {{msgErr}}
            </div>
        {% endif %}

        {%if msgException is defined and msgException==1%}
            <div class="col-md-12 alert-warning" style="margin-bottom: 20px;">
                {{ 'This complaint does not exist' | trans }}

            </div>
        {% endif %}
        {#{{app.request.query.get(msgException)}}#}
        {%if msgException is defined and msgException==2%}
            <div class="col-md-12 alert-warning" style="margin-bottom: 20px;">
                {{ 'This complaint is linked to other complaint is related to other operations' | trans }}

            </div>
        {% endif %}

    <div class="row">
        <div id="response" class="col-md-12 alert-success" style="margin-top: 20px; font-size: 30px; font-weight: bold">

        </div>
        <div class="loading">traitement en cours</div>
    </div>

    <div class="row">
        <div class="col-md-4" style="margin-left: -10px">
            <h3 class="btn-titre"><i class="zmdi zmdi-plus-circle"></i><span style="padding-left: 10px">{{ 'Expression of complaints' | trans }}</span></h3>
        </div>

    </div>

    <div class="row" style="margin-bottom: 20px; margin-top: 10px">
        <form id="anonymeForm0" action="{{ path('gplainte_add_plainte')}}" method="post" accept-charset="utf-8">

            <div class="input-group">
                  <span class="input-group-addon">
                          <input type="radio" aria-label="..." name="ch" value="0" id="nanonyme" {% if chVal is defined and chVal==0 %} checked {% endif %}> Non anonyme
                         <input type="radio" aria-label="..." name="ch" value="1" id="anonyme" {% if chVal is defined and chVal==1 %} checked {% endif %}> Anonyme
                  </span>
                <input type="submit" value="ok" style="margin-left: 10px" class="btn btn-default">

            </div>

        </form>
        {#<select id="anonymeForm">#}
            {#<option value="0">#}
                {#Non anonyme#}
            {#</option>#}
            {#<option value="1">#}
                {#Anonyme#}
            {#</option>#}
        {#</select>#}

    </div>

     <form action="{{ path('gplainte_add_plainte',{val:'ajouter','chVal':chVal})}}" method="post" {{ form_enctype(plainte) }} class="form-horizontal" id="addComplaint2" >

{#         "http://{{ app.request.server.get("SERVER_NAME") }}{{app.request.basePath}}"#}

     {% if chVal is defined and chVal==0 %}
      <div class="col-md-12" style="margin-left: -10px">
          <div class="col-md-6" style="margin-left: -15px">
              <div class="row">
                  <div class="col-md-4" style="background-color: #fff; text-transform: uppercase; color: #000; font-family: Roboto-Light; font-size: 28px">
                      {{ 'Plaignant' | trans }}
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12" style="background-color: #fff; padding-top: 30px; color: #000; font-family: Roboto-Light">

                      <div class="form-group col-md-12">
                          {{form_label(plainte.client,"Nom & prénoms (*)"| trans)}}
                          {{form_errors(plainte.client)}}
                          <i class="zmdi zmdi-plus-circle"></i><a href="{{ path('gplainte_add_plainte',{val:'AjouterClient',id:1})}}" style="color: #000">{{ "Add Customer" | trans }}</a>
                          {{form_widget(plainte.client,{'attr':{'class':'form-control'}})}}
                      </div>
                      <div class="form-group col-md-12">

                          {{form_label(plainte.telephone,"Phone (*)"| trans)}}
                          {{form_errors(plainte.telephone)}}
                          {{form_widget(plainte.telephone,{'attr':{'class':'form-control','style':'height:32px','required':'required'}})}}
                      </div>
                      {#<div class="form-group col-md-12">#}

                          {#{{form_label(plainte.codeplaintemobile,"code mobile (*)"| trans)}}#}
                          {#{{form_errors(plainte.codeplaintemobile)}}#}
                          {#{{form_widget(plainte.codeplaintemobile,{'attr':{'class':'form-control','style':'height:32px','required':'required'}})}}#}
                      {#</div>#}
                      <div class="form-group col-md-12">

                          {{form_label(plainte.numdossier,"Folder number (*):"| trans)}} :
                          {{form_errors(plainte.numdossier)}}
                          {{form_widget(plainte.numdossier,{'attr':{'class':'form-control','style':'height:32px'}})}}
                      </div>

                      <div class="form-group col-md-12">
                         
                          {{form_label(plainte.bureau,"Bureau (*)"| trans)}}
                          {{form_errors(plainte.bureau)}}
                          {{form_widget(plainte.bureau,{'attr':{'class':'form-control'}})}}
                      </div>


                  </div>
              </div>

          </div>
          <div class="col-md-6" style="margin-left: 15px">
              <div class="row">
                  <div class="col-md-3" style="background-color: #fff; text-transform: uppercase; color: #000; font-family: Roboto-Light; font-size: 28px">
                      {{ 'Plainte' | trans }}
                  </div>
              </div>
              <div class="col-md-12" style="background-color: #fff; padding-top: 30px; color: #000; font-family: Roboto-Light">
                  <div class="form-group col-md-12">
                      {{form_label(plainte.choix,"Formulation de la plainte (*)"| trans)}}
                      {{form_errors(plainte.choix)}}
                      {{form_widget(plainte.choix,{'attr':{'class':'form-control','required':'required'}})}}

                  </div>
                  <div class="form-group col-md-12">
                      {{form_label(plainte.niveau,"Complained" | trans)}}(*)
                      {{form_errors(plainte.niveau)}}
                      {{form_widget(plainte.niveau,{'attr':{'class':'form-control','required':'required'}})}}
                  </div>

                  <div class="form-group col-md-12" id="produit">
                      {{form_label(plainte.produit,"Produit:"| trans)}}
                      {{form_widget(plainte.produit,{'attr':{'class':'form-control'}})}}
                  </div>

                  <div class="form-group col-md-12" id="autreobjet">
                      {{form_label(plainte.autreobjet,"Specify the subject of your complaint" | trans)}}
                      {{form_widget(plainte.autreobjet,{'attr':{'class':'form-control'}})}}
                  </div>
                  <div class="form-group col-md-12" id="autres">
                      {{form_label(plainte.autres.libelle,"Other" | trans )}}
                      {{form_widget(plainte.autres.libelle,{'attr':{'class':'form-control'}})}}
                  </div>
                  <div class="form-group col-md-12">
                      {{form_label(plainte.description,"Détail de la plainte"| trans)}}
                      {{form_widget(plainte.description,{'attr':{'class':'form-control','rows':5}})}}
                  </div>
              </div>
          </div>
      </div>
     {% endif %}






         {% if chVal is defined and chVal==1 %}
             <div class="col-md-12" style="margin-left: -10px">

                 <div class="col-md-6" style="margin-left: -15px">
                     <div class="row">
                         <div class="col-md-3" style="background-color: #fff; text-transform: uppercase; color: #000; font-family: Roboto-Light; font-size: 28px">
                             {{ 'Plainte' | trans }}
                         </div>
                     </div>
                     <div class="col-md-12" style="background-color: #fff; padding-top: 30px; color: #000; font-family: Roboto-Light">

                         <div class="form-group col-md-12">

                             {{form_label(plainte.bureau,"Bureau (*)"| trans)}}
                             {{form_errors(plainte.bureau)}}
                             {{form_widget(plainte.bureau,{'attr':{'class':'form-control'}})}}
                         </div>

                         <div class="form-group col-md-12">
                             {{form_label(plainte.choix,"Formulation de la plainte (*)"| trans)}}
                             {{form_errors(plainte.choix)}}
                             {{form_widget(plainte.choix,{'attr':{'class':'form-control'}})}}

                         </div>
                         <div class="form-group col-md-12">
                             {{form_label(plainte.niveau,"Complained" | trans)}}(*)
                             {{form_errors(plainte.niveau)}}
                             {{form_widget(plainte.niveau,{'attr':{'class':'form-control'}})}}
                         </div>


                     </div>
                 </div>


                 <div class="col-md-6" style="margin-left: 15px">
                     <div class="row">
                         <div class="col-md-3" style="background-color: #fff; text-transform: uppercase; color: #000; font-family: Roboto-Light; font-size: 28px">
                             {{ 'Plainte' | trans }}
                         </div>
                     </div>
                     <div class="col-md-12" style="background-color: #fff; padding-top: 30px; color: #000; font-family: Roboto-Light">


                         <div class="form-group col-md-12" id="produit">
                             {{form_label(plainte.produit,"Produit:"| trans)}}
                             {{form_widget(plainte.produit,{'attr':{'class':'form-control'}})}}
                         </div>

                         <div class="form-group col-md-12" id="autreobjet">
                             {{form_label(plainte.autreobjet,"Specify the subject of your complaint" | trans)}}
                             {{form_widget(plainte.autreobjet,{'attr':{'class':'form-control'}})}}
                         </div>
                         <div class="form-group col-md-12" id="autres">
                             {{form_label(plainte.autres.libelle,"Other" | trans )}}
                             {{form_widget(plainte.autres.libelle,{'attr':{'class':'form-control'}})}}
                         </div>
                         <div class="form-group col-md-12">
                             {{form_label(plainte.description,"Détail de la plainte"| trans)}}
                             {{form_widget(plainte.description,{'attr':{'class':'form-control','rows':5}})}}
                         </div>
                     </div>
                 </div>
         </div>
         {% endif %}

         {{ form_rest(plainte) }}
         <div class="row">
     <div class="col-md-4" style="margin-left: -10px; margin-top: 10px">
        <span style="font-weight: bold">(*) </span>{{ 'Require fields'| trans }}
     </div>
 </div>
   <div class="row">
       <div class="col-md-2 col-md-offset-5">
           <button type="submit" class="btn btn-primary" style="margin-top: 20px;">{{ 'Go'| trans }}</button>
       </div>
   </div>
         </form>

         </div>


    <div id="xxxx"></div>


    <div class="row">
        <div class="col-md-12">
            {% include 'GplainteBundle:ApiMobile:plaintes.html.twig' %}
        </div>
    </div>

    {% if (val=="AjouterClient" and id==1) %}
        {% include 'GplainteBundle:Client:addClientForm.html.twig' %}
    {% endif %}

    <script>




        $("#gplainte_gplaintebundle_plainte_client").change(function(e){
            e.preventDefault();
            var idx=$(this).val();
            traitement="{{ path('gplainte_search_client')}}"+"?idp="+idx;

            $.get(
                traitement,
                {},
                function(data){
{#                    alert(data);#}
                    var separe = data.split('/');
{#                    console.log(separe[0]);#}

                    $("#gplainte_gplaintebundle_plainte_telephone").html(separe[0]);
                    $("#gplainte_gplaintebundle_plainte_numdossier").html(separe[1]);

                },
                'html');


        });

        $("#gplainte_gplaintebundle_plainte_choix").change(function(e){
            e.preventDefault();
            var idx=$(this).val();
        traitement="{{ path('gplainte_search_objet')}}"+"?idp="+idx;
{#            traitement="http://localhost/satis/web/fr/redacteur/searchObjet?idp="+idx;#}
            $.get(
                    traitement,
                    {},
                    function(data){

                        $("#gplainte_gplaintebundle_plainte_niveau").removeAttr("style");
                        $("#gplainte_gplaintebundle_plainte_niveau").html(data);

                    },
                    'html');
        });

        $("#gplainte_gplaintebundle_denonciation_choix").change(function(e){
            e.preventDefault();
            var idx=$(this).val();
            traitement="{{ path('gplainte_search_objet')}}"+"?idp="+idx;
            {#            traitement="http://localhost/satis/web/fr/redacteur/searchObjet?idp="+idx;#}
            $.get(
                    traitement,
                    {},
                    function(data){
                        $("#gplainte_gplaintebundle_denonciation_niveau").removeAttr("style");
                        $("#gplainte_gplaintebundle_denonciation_niveau").html(data);
                    },
                    'html');
        });

        $("#anonymeForm").change(function(e){
            e.preventDefault();
//            var idx=$(this).val();
            var idx=$("input[name='ch']:checked").val();
            traitement="{{ path('gplainte_add_plainte')}}"+"?idp="+idx;
//            traitement="http://localhost/satis-2.0.0/web/app_dev.php/fr/addPlainte?idp="+idx;
//            alert(traitement);
            $.get(
                    traitement,
                    {},
                    function(data){

//                        $("#gplainte_gplaintebundle_denonciation_niveau").removeAttr("style");
                        $("#xxxx").html(data);

                    },
                    'html');
        });


        $(".loading").hide();

        $("#addComplaint").submit(function(e){
            $(".loading").show();
            e.preventDefault();
            var donnees= $(this).serialize();
            //alert(donnees);
            $.ajax({
                url: '{{ path('gplainte_add_plainte',{val:'ajouter','chVal':chVal})}}',
                type: "POST",
                data: donnees,
                dataType:"html",
                cache: false,
                success: function(data){
                    $('#response').html(data);

                    $(".loading").hide();
                    {#location.href='{{path('gplainte_add_plainte')}}';#}
                    {#                location.reload();#}
                }

            });

        });

        $("#gplainte_gplaintebundle_plainte_codeplaintemobile").hide();
        $("#gplainte_gplaintebundle_plainte_mobile").hide();
        $("label[for='gplainte_gplaintebundle_plainte_mobile']").hide();
        $("label[for='gplainte_gplaintebundle_plainte_codeplaintemobile']").hide();



        $("a[name='remplirP']").click(function(e){
            e.preventDefault();
            var id=$(this).attr("id");
            var description = $("#description"+id).text();
            var telephone = $("#telephone"+id).text();
            $("#gplainte_gplaintebundle_plainte_description").text(description);
            $("#gplainte_gplaintebundle_plainte_telephone").text(telephone);
            $("#gplainte_gplaintebundle_plainte_mobile").attr('checked',true);
            $("#gplainte_gplaintebundle_plainte_codeplaintemobile").text(id);

        });


        $("#gplainte_gplaintebundle_denonciation_codeplaintemobile").hide();
        $("#gplainte_gplaintebundle_denonciation_mobile").hide();
        $("label[for='gplainte_gplaintebundle_denonciation_mobile']").hide();
        $("label[for='gplainte_gplaintebundle_denonciation_codeplaintemobile']").hide();


        $("a[name='remplirD']").click(function(e){
            e.preventDefault();
            var id=$(this).attr("id");
            var description = $("#contenud"+id).text();
            var telephone = $("#telephoned"+id).text();
            $("#gplainte_gplaintebundle_denonciation_description").text(description);
//            $("#gplainte_gplaintebundle_plainte_telephone").text(telephone);
            $("#gplainte_gplaintebundle_denonciation_mobile").attr('checked',true);
            $("#gplainte_gplaintebundle_denonciation_codeplaintemobile").text(id);
        });



    </script>

{% endblock %}
