<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'Close' | trans }}</span></button>
                {{ 'Proposition de solution' | trans }}
            </div>
            <div class="modal-body">

                <form action="{{path('gplainte_denonciation_solution',{'id':id,'val':0})}}" method="POST" class="form-horizontal" id="" style="padding: 10px" >

                    <div class="form-group">
                        <label for="solution">Solution: </label>
                       <textarea rows="5" id="solution" name="solution" class="form-control"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary" style="margin-bottom: 0px; margin-left: 75%;">{{ 'Go' | trans }}</button>

                </form>

            </div>
        </div></div></div>


