{% extends "GplainteBundle::layout.html.twig" %}

{% block title %} {{ 'Complaint details'| trans }}{% endblock %}

{% block corps %}

<div class="col-md-12 borderStyle" style="">

    <div class="row">
        <div class="col-md-4 stl_show" style="margin-left: 0px">
            {{ 'Détail dénonciation'| trans }}
        </div>
    </div>





    <div class="row" style="margin-bottom: 10px; font-size: 18px">
        {#<div class="col-md-4">{{ 'Branch of'| trans }}:<span class="d_color"> {{list.agence}}</span></div>#}
        <div class="col-md-4">{{ 'Type complaint'| trans }}: <span class="d_color">{{list.choix.libelle}}</span></div>

        <div class="col-md-4">{{ 'Desk of'| trans }}: <span class="d_color">
                {% if list.bureau!=null %}{{list.bureau.libelle}}
            {% endif %}</span></div>
    </div>

    <div class="row" style="margin-bottom: 10px; font-size: 18px">
        {#<div class="col-md-4">{{ 'Type complaint'| trans }}: <span class="d_color">{{list.choix}}</span></div>#}
        <div class="col-md-4">{{ 'Complained'| trans }}:<span class="d_color"> {%if list.niveau.id is defined %}{{list.niveau.libelle}}{%else%}{%endif%}</span></div>
        <div class="col-md-4">{{ 'Description'| trans }}: <span class="d_color">{{list.description}}</span></div>
    </div>

      <div class="row">
          <div class="col-md-2 col-md-offset-10"><a style="" href="{{path('gplainte_show_denonciation')}}" class="btn btn-link btn-lg">{{ 'Dénonciations'| trans }}</a>
              {% if is_granted("ROLE_PILOTE") %}
              <a href="{{path('gplainte_justification_denonciation',{'val':'justifier','id':list.id})}}" class="btn btn-link btn-lg">{{ 'Justifier'| trans }}</a>
                {% endif %}
          </div>
      </div>
     
                       
 </div>
 {% if (id!=0 and val=="justifier") %}
        {% include 'GplainteBundle:Plainte:justification.html.twig' %}
    {% endif %}

{% endblock %}
