{% extends "GplainteBundle::layout.html.twig" %}

{% block title %} {{ 'Complaint details'| trans }}{% endblock %}

{% block corps %}

<div class="col-md-12 borderStyle" style="">

    <div class="row">
        <div class="col-md-4 stl_show" style="margin-left: 0px">
            {{ 'Complaint details'| trans }}
        </div>
    </div>

    <div class="row" style="margin-bottom: 10px; font-size: 18px">
        <div class="col-md-4">{{ 'File number'| trans }}: <span class="d_color">{{list.client.numDossier}}</span></div>
        <div class="col-md-4">{{ 'Last name'| trans }}: <span class="d_color">{{list.client.nom}}</span></div>
        <div class="col-md-4">{{ 'First name'| trans }}:<span class="d_color"> {{list.client.prenom}}</span></div>
    </div>

    <div class="row" style="margin-bottom: 10px; font-size: 18px">
        <div class="col-md-4">{{ 'Email address'| trans }}:<span class="d_color"> {{list.client.email}}</span></div>
        <div class="col-md-4">{{ 'social reason'| trans }}: <span class="d_color">{{list.client.raisonSociale}}</span></div>
        <div class="col-md-4">{{ 'Phone'| trans }}:<span class="d_color"> {{list.client.telephone1}}</span></div>
    </div>

    <div class="row" style="margin-bottom: 10px; font-size: 18px">
        <div class="col-md-4">{{ 'District'| trans }}:<span class="d_color"> {{list.client.quartier}}</span></div>
        {#<div class="col-md-4">{{ 'Branch of'| trans }}:<span class="d_color"> {{list.agence}}</span></div>#}
        <div class="col-md-4">{{ 'Type complaint'| trans }}: <span class="d_color">{{list.choix.libelle}}</span></div>
        <div class="col-md-4">{{ 'Desk of'| trans }}: <span class="d_color">{{list.bureau.libelle}}</span></div>
    </div>

    <div class="row" style="margin-bottom: 10px; font-size: 18px">
        {#<div class="col-md-4">{{ 'Type complaint'| trans }}: <span class="d_color">{{list.choix}}</span></div>#}
        <div class="col-md-4">{{ 'Complained'| trans }}:<span class="d_color"> {%if list.niveau.id is defined %}{{list.niveau.libelle}}{%else%}{%endif%}</span></div>
        <div class="col-md-4">{{ 'Description'| trans }}: <span class="d_color">{{list.description}}</span></div>
    </div>

      <div class="row">
          <div class="col-md-2 col-md-offset-10"><a style="" href="{{path('gplainte_show_plainte')}}" class="btn btn-link btn-lg">{{ 'List Complaint'| trans }}</a> <a href="{{path('gplainte_show_plainte',{'val':'affecter','id':list.id})}}" class="btn btn-link btn-lg">{{ 'Assign'| trans }}</a></div>
      </div>
     
                       
 </div>
 {#{% if (id!=0 and val=="affecter") %}     
        {% include 'GplainteBundle:Affecter:addAffecter.html.twig' %}
    {% endif %}
#}
{% endblock %}
