{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ "Import complaints" | trans }}{% endblock %}

{% block corps %}
   <div style='text-align: center; margin: 30px'>
      {# <a href='{{path('ajout_compte_bilan')}}' class='btn btn-default btn-lg'><i class="fa fa-columns fa-3x"></i>Ajouter</a>
    <a href='{{path('list_compte_bceao')}}' class='btn btn-default btn-lg'><i class="fa fa-columns fa-3x"></i>Liste</a>
#}    </div>
     <div id="reponse">
                
    </div>
    



<div class="col-md-8" style="margin-top: 10px; margin-left:0px">

    <div class='col-md-12'>

        <div class="row">
            <div class="col-md-6" style="background-color: #fff; text-transform: uppercase; color: #000; font-family: Roboto-Light; font-size: 26px">
                {{ 'Export complaints' | trans }}
            </div>
        </div>

    <form method="post" name="rechercheperiode" action="{{ path('gplainte_add_export_plainte') }}" class="form-horizontal" style="">

        <div class="col-md-12" style="background-color: #fff; padding: 10px 30px 20px 30px ;color: #000; font-family: Roboto-Light">

        <div class="row" style="font-size: 30px">
            {% if msg is defined %}
                <div class='alert-success' style='margin-bottom: 20px'>{{msg}} </div>
            {% endif %}
            {% if msgErr is defined %}
                <div class='alert-warning' style='margin-bottom: 20px'>{{msgErr}} </div>
            {% endif %}
        </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label>{{ 'Du'| trans }}:</label>
                    <input type="text" name="debut" id="debut" required="required" placeholder="{{ 'Start date'| trans }}" class="form-control">

                </div>
            </div>

            <div class="col-md-5 col-md-offset-1">
                <div class="form-group">
                    <label>{{ 'Au'| trans }}:</label>
                    <input type="text" name="fin" id="fin" required="required" placeholder="{{ 'End date'| trans }}" class="form-control">
                </div>
            </div>

            <div class="col-md-12">
                <button type="submit" class="btn btn-primary" style="float: right; margin-right: 35px">{{ 'OK'| trans }}</button>

            </div>
   </div>
    </form>
      </div>
        

</div>

{% endblock %}
