{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'List of indicators'| trans }}{% endblock %}

{% block corps %}
{#
  {% if app.request.query.get("id")==1 %}
      <div class="alert-success" style="font-size: 40px">Notification effectuée avec succès</div>
{% endif %}#}

<div class="col-md-12 borderStyle" style="">
    <div class="row">
    <div class="col-md-12 stl_show" style="">
        {{ 'List of indicators'| trans }}
    </div>
</div>
        <div class="table-responsive">
            <table class="table table-striped table-hover" id=''>
                <thead>
                <tr>
                    <th style="width: 75%">{{ 'Name of indicator'| trans }}</th>
                    <th>{{ 'Standard'| trans }}</th>
                    <th>{{ 'Value'| trans }}</th>
                   
                </tr>

                </thead>
                <tbody>
                {% for list in list %}
                    <tr>

                        <td>{{list.libelle}}</td>
                        <td>{{list.normeVal}}</td>
                        <td>
                            {% if list.id==1 %}
                                {{enregistrementPlainte}}%
                                {%elseif list.id==2 %}
                                    {{efficacite1}}%
                                        {%elseif list.id==4 %}
                                            {{satisfaction}} %
                                            {%endif%}
                           </td>
                    </tr>

                {% endfor%}
                </tbody>
            </table>
        </div>

 </div>
   
{% endblock %}
