<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="font-size: 18px">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'Close' | trans }}</span></button>
                {{ 'Justification de la dénonciation' | trans }}
            </div>
            <div class="modal-body">

                <form action="{{path('gplainte_denonciation_solution',{'val':'2','id':id})}}" method="post"  class="form-horizontal" id="" style="padding: 10px" >

                    <div class="input-group">
                  <span class="input-group-addon">
                          <input type="radio" aria-label="..." name="ch" value="non" id="njustifie"  checked > Non justifié
                          <input type="radio" aria-label="..." name="ch" value="oui" id="justifie"   > justifié
                  </span>
                        {#<input type="submit" value="ok" style="margin-left: 10px" class="btn btn-default">#}

                    </div>
                    <div class="form-group" id="solutions">
                        <label for="solution">Solution: </label>
                        <textarea rows="5" id="solution" name="solution" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-bottom: 0px; margin-left: 75%;">{{ 'Go' | trans }}</button>


                </form>

            </div>
        </div></div></div>
<script>
    $('#solutions').hide();
//    if ($("input[name='ch']:checked").val()==oui){
//        $('#solutions').show();
//    }
//    alert($("#justifie").val());
    $("#justifie").click(function(){
                $('#solutions').show();
            }
    );
    $("#njustifie").click(function(){
                $('#solutions').hide();
            }
    );
</script>

