{% extends "GplainteBundle::layout.html.twig" %}
{% block title %}Messages{% endblock %}

{% block corps %}
<div class="borderStyle" style="font-size: 50px; text-align: center; margin-top:90px">
    {% if msg is defined and msg==1 %}
        <span style="">
            {{ 'Your complaint has been well recorded, thank you for your confidence'| trans }}
        {# delai #}
        </span>
        {% endif %}

    {% if msg is defined and msg==2 %}
        <span style="">{{ 'Notification registered successfully'| trans }}</span>

    {% endif %}



</div>
{% endblock %}