{% extends "GplainteBundle::layout.html.twig" %}

{% block title %} {{ 'Suivi des plaintes'| trans }}{% endblock %}

{% block corps %}

<div class="col-md-12 borderStyle" style=" margin-top: 20px; margin-bottom: 40px;">



             <div class="row stl_show" style="margin-bottom: 20px">
                 <div class="col-md-4">{{ 'Suivi des plaintes'| trans }}</div>
                 <div class="col-md-5 col-md-offset-3"><a style="color: #000" href="{{ path('gplainte_suivi_plainte') }}">{{ 'Retourner sur la liste' | trans }}</a> </div>
             </div>



    {#{{ satisfaction }}#}
    {#{% if satisfaction is not defined %}#}
        {#{{ 'kgjfgkfjgdkfjgdk fgfgfds' }}#}
    {#{% endif %}#}
{% if satisfaction.plainte is defined %}
    <div class="row" style="margin-bottom: 10px; font-size: 18px;">
        <div class="col-md-4">{{ 'Number folder'| trans }}: <span class="d_color">{{satisfaction.plainte.client.numDossier}}</span></div>
        <div class="col-md-4">{{ 'Last name'| trans }}: <span class="d_color">{{satisfaction.plainte.client.nom}}</span></div>
        <div class="col-md-4">{{ 'First name'| trans }}:<span class="d_color"> {{satisfaction.plainte.client.prenom}}</span></div>
    </div>

    <div class="row" style="margin-bottom: 10px; font-size: 18px">
        <div class="col-md-4">{{ 'Email address'| trans }}:<span class="d_color"> {{satisfaction.plainte.client.email}}</span></div>
        <div class="col-md-4">{{ 'social reason'| trans }}: <span class="d_color">{{satisfaction.plainte.client.raisonSociale}}</span></div>
        <div class="col-md-4">{{ 'téléphone'| trans }}:<span class="d_color"> {{satisfaction.plainte.client.telephone1}}</span></div>
    </div>

    <div class="row" style="margin-bottom: 10px; font-size: 18px">
        <div class="col-md-4">{{ 'District'| trans }}:<span class="d_color"> {{satisfaction.plainte.client.quartier}}</span></div>
        {#<div class="col-md-4">{{ 'Branch of'| trans }}:<span class="d_color"> {{list.agence}}</span></div>#}
        <div class="col-md-4">{{ 'Type complaint'| trans }}: <span class="d_color">{{satisfaction.plainte.choix.libelle}}</span></div>
        <div class="col-md-4">{{ 'Desk of'| trans }}: <span class="d_color">{{satisfaction.plainte.bureau.libelle}}</span></div>
    </div>

    <div class="row" style="margin-bottom: 10px; font-size: 18px">
        {#<div class="col-md-4">{{ 'Type complaint'| trans }}: <span class="d_color">{{list.choix}}</span></div>#}
        <div class="col-md-4">{{ 'Complained'| trans }}:<span class="d_color"> {%if satisfaction.plainte.niveau.id is defined %}{{satisfaction.plainte.niveau.libelle}}{%else%}{%endif%}</span></div>
        <div class="col-md-4">{{ 'Description'| trans }}: <span class="d_color">{{satisfaction.plainte.description}}</span></div>
    </div>


    <fieldset><legend>{{ 'Niveau de traitement'| trans }}</legend></fieldset>

    <div class="row" style="margin-bottom: 10px; font-size: 18px">
        <div class="col-md-4">{{ 'Date affectation'| trans }}:<span class="d_color"> {{satisfaction.dateAffectation | date ('d-m-Y')}}</span></div>
        <div class="col-md-4">{{ 'Service affectation'| trans }}: <span class="d_color">{{satisfaction.service.libelle}}</span></div>
        <div class="col-md-4">{{ 'Agent du traitement'| trans }}:<span class="d_color"> {% if satisfaction.agent==null %} Non traité {% else %}{{ satisfaction.agent.nomprenom }}{% endif %}</span></div>
    </div>
    {% if satisfaction.action!=null %}
    <div class="row" style="margin-bottom: 10px;; font-size: 18px">

        <div class="col-md-4">{{ 'Date traitement'| trans }}:<span class="d_color"> {{ satisfaction.action.dateAction | date ('d-m-Y') }}</span></div>
        <div class="col-md-4">{{ 'Solution proposée'| trans }}:<span class="d_color"> {{satisfaction.action.solution}}</span></div>
        <div class="col-md-4">{{ 'Action proposée'| trans }}: <span class="d_color">{{satisfaction.action.prevention}}</span></div>

    </div>
        {% if satisfaction.action.notifier!=null %}
    <div class="row" style="margin-bottom: 10px; font-size: 18px">

        <div class="col-md-4">{{ 'Date communication'| trans }}: <span class="d_color">{{satisfaction.action.notifier.date | date('d-m-Y')}}</span></div>
        <div class="col-md-4">{{ 'Moyen communication'| trans }}:<span class="d_color"> {{satisfaction.action.notifier.moyencommunication}}</span></div>
        <div class="col-md-4">{{ 'Satisfaction'| trans }}:<span class="d_color">{% if satisfaction.action.notifier.satisfaction!=null %} {% if satisfaction.action.notifier.satisfaction.libelle=='O' %}
        Oui {% else %} Non {% endif %}{% else %} Pas avis client{% endif %}
        </span></div>

    </div>
        {% endif %}
    {% endif %}

{% else %}
    <div class="row" style="margin-bottom: 10px; font-size: 18px">
        <div class="col-md-4">{{ 'Number folder'| trans }}: <span class="d_color">{{satisfaction.client.numDossier}}</span></div>
        <div class="col-md-4">{{ 'Last name'| trans }}: <span class="d_color">{{satisfaction.client.nom}}</span></div>
        <div class="col-md-4">{{ 'First name'| trans }}:<span class="d_color"> {{satisfaction.client.prenom}}</span></div>
    </div>

    <div class="row" style="margin-bottom: 10px; font-size: 18px">
        <div class="col-md-4">{{ 'Email address'| trans }}:<span class="d_color"> {{satisfaction.client.email}}</span></div>
        <div class="col-md-4">{{ 'social reason'| trans }}: <span class="d_color">{{satisfaction.client.raisonSociale}}</span></div>
        <div class="col-md-4">{{ 'téléphone'| trans }}:<span class="d_color"> {{satisfaction.client.telephone1}}</span></div>
    </div>

    <div class="row" style="margin-bottom: 10px; font-size: 18px">
        <div class="col-md-4">{{ 'District'| trans }}:<span class="d_color"> {{satisfaction.client.quartier}}</span></div>
        {#<div class="col-md-4">{{ 'Branch of'| trans }}:<span class="d_color"> {{list.agence}}</span></div>#}
        <div class="col-md-4">{{ 'Type complaint'| trans }}: <span class="d_color">{{satisfaction.choix.libelle}}</span></div>
        <div class="col-md-4">{{ 'Desk of'| trans }}: <span class="d_color">{{satisfaction.bureau.libelle}}</span></div>
    </div>

    <div class="row" style="margin-bottom: 10px; font-size: 18px">
        {#<div class="col-md-4">{{ 'Type complaint'| trans }}: <span class="d_color">{{list.choix}}</span></div>#}
        <div class="col-md-4">{{ 'Complained'| trans }}:<span class="d_color"> {%if satisfaction.niveau.id is defined %}{{satisfaction.niveau.libelle}}{%else%}{%endif%}</span></div>
        <div class="col-md-4">{{ 'Description'| trans }}: <span class="d_color">{{satisfaction.description}}</span></div>
    </div>

    {% endif %}
 </div>
 {#{% if (id!=0 and val=="affecter") %}     
        {% include 'GplainteBundle:Affecter:addAffecter.html.twig' %}
    {% endif %}
#}
{% endblock %}
