{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'List of archived complaints'| trans }}{% endblock %}

{% block corps %}

<div class="col-md-12 borderStyle" style="">


    <div class="panel panel-default" style="border:0px solid transparent">
        <div class="panel-heading" role="tab" id="">
            <h4 class="panel-title" style="float: left; display: block;">
                <a style="display:block!important;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#42xx" aria-expanded="false" aria-controls="collapseTwo">
                    {{ 'Liste des dénonciations archivées'| trans }}
                </a>
            </h4>
            <span style="margin-left: 30%;cursor: pointer;">
                {#<i id="caret" dt="41" class="zmdi zmdi-caret-down zmdi-hc-2x"></i>#}
            </span>
        </div>
        <div id="42xx" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
            <div class="panel-body" id="reponse" style="background-color: #fff; padding: 0px">

                <div class="table-responsive">
                    <table class="table table-striped table-hover" id='listeplainte'>
                        <thead>
                        <tr>

                            <th>{{ 'Type complaint'| trans }}</th>
                            <th>{{ 'Complained'| trans }}</th>
                            <th>{{ 'Date of record'| trans }}</th>
                            <th>{{ 'Details'| trans }}</th>
                            <th>{{ 'Solution'| trans }}</th>

                        </tr>

                        </thead>
                        <tbody>
                        {% for list in list2 %}
                            <tr>

                                <td>{{list.choix.libelle}}

                                </td>
                                <td>{%if list.niveau.id is defined %}{{list.niveau.libelle}}{%else%}{%endif%}</td>
                                <td>{{list.dateCreation | date('d/m/Y')}}</td>
                                <td>{{list.description}}</td>
                                <td>{{list.solution}}</td>
                                {#<td style="padding-left: 30px"><a href="{{path('gplainte_show_plainte_archived',{'val':'detail','id':list.id})}}"><span class="zmdi zmdi-eye iconlist"></span> </a></td>#}

                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-8 stl_show" style="">
            {{ 'List of archived complaints'| trans }}
        </div>
</div>
                            <div class="table-responsive">
<table class="table table-striped table-hover" id='listeplainte'>
            <thead>
                <tr>
                    <th>{{ 'File number'| trans }}</th>
                   <th>{{ 'Last name'| trans }}</th>
                    <th>{{ 'First name'| trans }}</th>
                    <th>{{ 'Email address'| trans }}</th>
                    <th>{{ 'Type complaint'| trans }}</th>
                    <th>{{ 'Complained'| trans }}</th>
                  <th>{{ 'Date of record'| trans }}</th>
                    <th>{{ 'Details'| trans }}</th>
                </tr> 
                
            </thead>
            <tbody>
                    {% for list in list %}
                    <tr>
                       
                      <td>{{list.plainte.client.numDossier}}</td>
                         <td>{{list.plainte.client.nom}}</td>
                        <td>{{list.plainte.client.prenom}}</td>
                        <td>{{list.plainte.client.email}}</td>
                        <td>{{list.plainte.choix.libelle}}
                       
                        </td>
                        <td>{%if list.plainte.niveau.id is defined %}{{list.plainte.niveau.libelle}}{%else%}{%endif%}</td>
                        <td>{{list.plainte.dateCreation | date('d/m/Y')}}</td>
                        <td style="padding-left: 30px"><a href="{{path('gplainte_show_plainte_archived',{'val':'detail','id':list.id})}}"><span class="zmdi zmdi-eye iconlist"></span> </a></td>

                    </tr>
                
                {% endfor%}

            </tbody>
        </table>
    </div>





 </div>


{% endblock %}
