{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Suivi des plaintes'| trans }}{% endblock %}

{% block corps %}

    <div class="col-md-12 borderStyle" style="" xmlns="http://www.w3.org/1999/html">

        <div class="row">
            <div class="col-md-8 stl_show" style="">
                {{ 'Suivi des plaintes'| trans }}
            </div>

            <div class="col-md-4">
                {#<a style="color:#002200; float: right" href="{{ path('gplainte_show_denonciation') }}">Plaintes anonymes</a>#}
            </div>

        </div>

        <div class="table-responsive">
            {#<form method="post" name="rechercheperiode" action="{{ path('gplainte_show_plainte') }}" class="form-horizontal" style="margin-left: 190px">#}
                {#<label>{{ 'period'| trans }}:</label>#}
                {#<input type="text" name="debut" id="debut" placeholder="{{ 'Start date'| trans }}" class="">#}
                {#<input type="text" name="fin" id="fin" placeholder="{{ 'End date'| trans }}" class="">#}
                {#<button type="submit" class="btn btn-primary" style="height:26px; padding-top:3px">{{ 'OK'| trans }}</button>#}
            {#</form>#}
            <table class="table table-striped table-hover" id='table_list_suivi'>
                <thead>
                <tr style="background-color:#f79646; color: #fff "><th colspan="3" style="text-align: center; font-size: 20px">{{ 'Plainte'|trans}}</th>
                    <th colspan="3" style="padding-left:80px; font-size: 20px">{{ 'Traitement'|trans}}</th>
                    <th colspan="2" style="text-align: center; font-size: 20px">{{ 'Communication client'|trans}}</th>
                    <th></th>
                </tr>
                <tr>
                    <th>{{ 'Last name'| trans }}  {{ 'First name'| trans }}</th>
                    <th>{{ 'Complained'| trans }}</th>
                    <th style="display:none;">{{ 'id'|trans }}</th>
                    <th>{{ 'Date création' | trans }}</th>
                    {#<th>{{ 'Processed'|trans }}</th>#}
                    <th>{{ 'Service'| trans }}</th>
                    <th>{{ 'Durée'| trans }}</th>
                    <th>{{ 'Solution' | trans }}</th>

                    <th>{{ 'Date' | trans }}</th>
                    <th>{{ 'Satisfaction' | trans }}</th>
                    <th>{{ "Details"| trans }}</th>
                    {#<th></th>#}
                </tr>

                </thead>
                <tbody>
                {% for list in list %}
                {#{% for list4 in list4 %}#}
                    {#{% if list.id==list4.plainte %}#}
                    <tr>
                        {% if list.affection is defined and list.affection==0 %}
                        <td>{{list.client.nom}}  {{list.client.prenom}}</td>
                        <td class="obj">{%if list.niveau.id is defined %}{{list.niveau.libelle}}{%else%}{%endif%}</td>
                            <td style="display:none;">{{ list.niveau.id }} </td>
                            <td class="datcre">{{list.dateCreation | date('d-m-Y')}}</td>
                        {#<td>{{ list.traitement }}</td>#}
                        <td>{% if list.service!=null %}{{list.service.libelle}}{% endif %}</td>
                        <td>{% if list.service!=null %}
                            {#{% set difference=date(list.action.notifier.date).diff(date(list.plainte.dateCreation)) %}#}
                            {#{{ difference }}#}
                            {% endif %}
                        </td>
                        <td></td>
                        <td>
                        </td>
                        <td>
                            {#{% if list.service!=null and list.action.notifier.satisfaction!=null %} {% if list.action.notifier.satisfaction.libelle=='O' %}#}
                                {#Oui {% else %} Non {% endif %}{% else %} Pas avis client{% endif %}#}
                        </td>

                            <td style="padding-left: 30px"><a href="{{path('gplainte_etat_plainte',{'val':'etat','id':list.id})}}" class=""><span class="zmdi zmdi-eye iconlist"></span></a></td>

                        {% else %}

                            <td>{{list.plainte.client.nom}}  {{list.plainte.client.prenom}}</td>
                            <td>{%if list.plainte.niveau.id is defined %}{{list.plainte.niveau.libelle}}{%else%}{%endif%}</td>
                            <td style="display:none;">{%if list.plainte.niveau != null %}{{ list.plainte.niveau.id }}{%else%}{%endif%} </td>
                            <td class="datcre">{{list.plainte.dateCreation | date('d-m-Y')}}</td>
                            {#<td>{{ list.plainte.traitement }}</td>#}
                            <td>{{list.service.libelle}}</td>
                            <td class="duree">
                                {% if list.action!=null and list.action.notifier!=null %}
                                {% set difference=date(list.action.notifier.date).diff(date(list.dateAffectation)) %}

                                    {#{{ list.dateApprobation }}#}

                            {{ difference.format('%d jour(s)') }}
                                {% endif %}
                            </td>
                            <td>
                                {% if list.action!=null %}
                                    {{list.action.solution}}
                                {% else %}

                                {% endif %}
                            </td>

                            <td>{% if list.action!=null and list.action.notifier!=null %}
                                {{list.action.notifier.date | date('d-m-Y')}}
                                {% endif %}
                            </td>
                            <td>
                                {% if list.action!=null and list.action.notifier!=null %}
                                {% if list.action.notifier.satisfaction!=null %} {% if list.action.notifier.satisfaction.libelle=='O' %}
                            Oui {% else %} Non {% endif %}{% else %} {% endif %}
                                {% endif %}
                            </td>

                            <td style="padding-left: 30px"><a href="{{path('gplainte_etat_plainte',{'val':'etat','id':list.plainte.id})}}"><span class="zmdi zmdi-eye iconlist"></span></a></td>


                        {% endif %}

                    </tr>
                {#{% endfor%}#}
                {% endfor%}
                </tbody>
            </table>
        </div>

    </div>
    {#{% if (id!=0 and val=="affecter") %}#}
        {#{% include 'GplainteBundle:Affecter:addAffecter.html.twig' %}#}
    {#{% endif %}#}

{% endblock %}
