{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Liste plaintes récurrentes'| trans }}{% endblock %}

{% block corps %}

<div class="col-md-12 borderStyle" style="">
    <div class="row">
        <div class="col-md-6 stl_show" style="">
            {{ 'Liste plaintes récurrentes'| trans }}
        </div>
        <div class="col-md-6" style="margin-left: 15px">
            {#<form method="post" name="rechercheperiode" action="{{ path('gplainte_show_plainte') }}" class="form-horizontal" style="margin-left: 186px">#}
                {#<label style="font-weight: bold">{{ 'Du'| trans }}:</label>#}
                {#<input type="text" name="debut" required="required" id="debut" placeholder="{{ 'Start date'| trans }}" class="pers">#}
                {#<label style="font-weight: bold">{{ 'Au'| trans }}:</label>#}
                {#<input type="text" name="fin" required="required" id="fin" placeholder="{{ 'End date'| trans }}" class="pers">#}
                {#<button type="submit" class="btn btn-primary" style="font-size: 16px; margin-top: 10px ">{{ 'OK'| trans }}</button>#}
            {#</form>#}
        </div>
    </div>

<div class="table-responsive">

<table class="table table-striped table-hover" id='listeplainte'>
            <thead style="">
                <tr>
                    <th>{{ 'Id'| trans }}</th>
                    <th>{{ 'Number folder'| trans }}</th>
                    <th>{{ 'Last name'| trans }}</th>
                    <th>{{ 'First name'| trans }}</th>
                    <th>{{ 'Email address'| trans }}</th>
                    {#<th>{{ 'Type complaint'| trans }}</th>#}
                    <th>{{ 'Complained'| trans }}</th>
                   {#<th>Date création</th>#}

                    <th>{{ 'Details'| trans }}</th>
                   {#<th>{{ 'Affect'| trans }}</th>#}

                </tr>
                
            </thead>
            <tbody>
                    {% for key, list in objetsPlaintes %}

                        <tr>
                            <th colspan="1"><h3>Catégorie: <span class="color: green"></span>{{ key }}</h3></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>

                    {% for list in list %}
                    <tr>
                        <td>
                            {% if list.id | length > 2 %}
                                0{{list.id}}
                            {% elseif list.id | length > 1 %}
                            00{{list.id}}
                            {% elseif list.id | length > 0 %}
                            000{{list.id}}
                            {% endif %}
                        </td>
                        <td>{{list.client.numDossier}}</td>
                        <td>{{list.client.nom}}</td>
                        <td>{{list.client.prenom}}</td>
                        <td>{{list.client.email}}</td>
                        {#<td>{{list.choix.libelle}}#}
                       {##}
                        {#</td>#}
                        <td>{%if list.niveau.id is defined %}{{list.niveau.libelle}}{%else%}{%endif%}</td>

                      {#  {% if is_granted('ROLE_ADMIN') %}
                       <td><a href="{{ path('ajout_institution', {val:'afficherForm','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/edit.png" title="Modifier"></a></td>
                       <td><a href="{{ path('ajout_institution', {val:'supprimer','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/remove.png" title="Supprimer"></a></td>{% endif %}
#}
                      <td style="padding-left: 30px">
                          <a href="{{path('gplainte_show_plainte',{'val':'detail','id':list.id})}}"><span class="zmdi zmdi-eye iconlist"></span> </a>
                      </td>
                      {#<td style="padding-left: 30px"><a href="{{path('gplainte_show_plainte',{'val':'affecter','id':list.id})}}"><i class="zmdi zmdi-long-arrow-right zmdi-hc-lg iconlist"></i></a></td>#}
                    </tr>
                    {% endfor%}
                {% endfor%}
            </tbody>
        </table>
                            </div>
                       
 </div>
 {#{% if (id!=0 and val=="affecter") %}     #}
        {#{% include 'GplainteBundle:Affecter:addAffecter.html.twig' %}#}
    {#{% endif %}#}

{% endblock %}
