{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'Liste des plaintes anonymes'| trans }}{% endblock %}

{% block corps %}

<div class="col-md-12 borderStyle" style="">
    <div class="row">
        <div class="col-md-6 stl_show" style="">
            {{ 'Liste des plaintes anonymes'| trans }}
        </div>

    </div>

    {%if msg is defined and msg==1%}
        <div class="col-md-12 alert-success" style="margin-bottom: 20px; font-size: 30px">
            {{ 'Ajout de solution effectuée avec succès' | trans }}
        </div>
    {% endif %}

<div class="table-responsive">

<table class="table table-striped table-hover" id='listeplainte'>
            <thead style="">
                <tr>
                    <th>{{ 'Id'| trans }}</th>
                    <th>{{ 'Complaint type'| trans }}</th>
                    <th>{{ 'Complaint subject'| trans }}</th>
                   {#<th>Date création</th>#}
                     {#<th>Pays</th>#}
                    <th>{{ 'Details'| trans }}</th>
                   <th>{{ 'Etat'| trans }}</th>
                </tr> 
                
            </thead>
            <tbody>
                    {% for list in list %}
                    <tr>
                        <td>{% if list.id | length > 2 %}
                                0{{list.id}}
                            {% elseif list.id | length > 1 %}
                            00{{list.id}}
                            {% elseif list.id | length > 0 %}
                            000{{list.id}}
                            {% endif %}
                        </td>

                        <td>{{list.choix.libelle}}
                       
                        </td>
                        <td>{%if list.niveau.id is defined %}{{list.niveau.libelle}}{%else%}{%endif%}</td>
                        

                      {#  {% if is_granted('ROLE_ADMIN') %}
                       <td><a href="{{ path('ajout_institution', {val:'afficherForm','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/edit.png" title="Modifier"></a></td>
                       <td><a href="{{ path('ajout_institution', {val:'supprimer','id': list.id}) }}"><img src="{{ app.request.schemeAndHttpHost }}/promfi/web/assets/img/remove.png" title="Supprimer"></a></td>{% endif %}
#}
                      <td style="padding-left: 30px"><a href="{{path('gplainte_show_denonciation',{'val':'1','id':list.id})}}"><span class="zmdi zmdi-eye iconlist"></span> </a></td>
                      <td style="padding-left: 30px">
                                {% if list.justification==null %}
                          <a href="{{path('gplainte_show_denonciation',{'val':'1','id':list.id})}}" title="cliquer sur le bouton details" style="color: green">  En attente de validation</a>
                                {% elseif list.justification=='oui' %}
                          {% if is_granted("ROLE_PILOTE") %}
                                <a href="{{path('gplainte_justification_denonciation',{'val':'3','id':list.id})}}" style="color: green">  Proposition de solutions  </a>
                          {% endif %}
                                {% endif %}

                        </td>
                    </tr>
                
                {% endfor%}
            </tbody>
        </table>
                            </div>
                       
 </div>

    <script>
        /*$(document).ready(function() {
            $('#listplainte').dataTable( {
                "language": {
                    "sSearch": "Search:",
                }
            } );
        } );*/
    </script>
 {% if (id!=0 and val==3) %}
        {% include 'GplainteBundle:Plainte:addSolutionsDenonciation.html.twig' %}
    {% endif %}

{% endblock %}
