{% trans_default_domain 'FOSUserBundle' %}
<fieldset style="margin-top: 30px">
        <legend>mise à jour profile</legend>
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    {#{{ form_widget(form) }}#}
        <div class="row-fluid">
                <div class="span4">
                    {{form_row(form.username)}}
                    {{form_row(form.email)}}
                   {# {{form_row(form.institution.nominst)}}
                    {{form_row(form.institution.numagrinst)}}
                    {{form_row(form.institution.datecre)}}#}
                </div>


            

                    <div class="span4">

                    {{form_rest(form)}}
                    </div>
                </div>
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-primary" style="margin-top: 5px;" />
    </div>
</form>
</fieldset>