{% extends "GPlainteBundle::layout.html.twig" %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block corps %}
    <div class="row">
        {#<div class="col-md-12">
            <fieldset><legend>Liste des comptes

                </legend></fieldset>
            <table class="table">
                <thead>
                <tr>
                    <th>Login</th>
                    <th>Sigle</th>
                    <th>Dénomination sociale</th>
                    <th>Numéro agrément</th>
                    <th>Profil</th>
                    <th></th>
                    <th></th>
                </tr>

                </thead>
                <tbody>
                {% for list in list %}
                    {% if list.roles[0]=="ROLE_INSTITUTION" or list.roles[0]=="ROLE_RESEAU"  %}
                        <tr>
                        <td>{{ list.username }}</td>
                        <td>
                            {{ list.institution.sigle }}
                        </td>
                        <td>
                            {{ list.institution.nominst }}
                        </td>
                        <td>{{ list.institution.numagrinst }}</td>
                        <td>
                            {%  if list.roles[0]=='ROLE_INSTITUTION' %}
                                Institution
                            {% endif %}
                            {%  if list.roles[0]=='ROLE_RESEAU' %}
                                Reseau
                            {% endif %}
                        </td>
                        <td>Désactiver</td>
                        <td>Modifier</td>
                        </tr>{% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>#}
    </div>

{% endblock corps %}