{% trans_default_domain 'FOSUserBundle' %}

{#<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>#}
<div class="col-md-12 borderStyle">

    <div class="row">
           <div class="stl_show" style="padding-left: 15px; padding-bottom: 20px">{{ 'Profil' | trans }}</div>

        <div class="table-responsive" style="margin: 0 10px 0 0">

<table class="table table-striped" style="width: 100%;">
                     <tbody>
                         <tr>
                             <td>{{ 'Username'|trans}} :</td>
                             <td>{{user.username}}</td>
                         </tr>
                         <tr>
                             <td>{{ 'Password'|trans}} :</td>
                             <td><a style="color: #0066cc" href="{{path('fos_user_change_password')}}">{{ 'Update'|trans}}</a></td>
                         </tr>
                         <tr>
                             <td>{{ 'Email'|trans}} :</td>
                             <td>{{user.email}}</td>
                         </tr>
                        
                        {# <tr>
                             {% if  user.roles[0]=="ROLE_GOLD" or user.roles[0]=="ROLE_PLATIUM" or user.roles[0]=="ROLE_ADMIN" %}
                             <td>Nom et prénom :</td>
                             <td>{{user.nom}} {{user.prenom}}</td>
                             {% else %}

                             <td>Institution :</td>
                             <td>{{user.institution.nominst}}</td>
                             {% endif %}
                         </tr>#}
                        {# <tr>
                             <td>Prenom :</td>
                             <td>{{user.prenom}}</td>
                         </tr>#}
                         <tr>
                             <td>{{ 'Profil'|trans}} :</td>
                             <td>{% if  user.roles[0]=="ROLE_ADMIN" %}
                                    Administrateur
                                    {% elseif user.roles[0]=="ROLE_PILOTE" %}
                                        Pilote
                                        {%elseif  user.roles[0]=="ROLE_REDACTEUR"%}
                                    Editeur
                                    {%elseif  user.roles[0]=="ROLE_ANALYSTE"%}
                                    Analyste
                                    {%elseif  user.roles[0]=="ROLE_VERIFICATEUR"%}
                                    Superviseur
                                    
                                    {% endif %}</td>
                         </tr>
                     </tbody>
                 </table>
    </div>
                                    </div>
                                    </div>