{% trans_default_domain 'FOSUserBundle' %}
<fieldset style="margin-top: 30px">
        <legend>Mise à jour</legend>
<form action="{{ path('user_users_modifier',{'id':id}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    {#{{ form_widget(form) }}#}
        <div class="row-fluid">
                <div class="span4">
                    {{form_row(form.username)}}
                    {{form_row(form.email)}}
                    {{form_row(form.nom)}}
                </div>
           
                
            
                <div class="span4">
                   
                    {{form_row(form.prenom)}}
                    {{form_row(form.sexe)}}
                    {{form_row(form.contact)}}
                    {{form_row(form.ambassadeur)}}
                    
                </div>
                 
                    <div class="span4">
                    {{form_row(form.pays)}}
                    {{form_row(form.choix_parain)}}
                    {{form_row(form.emailParrain)}}
                    {{form_row(form.options)}}
                    {{form_rest(form)}}
                    </div>
                </div>
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-primary" style="margin-top: 5px;" />
    </div>
</form>
</fieldset>