{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'FAQ registration' | trans }} {% endblock %}

{% block corps %}
    <div class="col-md-12 borderStyle" style="">
        <div class="stl_show" style="padding-left: 15px; padding-bottom: 20px">{{ 'List FAQ' | trans }}</div>

        <table class="table table-striped table-hover" id='table_list_membre'>
            <thead>
            <tr>
                <th>{{ 'Question' | trans }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th></th>
                <th></th>
                {% endif %}
            </tr>

            </thead>
            <tbody>
            {% for list in list %}
                <tr>
                    <td>{{list.question}}</td>

                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('gplainte_add_faq', {val:'afficherForm','id': list.id}) }}"><img src="{{asset('assets/img/edit.PNG')}}" title="Modifier"></a></td>
                        <td><a href="{{ path('gplainte_add_faq', {val:'supprimer','id': list.id}) }}"><img src="{{asset('assets/img/remove.PNG')}}" title="Supprimer"></a></td>
                    {% endif %}

                </tr>

            {% endfor%}
            </tbody>
        </table>

    </div>

<div class="col-md-12" style="margin-top: 20px; margin-left: -30px">
    <div class='col-md-12'>

        <div class="row">
            <div class="col-md-4" style="background-color: #fff; text-transform: uppercase; color: #000; font-family: Roboto-Light; font-size: 26px">
                {{ 'FAQ registration' | trans }}
            </div>
        </div>


            <form action="{{ path('gplainte_add_faq',{val:val,id:id})}}" method="post" {{ form_enctype(faq) }} class="form-horizontal" id="" >

                <div class="col-md-12" style="background-color: #fff; padding-top: 30px; padding-bottom: 10px; color: #000; font-family: Roboto-Light">

                <div class="row" style="font-size: 30px">
                    {%if msg is defined and msg==2%}
                        <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                            {{ 'Modification completed successfully' | trans }}
                        </div>
                    {% endif %}

                    {%if msg is defined and msg==3%}
                        <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                            {{ 'Successful deletion' | trans }}
                        </div>
                    {% endif %}

                    {%if msg is defined and msg==1%}
                        <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                            {{ 'Adding completed successfully' | trans }}
                        </div>
                    {% endif %}

                    {%if msgErr is defined and msgErr==1%}
                        <div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">
                            {{ 'This record already exists' | trans }}
                        </div>
                    {% endif %}

                    {%if app.request.query.get("msgException")==1%}
                        <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                            {{ 'This question no longer exists' | trans }}

                        </div>
                    {% endif %}
                    {#{{app.request.query.get(msgException)}}#}
                    {%if app.request.query.get("msgException")==2%}
                        <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                            {{ 'This type is related to other operations' | trans }}

                        </div>
                    {% endif %}
                </div>


                <div class='col-md-12'>

                    <div class="form-group">
                        {{form_label(faq.question,"Question (*):"| trans)}}
                        {{form_widget(faq.question,{'attr':{'class':'form-control','rows':5}})}}
                    </div>

                    <div class="form-group">
                        {{form_label(faq.reponse,"Response (*):"| trans)}}
                        {{form_widget(faq.reponse,{'attr':{'class':'form-control','rows':5}})}}
                    </div>

                </div>

            <div class="col-md-12">
                <span style="font-weight: bold">(*)</span> {{ 'Require fields' | trans }}
            </div>

                <div class="col-md-12">
                    {{ form_rest(faq) }}


                    <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 20px; margin-right: -10px;">{{ 'Go' | trans }}</button>
                </div>
                </div>
            </form>
        </div>
    </div>

    {% if (id!=0 and val=="supprimer") %}
        {% include 'GplainteBundle:Faq:dialogue.html.twig' %}
    {% endif %}

{% endblock %}
