{% extends "GplainteBundle::layout.html.twig" %}

{% block title %}{{ 'FAQ'| trans }}{% endblock %}

{% block corps %}

<div class="col-md-12" style=" margin-top: 20px; margin-bottom: 40px">

       <h3 style="margin-left: 15px; color: #363f45; font-family: Roboto-Light; font-size: 42px">{{ 'Foire aux questions'| trans }}</h3>

       <!-- <div class="sidebar-collapse">
           <ul class="nav" id="main-menu">
             <li>fdfdgdfgfd</li>
           </ul>
        </div> -->


    {% for list in list %}
    <div class="col-md-6">


      <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="">
              <h4 class="panel-title" style="float: left; display: block;">
              <a style="display:block!important;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ list.id }}xx" aria-expanded="false" aria-controls="collapseTwo">
                    {{ list.question }}
                </a>
              </h4>
              <span style="margin-left: 30%;cursor: pointer;"><i id="caret" dt="{{ list.id }}" class="zmdi zmdi-caret-down zmdi-hc-2x"></i></span>
          </div>
          <div id="{{ list.id }}xx" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
              <div class="panel-body" id="reponse">

                  {{ list.reponse }}

                </div>
          </div>
      </div>



            {#<div class="panel panel-default">#}
                {#<div class="panel-heading">#}
                    {##}
                {#</div>#}
                {#<div class="panel-body">#}
                   {##}
                {#</div>#}
            {#</div>#}


    </div>
    {% endfor%}
                    {#<div class="col-md-12" style="font-size: 16px; padding: 8px 10px; background-color: #ccc">#}
                       {##}
                    {#</div>#}

                    {#<div class="col-md-11 col-md-offset-1" style="border-radius: 10px; border: 1px solid #F9F9F9; padding: 8px;font-size: 16px; margin-top: 5px; box-shadow: 2px 0px 2px;">#}
                        {##}
                    {#</div>#}



 </div>

    <script>
        $(document).ready(function(){
            var isDown=1;
            /*$('i[class^="zmdi-caret"]').click(function(){
             if(isDown==1){
             alert(isDown);
             $(this).removeClass('zmdi-caret-down');
             $(this).addClass('zmdi-caret-up');
             }
             else
             {
             alert(isDown);
             $(this).removeClass('zmdi-caret-up');
             $(this).addClass('zmdi-caret-down');
             }

             });*/
            $('i[id^="caret"]').each(function(i){
                //alert(i);
                $(this).click(function() {
                    var id=$(this).attr('dt');
                    if (isDown == 1) {
                        //alert(isDown);
                        $(this).removeClass('zmdi-caret-down');
                        $(this).addClass('zmdi-caret-up');

                        $("#"+id+"xx").collapse('show');
                        isDown=0;
                    }
                    else {
                        //alert(isDown);
                        $(this).removeClass('zmdi-caret-up');
                        $(this).addClass('zmdi-caret-down');
                        $("#"+id+"xx").collapse('toggle');
                        isDown=1;
                    }
                });

            });
            /*$('#caret').click(function(){
             if(isDown==1){
             alert(isDown);
             $(this).removeClass('zmdi-caret-down');
             $(this).addClass('zmdi-caret-up');
             }
             else
             {
             alert(isDown);
             $(this).removeClass('zmdi-caret-up');
             $(this).addClass('zmdi-caret-down');
             }

             })*/
        });

    </script>
{% endblock %}
