<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {#<div class="modal-header">#}
                {#<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>#}

            {#</div>#}
            <div class="">

            <div class="col-md-12" style="background-color: #fff; padding-top: 30px; padding-bottom: 10px; color: #000; font-family: Roboto-Light">




        <div class="row">
            <div class="col-md-12" style="background-color: #fff;  margin-left: -15px; text-transform: uppercase; color: #000; font-family: Roboto-Light; font-size: 26px">
                {{ 'Registration level' | trans }}
            </div>
        </div>

            <form action="{{ path('gplainte_add_typeniveau',{'val':val2,id:id})}}" method="post" {{ form_enctype(typeniveau) }} class="form-horizontal" id="" >

                <div class="row" style="font-size: 30px">
                    {%if msg is defined and msg==2%}
                        <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                            {{ 'Modification completed successfully' | trans }}
                        </div>
                    {% endif %}

                    {%if msg is defined and msg==3%}
                        <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                            {{ 'Successful deletion' | trans }}
                        </div>
                    {% endif %}

                    {%if msg is defined and msg==1%}
                        <div class="col-md-10 col-md-offset-1 alert-success" style="margin-bottom: 20px">
                            {{ 'Adding completed successfully' | trans }}
                        </div>
                    {% endif %}

                    {%if msgErr is defined and msgErr is defined%}
                        <div class="col-md-10 col-md-offset-1 alert-danger" style="margin-bottom: 20px">
                            {{msgErr}}
                        </div>
                    {% endif %}

                    {%if msgException is defined and msgException==1%}
                        <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                            {{ 'This type does not exist' | trans }}

                        </div>
                    {% endif %}
                    {#{{app.request.query.get(msgException)}}#}
                    {%if msgException is defined and msgException==2%}
                        <div class="col-md-10 col-md-offset-1 alert-warning" style="margin-bottom: 20px">
                            {{ 'This type is related to other operations' | trans }}

                        </div>
                    {% endif %}
                </div>


                <div class='col-md-12'>

                    <div class="form-group">
                        {{form_label(typeniveau.libelle,"Level :"| trans)}}
                        {{form_widget(typeniveau.libelle,{'attr':{'class':'form-control'}})}}
                    </div>

                </div>


                <div class="col-md-12">
                    {{ form_rest(typeniveau) }}


                    <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 20px; margin-right: -10px;">{{ 'Go' | trans }}</button>
                </div>

            </form>
    </div>
    {#<div class="col-md-12" style="min-height: 500px; margin-top: 20px">#}
        {#<fieldset><legend>{{ 'List levels' | trans }}</legend></fieldset>#}
       {##}
                    {#<table class="table table-striped table-hover" id='table_list_membre'>#}
                        {#<thead>#}
                        {#<tr>#}
                            {#<th>{{ 'Level' | trans }}</th>#}

                                {#<th></th>#}
                               {#<th></th>#}
                        {#</tr>#}

                        {#</thead>#}
                        {#<tbody>#}
                        {#{% for list in list %}#}
                            {#<tr>#}
                                {#<td>{{list.libelle}}</td>#}


                                  {#{% if is_granted('ROLE_ADMIN') %}#}
                                 {#<td><a href="{{ path('gplainte_add_typeniveau', {val:'afficherForm','id': list.id}) }}"><img src="{{asset('assets/img/edit.png')}}" title="Modifier"></a></td>#}
                                 {#<td><a href="{{ path('gplainte_add_typeniveau', {val:'supprimer','id': list.id}) }}"><img src="{{asset('assets/img/remove.png')}}" title="Supprimer"></a></td>{% endif %}#}

                            {#</tr>#}

                        {#{% endfor%}#}
                        {#</tbody>#}
                    {#</table>#}
               {##}
    {#</div>#}
    {#{% if (id!=0 and val=="supprimer") %}#}
        {#{% include 'GplainteBundle:typeNiveau:dialogue.html.twig' %}#}
    {#{% endif %}#}


</div>
        </div></div></div>